[2017-10-06 22:04] crobertsbmw opened #1 "Unexpected character '`'"
Everything seems to work great when running `npm run dev`, but I'm getting an error when I try to export for production by running `npm run build`:

[code]

This library looks awesome. Thanks.

[2017-10-07 02:44] jofftiquez commented on #1
Hey @crobertsbmw it was due to the backticks ( ` ) I used. It's an ES6 feature, one way of dealing with this type of problem is to install es6 presets to your babel configuration. But I already updated the repo, please see the latest version in `npm`. Thanks!

[2017-10-07 21:01] crobertsbmw commented on #1
Thank you very much, you kind sir.

[2017-10-07 21:30] crobertsbmw commented on #1
Thanks for working with me on this.
I updated the package and now I am getting a similar but different error:
[code]

[2017-10-09 01:51] jofftiquez commented on #1
Hi @crobertsbmw can I see your `.babelrc` please?

[2017-10-09 04:15] jofftiquez commented on #1
@crobertsbmw I added a webpack build for the new update `0.0.4`. Kindly give me a feedback after checking it. Thank you. :) Sorry it took a while.

[2017-10-09 16:24] crobertsbmw commented on #1
Here's my `.babelrc`:
{
  "presets": [ "env" ],
  "plugins": [
    "add-filehash",
    ["transform-imports", {
        "vuetify": {
            "transform": "vuetify/src/components/${member}"
        }
    }]
  ]
}

I had to uninstall and then reinstall it, but it's working. Thanks so much for all your help!

[2017-10-09 16:24] #1 closed

[2017-10-09 16:26] jofftiquez commented on #1
@crobertsbmw You were missing the `stage-2` preset. Anyways, it's working now. :) Thanks for submitting the issue.

[2017-10-17 03:51] crobertsbmw opened #2 "Calling Vue Code from within Token Callback"
This probably isn't an issue with the checkout, but probably just me not knowing what I am doing. I am having trouble calling any other methods inside the `token()` callback:

[code]
I am getting a `Uncaught TypeError: this.submit is not a function`. I've tried some other variations of calling submit(), this.submit, this.$submit, and it's not working. I'm assuming it has something to do with conte

[2017-10-17 04:24] wesratcliff commented on #2
Give this a shot with an anonymous function...

[code]

[2017-10-17 04:33] jofftiquez commented on #2
Hello @crobertsbmw, @wesratcliff  was right. You are experiencing a context issue. The problem is that the context of `Vue` or `this` is not accessible inside the `token(token) {...}` because it has it's own execution context. You can solve this by using arrow function like what @wesratcliff did. `token: (token) => {...}`

[2017-10-17 04:35] jofftiquez commented on #2
I probably should update the sample code. Thanks guys.

[2017-10-17 04:45] #2 closed

[2017-10-17 15:57] crobertsbmw commented on #2
Thanks, guys. I found another way to make it work although it feels sinful and wrong:

[code]
Using the arrow syntax is obviously the right way to do it. Thanks again.

[2017-10-17 18:13] jofftiquez commented on #2
@crobertsbmw Alternatively you can also do :
[code]
It's just a matter of handling the context really. :)

[2017-11-03 05:40] jofftiquez opened #4 "Create build for browsers"
Use rollup

[2017-12-04 22:27] jordanboston opened #5 "Wondering how to best pass data to server. (PHP)"
In the Stripe docs it shows an example of a form like so:
[code]

While I can get the token data and log it to the console, passing it to a PHP file from Vue seems to be giving me issues like 404 errors.  I am not sure that I can hit a PHP file, _like the example_, from the front-end since the request is likely blocked.

This is not an issue with this component, but I am wondering how to best acco

[2017-12-05 00:02] jofftiquez commented on #5
@jordanboston  I can give you an example later. :) Please wait for my response.

[2017-12-05 00:04] jofftiquez commented on #5
@jordanboston for the meantime you can look at some of the famous REST library in Vue. There's vue-axios and vue-resource.

[2017-12-05 00:07] jordanboston commented on #5
Thanks so much!  I am using axios, but it has dawned on me that I am going to need to create a custom endpoint on our WordPress site for this to work.  I don't think there will be any way to send the data to a PHP script on the server otherwise.

[2017-12-05 01:57] jofftiquez commented on #5
@jordanboston  Ooooooh so you were using wordpress? I'm not very familiar with PHP stuff but for most cases you really need create an endpoint to connect to. Correct me if im wrong, so you have a wordpress website but you don't have a separate API? In that case, I don't know how but you are right, you need to create a custom endpoint.

Also, this website that you are using `vue-stripe-checkout` wi

[2017-12-05 02:11] jordanboston commented on #5
It's all in the same site.  I've integrated Vue.js into the dashboard for user profiles.  It runs on the Apache PHP server, but the data is all via JSON.  I'll just create the custom endpoint, that makes sense. I had just wondered since I had seen examples of adding a form to the template area along with the token being used in the script area.

[code]
Anyway, I can close this out.  Thanks for tak

[2017-12-05 02:11] #5 closed

[2017-12-05 02:30] jofftiquez commented on #5
No problem at all @jordanboston Im happy to help, thanks for the appreciation for my work. You stay awesome ok? Cheers!

[2018-01-09 12:22] Raman1313 opened #6 "The payments sent through this popup doesnot reflect in the Stripe account"
Hi there,

I have inserted my publishable key in the code. When i fill the details and send the payment, it shows the green tick as if it has been paid successfully but it doesnot show up in my Stripe account.
Any help would be highly appreciable.

Thanks in advance.

[2018-01-10 03:07] jofftiquez commented on #6
Hi @Raman1313

I get that question a lot. Please be informed that Stripe's checkout is not responsible for actually storing the transaction or customer data in your stripe account. What it does is create a token from the user's card and credentials send it back to you in this function :

[code]

When you got the token back, you can now send it to your API to be used to store customers and create p

[2018-01-10 03:17] #6 closed

[2018-01-10 10:41] Raman1313 commented on #6
Thanks alot @jofftiquez .

[2018-02-02 19:15] HenSoftUK opened #7 "typescript type definition file missing"
Hi,
could you please add typescript type definition files. I really want to use this plugin in Typescript.
Many thanks.

[2018-02-03 04:07] jofftiquez commented on #7
@HenSoftUK I'll see what I can do.

[2018-02-09 17:40] HenSoftUK commented on #7
Hi,
Yes, I am using typescript for Vue
Best regardsHenry 
    On Saturday, 3 February 2018, 04:07:04 GMT, Jofferson Ramirez Tiquez <notifications@github.com> wrote:

@HenSoftUK I'll see what I can do.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-02-13 17:39] erwin16 opened #8 "How to add the user name below the email in the widget ?"
before firing the Stripe checkout , I ask the user to enter his user name and email

I display the user email within the Stripe widget with

       this.$checkout.open({
          email: this.email,

Is there anyway to add the user name in the widget and transmit it with the email and amount for better checking the received payments ??

         name; this.username

thanks for awesome work...  it'

[2018-02-13 18:15] erwin16 commented on #8
I guess it's better to request username and address in the widget ...

[2018-02-13 18:15] #8 closed

[2018-02-13 18:17] erwin16 opened #9 "is there anyway to localize the error message ?"
when we raise a procesing error .. is there anyway to localize the message ?

An error occurred processing your card. try again in a little bit

thanks fo feedback

[2018-02-14 01:44] jofftiquez commented on #9
Hi @erwin16 by "localize" do you mean parse the error message and display it on your own way?

[2018-02-14 06:34] erwin16 commented on #9
I mean change it to a frenc/spanish/.. whatever locale one ..

[2018-02-14 07:54] jofftiquez commented on #9
@erwin16 Ooh alright. I'm sorry. Upon checking the docs I don't think it is possible to localize the error messages. You can, however rely on the error codes to create a workaround. This link may help you. https://stackoverflow.com/a/24282080/2889614

[2018-02-22 21:20] patrickbolle opened #10 "How to access stripeEmail and other attributes?"
I need to use stripeEmail to create a customer on my server, how do I access this after creating the charge with this plugin?

I can send the token, but what else can I grab + how?

Thanks!

[2018-02-22 21:58] patrickbolle commented on #10
Nevermind! All that info is accessible within the token after creation.

Cheers.

[2018-02-22 21:58] #10 closed

[2018-02-23 03:12] jofftiquez commented on #10
@patrickbolle Im glad you found it. Thanks for using this plugin.

[2018-03-02 16:15] drosendo opened #11 "Question, FEE"
Thanks for this amazing script! really simple :)

More of a question than a bug, I cant seem to figure out how can I get the fee that was charged after i get the token.
` this.$checkout.open({})`

Any help you can give me to retrievng the FEE, i see there is balance_transtion just cant figure how to integrate it into this flow...
https://stripe.com/docs/api#balance_transaction_object

Appreciate t

[2018-03-03 02:20] jofftiquez commented on #11
@drosendo Hi thanks, Im gad you liked it. :)

If I understand you correctly, you haven't sent `token` to your server yet? If that's the case you need to manage the token in the server side in order to make payments, subscriptions, etc.

From this nodejs example [here](https://stripe.com/docs/api/node#create_charge) you'll see the create charge guide.

[code]
In this snippet you'll have to pay atte

[2018-03-06 04:33] jofftiquez commented on #4
@lunafi-evan not quite. The build output of that webpack setup is for npm usage only. What we need is a version for browser. Am gonna push an update in a minute to close this. Thanks for the reminder ;)

[2018-03-06 04:34] lunafi-evan commented on #4
got it! :+1:

[2018-03-06 04:47] #4 closed

[2018-03-06 04:50] jofftiquez commented on #4
@lunafi-evan there :) Thank you for using this.

[2018-03-12 21:58] tcdvm commented on #11
Hey there!

Thanks so much for the script! I think I might have a similar question to @drosendo but I'm not sure and it might just come down to my lack of understanding of the deeper particulars of javascript, so if the solution is obvious, forgive the ignorance.

Basically what I'm trying to do is pass an "amount" (maybe this is the Fee that @drosendo that is talking about too?) as a POST argumen

[2018-03-13 00:06] jofftiquez commented on #11
Hello @tcdvm

Thank you for using my plugin. :)

In you code here:

[code]
May I know where you declared the `someamount`? And what error or output are you seeing?

[2018-03-13 02:36] tcdvm commented on #11
Hey there! Thank *you* for creating the plugin! Really handy finding it. I figured out a workaround but maybe you have a more elegant way of dealing with it?

someamount is declared in the data of a Vue instance which is bound to a text field. It's what's passed to the $checkout.open for the stripe modal.

[code]

The actual POST to the server (local flask server) happens in the (token) => { ... }

[2018-03-13 03:31] jofftiquez commented on #11
Hi @tcdvm I'm a little bit confused, correct me if i'm wrong. So you just want the amount to be dynamic based on the value from the input?

If yes, doing this is enough:

[code]

[2018-03-13 14:06] tcdvm commented on #11
Sorry! I don't think I'm doing a good job explaining. Here's my full code:
- someamount is a bound data variable within the Vue instance
- It's in the workable scope up until the (token) => { ... } then when I try to reference it in the {...} block I get null so I can't send it to the server
- I can put the variable in a global scope and finally see it in the { ... } block but that's the only work

[2018-03-14 04:17] jofftiquez commented on #11
Hi @tcdvm thanks for the code and explanation. Let me just do a reproduction of your code.

[2018-03-14 04:49] jofftiquez commented on #11
@tcdvm After copying and testing your code, I did not get the same problem that you are describing.

Here's what I got:

[Sample code](https://pastebin.com/897eB73Z).

[code]

This snippet is the same code in my demo. Just ignore the other stuff. What I did was I just added a text input, I also mocked your `someamout` data.

Here's the output:

![Imgur](https://i.imgur.com/dXEb6Oo.png)

[2018-03-15 00:15] tcdvm commented on #11
Well. Goddamnit. You're right it works. I swear to god I used this exact syntax and I inexplicably kept getting null values and I tried to debug it for hours (usually via random changes and prayer). I feel like an idiot and I feel bad that I wasted your time! Thanks so much for the plugin and for taking the time to work through my apparently non-existent problem...

[2018-03-15 06:46] jofftiquez commented on #11
@tcdvm It's ok we all went through this kind of situations HAHA. Thanks for using my plugin :) Kudos!

[2018-03-15 06:46] #11 closed

[2018-04-05 20:37] hansy opened #12 "Use in single component instead of globally"
This might seem like a dumb question, but is there a way to import and use this in one component instead of registering the plugin globally?

[2018-04-06 05:46] jofftiquez commented on #12
Hello @hansy have you tried overriding the global options by setting it up on the component level? Like:

[code]

[2018-04-11 02:36] hansy commented on #12
Ah perhaps I didn't articulate my question aptly. I was wondering if there was a way to initiate (import) the plugin within a component instead of registering the plugin to Vue globally.

So ideally something like:

[code]

I'm still new to Vue, so perhaps the above scenario is the same as registering via `Vue.use(VueStripeCheckout, options)` on Vue initialization. I guess, I only really need a ha

[2018-04-11 02:42] jofftiquez commented on #12
@hansy hello! Good day. Sorry I did not understand you at first. I can do such implementation, however I don't see the point of doing it like that. May I know your reason why you want it to import that way? 😃

[2018-04-11 02:42] jofftiquez commented on #12
,

[2018-04-11 02:50] hansy commented on #12
I'd like to isolate certain functionality to a few select components. In this case, I'd only like a few (or even just one) of my components to have Stripe checkout functionality. I noticed that the external Stripe JS libraries also load in my non-checkout components, which doesn't seem necessary. Ideally, I only want the Stripe stuff to load with the relevant components.

[2018-04-11 03:01] jofftiquez commented on #12
@hansy Alright I get it now. I can consider this, however, maybe I can work on these this weekend. Let me see what I can do. :)

[2018-04-24 11:52] williamchong007 commented on #12
@jofftiquez Having it loaded by component might improve site first-load/js startup time in our case, since I can control the timing and lazy load it when needed

[2018-04-25 03:28] jofftiquez commented on #12
@williamchong007 that's a very good input. I will expedite this issue as soon as I'm done with my work this week. I am really sorry guys it is taking this long to solve this. I appreciate all of your inputs. Thanks! <3

[2018-05-02 06:19] peelmicro opened #14 "Use of the plugin with nuxt"
Have you tried using this plugin with nuxt?

I've created the following plugin file:
**/plugins/stripeCheckOut.js**
[code]

I've added the plugin to the nuxt.config.js file:
[code]

And, as soon as I try to invoke it I recevie the following error:
[code]

Any help it would be highly appreciated.

Thanks,

Juan

[2018-05-02 07:42] jofftiquez commented on #14
Hello @peelmicro can you try using `~/plugins/../dist/index.js`. Use the transpiled version in the `dist` folder.

[2018-05-02 16:13] peelmicro commented on #14
Hi @jofftiquez,

Thank you very much for the response. I've modified the /plugins/stripeCheckOut.js plugin file putting

`import VueStripeCheckout from '../node_modules/vue-stripe-checkout/dist'`

instead of

`import VueStripeCheckout from 'vue-stripe-checkout'`

with no success. The same error is thrown.

I've also tried to follow what is suggested in:

- [Import vue plugin correctly (unexpected

[2018-05-03 03:02] jofftiquez commented on #14
Hello @peelmicro

Disclaimer: I haven't use nuxt yet so I might say irrelevant things, please correct me if I'm wrong.

The error `Unexpected token import...` is happening because I think you are not using ES6 in your project. So I suggest that you use the index.js inside the `dist` folder.

Another solution that **might** help you is by using polyfill.

If those things didn't work, I will try to

[2018-05-03 15:26] peelmicro commented on #14
Hi @jofftiquez,

I can confirm that I'm currently using ES6.

Just to be sure, I've added babel polyfill, but with no success.

I think the issue is related to the links I put in the previous post.

Let me know if you need my help with anything.

Regards,

Juan

[2018-05-04 03:42] jofftiquez commented on #14
Hello @peelmicro

Alright, thanks for the inputs. I'll see what I can do. :)

[2018-05-04 08:53] williamchong007 commented on #14
I am using this in a nuxt plugin with
[code]
with no problem

[2018-05-04 08:55] williamchong007 commented on #14
FYI nodejs does not support `import` keyword by default, you need a transpiler

[2018-05-04 10:47] jofftiquez commented on #14
@williamchong007 thanks for the input. I was wondering what was wrong coz my code here is already transpiled to es5.

[2018-05-09 07:46] williamchong007 opened #15 "Got error `StripeCheckout is not defined`"
I use sentry for our production issue tracking, and I got like around 100s of this error
Any suggestions on how to figure out if theres anything wrong?

![image](https://user-images.githubusercontent.com/6198816/39802159-e521d6a4-539f-11e8-8c8c-77a45b60c584.png)

[2018-05-09 10:16] jofftiquez commented on #15
Hi @williamchong007 does sentry run the code in a headless browser or anything similar to simulate the code?

[2018-05-09 10:41] jofftiquez commented on #15
@williamchong007 wow that's nice! Hm that's weird tho, maybe I need to upgrade my code.

[2018-05-09 10:43] jofftiquez commented on #15
@williamchong007 But does this plugin work even with those errors?

[2018-05-09 12:28] williamchong007 commented on #15
@jofftiquez As far as we tested, this plugin is working for all of our testers without such error
It is just not loading at all for those other users I guess

[2018-05-10 07:32] jofftiquez commented on #15
@williamchong007 maybe it's related to the browser or browser version? Let's dig in deeper.

[2018-05-11 05:31] williamchong007 commented on #15
I think it is on some rare case `checkout.js` is not loaded properly, but the script doesnt quite know nor handled that

[2018-05-11 06:58] jofftiquez commented on #15
@williamchong007 that's a good starting point. Thanks! I will check this.

[2018-05-15 17:27] jofftiquez commented on #12
@hansy I tried tinkering some stuff for a solution for this. I figured that the main issue here is to NOT load the stripe checkout script where it is not needed, right? However, once you've already loaded the script it will stay in the memory even if you remove the script tag.

I was working on a solution where it will only load the script once you invoked the `this.$checkout.open()` function. How

[2018-05-15 17:54] jofftiquez commented on #12
Wrong commit reference. Please see [https://github.com/jofftiquez/vue-stripe-checkout/blob/master/src/index.js#L23](this).

[2018-05-17 19:58] hansy commented on #12
Admittedly I'm not 100% sure what the best course of action is, but this might work. I'll check it out and report back if I run into any additional issues. Thanks so much for your work!

[2018-05-18 04:05] jofftiquez commented on #12
@hansy I think so too. Yes, please, any feedback will be very helpful. Thank you so much.

[2018-05-18 04:14] williamchong007 commented on #12
@jofftiquez probably should let user to choose whether they want to
1. lazy load the script or not
2. delete the script after close or not
and delete the script probably is a bad idea anyway, since users often trigger the pop up many times, and operation on DOM probably cost more than just leaving the script alone

[2018-05-18 04:17] williamchong007 commented on #12
@jofftiquez also when this issue is first opened, everyone is probaly expecting a syntax like
[code]
than using the global Vue object?

[2018-05-18 05:17] jofftiquez commented on #12
You're right! However, after few replies the problem regarding the loading of the script came up, so I thought we could just solve the script problem rather than making it a NOT GLOBAL component.

How is this `this.$refs.stripe.open();` better that loading it global if the main problem is the loading of the script in the first place?

What do you think? I don't know what's right anymore hahaha. :p

[2018-05-18 06:16] jofftiquez commented on #14
Closing because of inactivity. Just re-open or comment for further issues.

[2018-05-18 06:16] #14 closed

[2018-05-18 06:18] williamchong007 commented on #12
@jofftiquez if it is in a component, bundler like webpack can pack this library only in the page that needs it, such that users that does not go into that particular page wont run this library at all

[2018-05-18 06:38] jofftiquez commented on #12
@williamchong007 I will look at that. Thanks!

[2018-05-23 19:10] diegovdc commented on #15
I have got the same issue in dev.  Apparently the problem lies in `src/index.js` line `106`. It seems that the `setTimeout` maybe to too short for some internet connections, or because of lags on the web.

Thats why sometimes StripeCheckout does not yet exist. I can confirm that on the second try it works as expected.

Maybe use an interval instead to periodically check?

[2018-05-24 08:09] jofftiquez commented on #15
Hi @diegovdc I think you're referring to #12. But thanks a lot for the feedback!

[2018-05-24 08:10] jofftiquez commented on #9
Closing due to inactivity.

[2018-05-24 08:10] #9 closed

[2018-05-24 14:10] diegovdc commented on #15
Perhaps it is related. But I am pretty sure I was getting the "StripeCheckout is not defined" message because the script was not being loaded on time.

You might be able to reproduce it just by using a shorter timeout. Or better yet by using the "network throttle" function in a chrome browser.

[2018-05-24 16:39] jofftiquez commented on #15
@diegovdc Ooooh I see. The only problem with the snippet I created was that if the internet is slow the checkout box will not show immediately. Anyhow, thanks for the feedback, I'm working on a new version right now, I'll keep those suggestions of yours in mind. Hoping to close this soon. Thanks!

[2018-05-24 16:41] jofftiquez commented on #7
@HenSoftUK Still having the same problem in the new version? Please let me know. Thanks!

[2018-06-11 07:34] RoraxHan commented on #15
I'm using cdn for this library.
Any update for this error?

[2018-06-12 03:41] jofftiquez commented on #15
Will work on this soon. PRs are also welcome.

[2018-06-21 05:34] 512dev commented on #7
@HenSoftUK I got it to work by making a new file in my project called `vue-stripe-checkout.d.ts` with a single line `declare module 'vue-stripe-checkout';`

[2018-06-21 09:28] jofftiquez commented on #7
@512dev thanks for the input.

[2018-06-21 09:37] #7 closed

[2018-06-21 09:51] #15 closed

[2018-06-21 09:53] jofftiquez commented on #15
Please confirm if this still exits after `1.0.6`

[2018-06-25 11:37] Kinzi opened #17 "closed() function"
It seems like the `closed()` function is not supported? I have a spinner that I need to hide if a user closed the stripe via the "x"...

I tried adding `closed()` to the open function in the component (preferred) and also to the options object in the set up. Neither seems to get called...

Any ideas?

(I'm using nuxt btw)

[code]

[2018-06-25 14:29] jofftiquez commented on #17
Hi @Kinzi Am gonna check this now.

[2018-06-25 14:55] jofftiquez commented on #17
Found it.

[This line](https://github.com/jofftiquez/vue-stripe-checkout/blob/master/src/index.js#L25) causes the problem. Apparently if I call the `.close` option inside the stripe implementation it will swallow the `.close` option in the component.

That line of code is related to #12 .

I will consider fixing this for you because I think the `.close` option in the component is more important th

[2018-06-25 14:57] #17 closed

[2018-06-25 14:57] jofftiquez commented on #17
@Kinzi please update to `1.0.7`

[2018-06-26 08:19] Kinzi commented on #17
@jofftiquez Great it's working! Thanks for the quick fix :)

[2018-07-05 19:42] HamadaFMahdi opened #18 "Preventing Checkout from being blocked"
This is taken from the [stripe checkout documentation](https://stripe.com/docs/checkout#integration-custom).
I was wondering how to implement this using this plugin? Or has it been implemented already?
Apologies I am a relatively new developer.

You can prevent Checkout's popup from being blocked by calling handler.open when the user clicks on an element on the page. Do not call handler.open in a

[2018-07-06 02:31] jofftiquez commented on #18
Hello @HamadaFMahdi thanks for checking this plugin out. I will look into your issue with mo focus maybe this weekend. It's been a very busy week for me. Anyhow, have you tried using the plugin and was it blocked by IE? PRs are also very very very welcome 😄 Have a great day my friend!

[2018-07-07 04:32] HamadaFMahdi commented on #18
Hi thanks for your reply!
Yes I'm currently using it and it works amazingly. I'm not sure about IE as I haven't tested it on that yet, it was when I was trying it out on mobile. If you call the .open function from within a call back, mobile browsers can block the pop up which leaves you with the normal looking version of stripe checkout and not the really nice mobile friendly one (unless you allow

[2018-07-07 05:10] reganjohnson opened #19 "Unable to override key in this.$checkout.open()"
When I am trying to override the key, as hinted at in your documentation, it is loading in the Stripe JS library with an API error

However, when I put the key in the stripeCheckoutOptions in app.js, it will load as intended.

In my `app.js`

[code]

And in my `component.vue`

[code]

[2018-07-07 19:07] jofftiquez commented on #19
Hello @reganjohnson I will investigate this. Thanks!

[2018-07-08 01:52] jofftiquez commented on #18
@HamadaFMahdi who cares about IE? I'm kidding!!! HAHA. Anyhow, thanks for the insight. I will definitely fix this issue soon. Am planning to re-haul my code anyways, upgrade stuff an whatnot. Thanks for the support!

[2018-07-09 18:09] HamadaFMahdi commented on #18
haha LOL.  Okay cool! Thanks a lot for your help!

[2018-07-11 07:05] luddens commented on #5
Where do I uhhh, put the 'action' that Jordan has placed in the form, there?

In your example there is no form. But in all the Stripe docs you're supposed to include the endpoint that you're looking for in the form.

[2018-07-11 08:06] jofftiquez commented on #5
@luddens On the example, you can do a http request to your server inside

    token: (token) => {
      // Send the token to your server
      // for payment or subscription handling,
      // or do whatever you want with it
      // I don't really care.
    }

[2018-07-11 16:18] jordanboston commented on #5
@luddens Yes, you just need a server side file --which in my case was a php file, but it will depend on the framework and language you are working in.  Then I pass the data to that from the Vue component I'm using:

[code]

In my case I have created an endpoint for that file in the action of the form I'm hitting.

[2018-07-11 18:37] luddens commented on #5
Sweet! I'll have to try it out later.

[2018-07-17 09:49] jofftiquez commented on #12
Re-opening because the solution for this causes the dialog to appear extra late. I will find a better solution for this.

[2018-08-09 06:14] ogomaemmanuel opened #20 "Cannot Get Amount From Vue Store On Subsequent Checkouts"
<template>
    <div>
        <button @click="checkout" type="primary" icon="delete">Checkout</button>

    </div>
</template>
<script>
    export default {

        data(){
            return{
                cartTotalAmount:0,
            }

        },
        methods: {

            checkout () {

                let vm=this;

               console.log("Checkout cart total",this.cartTotalAmount

[2018-08-09 06:50] ogomaemmanuel opened #21 "Make Amount Field Reactive"
The amount field on the checkout is currently not reactive, any changes made on the vue instance are not reflecting on checkout component

[2018-08-10 07:11] jofftiquez commented on #20
@ogomaemmanuel Have you tried using `mapActions` and `mapGetters`?

[2018-08-10 07:11] jofftiquez commented on #21
@ogomaemmanuel  thanks for this. I'll see what I can do.

[2018-08-22 22:54] chicoboymax commented on #14
Hi,

I have the same issue, did you find a solution ?

[2018-08-23 02:42] jofftiquez commented on #14
@chicoboymax I haven't tried this on nuxt myself coz I always use prerendering. Maybe one of these days I'll try to reproduce the issue. However the code was already in es5, [here](https://github.com/jofftiquez/vue-stripe-checkout/blob/e67172184b8ad3ec2c3f365608892d56cb6f8aab/dist/index.js#L1) so there should be no `Unexpected token import` error.

[2018-08-23 02:45] jofftiquez commented on #14
@peelmicro I missed something in your code. It says that the error was in `/plugins/stripeCheckOut.js` that you created. Instead of using `import` could you try to try `const VueStripeCheckout = require('vue-stripe-checkout')`.

[2018-09-03 05:45] dev7ch opened #22 "Question: handle bill and shipping address in stripe form?"
Is it easy possible to ask for the shipping address in the stripe checkout form and store it somewhere at stripe?

[2018-09-03 06:36] dev7ch commented on #22
Thank you! Looks good

[2018-09-03 06:36] #22 closed

[2018-09-24 19:10] emkman commented on #14
@jofftiquez @peelmicro @chicoboymax I have found the solution and it requires multiple steps. Part 1 is how to include this package in nuxt and part 2 is a broad solution allowing you to use `import` in all your nuxt plugins, because why shouldn't they be transpiled with babel and webpack just like your main code?

Part 1: load your plugin - after creating a file in the plugins directory (see @wil

[2018-09-24 21:41] findmind commented on #12
I am be very interested in this, too. It's quite ugly having so many requests just on the landing page, far away from the actual payment process. Are there any news on this front? Or is there some general way to isolate such behaviour to single components?

I'd appreciate any help, thanks so much!

[2018-09-25 01:55] jofftiquez commented on #14
@emkman wow thanks! This is helpful.

[2018-09-28 00:52] sonicfive commented on #15
I have this issue on a live server. It works fine on dev. I am getting "StripeCheckout is not defined"
What do you think I should look for?

[2018-09-28 07:29] rocchidavide commented on #19
Any news about this bug?

[2018-10-21 14:39] rocchidavide commented on #15
I have the same error sometimes

[2018-10-21 15:32] jofftiquez commented on #15
Hi all, I've been busy this past months, sorry to keep these issues hanging. I promise to get back on them soon. Thank you for you patience and support. Happy Coding to all.

[2018-11-15 12:12] Lahori-Jawan opened #23 "Can I add more fields to card"
This [doc](https://stripe.com/docs/checkout#integration-simple-parameters) shows additional parameters that are also passed as part of token but I don't see how to use them. I want to ask user to fill in their name for example so I could register them at the same time instead ask them again for registration. Like the image:
![stripe](https://user-images.githubusercontent.com/7579344/48552185-9b038

[2018-11-15 14:46] jofftiquez commented on #23
Hello @Lahori-Jawan in the [Stripe Docs](https://stripe.com/docs/checkout#integration-simple-options) you can see that there is a `billing_name` option available. You can check it out.

[code]

[2018-11-15 14:46] #23 closed

[2018-11-15 16:08] drosendo commented on #12
I confirm, Ideally only load scripts when needed (component based). I dont need it loading everywhere i go to... :)
Any ETA?

Great work btw!

[2018-11-15 16:32] drosendo commented on #12
FYI,

Not being possible, at least I limited the .js files being loaded to just 1 on the pages I dont need it...

used:
[code]

Cheers,

[2018-11-16 03:05] jofftiquez commented on #12
Hello all! I'm glad you're liking this plugin. I'm sorry I've been really busy lately, I will work on this very soon. I'll let you all know. Thank you.

[2018-11-21 07:16] jofftiquez commented on #19
Hello @reganjohnson kindly upgrade to v1.1.0. Thanks.

[2018-11-21 07:16] #19 closed

[2018-11-21 07:16] jofftiquez commented on #21
Hi @ogomaemmanuel @matthew-inamdar Kindly update to `v1.1.0` Thanks! And sorry for the delayed action.

[2018-11-21 07:16] #21 closed

[2018-11-21 07:19] jofftiquez commented on #12
Hi all! I'm glad to tell you that I have converted this plugin from mixin to a single component. Which means the problem of unnecessary loading of Stripe Js has been solved.

You can also now do the following:

Create multiple checkout components with their own configurations.

I hove that this finally solves the problem, if not, kindly reopen and we'll see what we can improve further.

[2018-11-22 12:17] pjar opened #24 "Cannot read property 'open' of undefined"
There are breaking changes in recent update. I guess it would be helpful to mention it in the docs. I just had to quickly downgrade to 1.0.11 to keep my app working. I'll try to create a PR with docs update.

[2018-11-22 12:54] jofftiquez commented on #24
@pjar Im sorry about that. I will fix it now. Also, the commit message for the package.json is wrong, it should be `1.1.0` not `1.0.11` Im sorry.

[2018-11-22 13:14] #24 closed

[2018-11-23 10:37] SMen1 opened #25 "Initialization clarification"
I am investigating your vue-stripe-checkout for the first time and your documentation says:

Initialization options now only accepts stripe publishable token. E.g.:

**Vue.use(VueStripeCheckout, process.env.PUBLISHABLE_TOKEN)**

searching for the implementation steps before actually installing with YARN this is the documentation:

https://vuejsfeed.com/blog/check-out-with-stripe-using-a-vue-js-plu

[2018-11-23 11:06] SebastienGras commented on #25
+1 ^^
I test to put this : PUBLISHABLE_KEY: '"pk_live_JDdzefzfzrrzvervrDDnTVFxCferetT2"'
in /config/dev.env.js and in /config/prod.env.js but it don't work :/

[2018-11-23 11:20] jofftiquez commented on #25
Hello @SebastienGras [this link](https://vuejsfeed.com/blog/check-out-with-stripe-using-a-vue-js-plugin) is an old one, it's out of date. You should always check the official docs here on github for the latest updates.

Regarding on your problem with `process.env. PUBLISHABLE_KEY`, `process.env` is just an environmental variable accessed by NodeJs. It's like a global variable in a computer. The re

[2018-11-23 11:20] jofftiquez commented on #25
@SebastienGras kindly close the issue if you don't have any more questions 😄 Thanks for using this plugin, don't forget to leave a star if you liked it :)

[2018-11-23 11:59] jofftiquez commented on #25
@SMen1 using process.env is one of many good practices in developing javascript applications, tho it's only optional. Maybe I'd just update the sample so that it won't cause any confusion to new users.

[2018-11-23 12:05] SMen1 commented on #25
Yes, I think adding it to your example, keeping the best practice option too (just my thought). Thank you very much indeed for replying to me so quickly - I look forward to implementing just as soon as I can.

[2018-11-23 12:07] SMen1 commented on #25
Yes! just as you have done! Making it seriously simple. :-)

[2018-11-23 12:08] jofftiquez commented on #25
@SMen1 noice!!! 👍

Closing this now @SebastienGras.

[2018-11-23 12:08] #25 closed

[2018-11-23 12:34] jofftiquez commented on #18
Closing due to inactivity. Kindly re-open if needed. Thanks :)

[2018-11-23 12:34] #18 closed

[2018-11-23 18:42] SebastienGras commented on #25
Thank you for help :)

[2018-11-23 19:10] SebastienGras opened #26 "It works but : Failed to mount component: template or render function not defined."
Sorry i'am new in vuejs and js ^^
### I have the popup with payment that works but in console i have this error :

`vue.esm.js?a026:591 [Vue warn]: Failed to mount component: template or render function not defined. found in
---> <VueStripeCheckout>
       <Stripe> at src\components\Stripe.vue
         <Shop> at src\components\Shop.vue
           <App> at src\App.vue
             <Root>`

### I ha

[2018-11-23 19:37] SebastienGras commented on #26
My application works anyways, and yes i use vue-cli3.
I will try to understand your link ^^

Thank you for help and rapidity !

[2018-11-23 19:46] jofftiquez commented on #26
@SebastienGras no problem. I will try to solve this as soon as possible.

[2018-11-23 19:58] SebastienGras commented on #26
And just by the way you forgotten an ',' in your readme before closed function :)

[2018-11-24 00:00] lostlivio opened #27 "Stripe data-zip-code expects a boolean value"
Receiving error from Stripe stating the expected value is boolean but component is raising an error stating expecting string.

**zipCode: String** should be **zipCode: Boolean**

[2018-11-24 00:22] lostlivio opened #28 "Error when passing Stripe Label option"
Getting the following error in console from Stripe Component.

StripeCheckout.open: Unrecognized option 'label'. Did you mean 'name'?
You can learn about the available configuration options in the Checkout docs:
https://stripe.com/docs/checkout

[2018-11-24 00:35] SebastienGras commented on #28
I think it's
panelLabel: 'Payer {{amount}}'

[2018-11-24 00:39] lostlivio commented on #28
The Stripe documents has options for both **data-label** and **data-panel-label**

[2018-11-24 00:59] lostlivio commented on #27
PR #29

[2018-11-24 05:10] jofftiquez commented on #27
Merged thanks!

[2018-11-24 05:10] #27 closed

[2018-11-24 05:11] jofftiquez commented on #28
`label` refers to `data-label` will check this out. Thanks!

[2018-11-24 05:12] jofftiquez commented on #26
Thanks! @SebastienGras

[2018-11-24 06:34] #26 closed

[2018-11-24 06:34] #28 closed

[2018-11-24 07:02] darior87 opened #30 "Cannot read property 'install' of undefined"
with vue version `2.5.17` and vue-stripe-checkout version `1.1.3` I get `Cannot read property 'install' of undefined`

[code]

[2018-11-24 07:30] johndatserakis commented on #30
Yup I got this issue too - trying to use it right now and I get `Uncaught TypeError: Cannot read property 'install' of undefined`. Standing by.

[2018-11-24 08:01] darior87 commented on #30
I solve this issue by expliciting the version. the `1.1.1` version doens't have this issue. But with that version I can't use the component inside mine. Used the same code sample as the readme

[code]

[2018-11-24 11:11] jofftiquez commented on #30
Hi @darior87 looking into this now.

[2018-11-24 11:15] piduchesne commented on #30
Hello, same issue here.

@jofftiquez : thank you for your reactivity !

[2018-11-24 11:20] #30 closed

[2018-11-24 11:33] piduchesne commented on #30
Same for me, it works.
Thank's again

[2018-11-24 11:37] jofftiquez commented on #30
@darior87 I hope you get a lot! Haha.

[2018-11-24 11:49] piduchesne opened #31 "Warn on runtime-only build"
Hello,

Since my update from 1.0.X to 1.1.X i have this warning in console.

Can you help me please ?

[code]

[2018-11-24 14:29] pjar commented on #24
@jofftiquez No worries, thanks for quick reaction and for a great plugin ;)

[2018-11-24 15:38] johndatserakis commented on #31
Same here - version 1.1.4.

[code]

[2018-11-25 16:54] SMen1 commented on #31
I am also getting the above error, with the latest version as I implement for the first time.
I am also getting [Vue warn]: Invalid handler for event "done": got undefined (and same with events "open", "closed", "click") which maybe the other errors referenced in the above pull request requiring work-arounds. If not, if anyone could advise I would be greatful.

[2018-11-26 02:10] #31 closed

[2018-11-27 14:50] stoykostanchev opened #33 ""Converting circular structure to JSON" error when opening the modal"
When opening the modal, an error is shown in the console:

![err](https://user-images.githubusercontent.com/8082582/49089529-a6d53c80-f253-11e8-8398-c8f0e7a142c4.png)

[2018-11-27 14:53] stoykostanchev commented on #33
This pr:

https://github.com/jofftiquez/vue-stripe-checkout/commit/3b7a6c9f516080824adbedd8a0374b26f9100376

Changed

 opened: () => { this.$emit('opened'); },
 closed: () => { this.$emit('closed'); }

to
 opened: () => this.$emit('opened'),
  closed: () => this.$emit('closed')

The latter returns the result of this.$emit, which is a Vue component, which then StripeCheckout tries sending a message

[2018-11-27 15:08] jofftiquez commented on #33
Right! Thanks @stoykostanchev

[2018-11-28 05:07] #33 closed

[2018-11-28 08:42] tompec opened #35 "Doesn't work with multiple components"
Hi @jofftiquez,

I tried using multiple vue-stripe-checkout on the same page and I'm having this error:
`Error in mounted hook: "ReferenceError: StripeCheckout is not defined"`

Here's an example:
https://codesandbox.io/s/mq2poqz5pj

Any idea how to fix this?

Thanks a lot!

[2018-11-28 08:50] stoykostanchev commented on #35
The easiest thing to do is switch to using one checkout on the page and modify the properties before opening. When this component is mounted it requests the stripe bundle, and waits for it to load. However, if another checkout is mounted, it checks if the Stripe bundle is requested, but does not check if it has finished loading, just assumes it is ready and tries using it.

Alternatively, take a q

[2018-11-28 12:38] superheri opened #36 "Pay with card not translating"
![image](https://user-images.githubusercontent.com/30275781/49152301-5d7efe80-f2e0-11e8-8aad-786155bb15a1.png)

The component gives us the possibility to change the language, which is nice, but I would prefer if the button "Pay with card" was translated too, which is not the fact.

Please correct it to allow me to show the form in the correct language of my users.

Otherwise this plugin is super n

[2018-11-28 12:49] superheri commented on #36
Sorry just say there is a special option for this...

Thanks again for this plugin!

[2018-11-28 12:49] #36 closed

[2018-11-28 14:10] jofftiquez commented on #36
@superheri all right!

[2018-11-29 10:11] tompec commented on #35
Thanks guys. I ended up changing the properties before `.open()`. That does the trick for now 👍

[2018-11-29 10:11] #35 closed

[2018-11-29 17:35] piduchesne commented on #31
@jofftiquez : i've upgraded from 1.1.4 to 1.1.6 in order to clean the warnings.

Now, i get an error

`vue.runtime.esm.js?2b0e:1737 ReferenceError: StripeCheckout is not defined
    at VueComponent.setCheckout (index.js?bce0:173)
    at VueComponent.mounted (index.js?bce0:139)
    at callHook (vue.runtime.esm.js?2b0e:2917)
    at Object.insert (vue.runtime.esm.js?2b0e:4154)
    at invokeInsertHook

[2018-12-03 01:11] Denny143 commented on #11
Hi @jofftiquez ,
Thanks for the plugin, its pretty awesome and easy to use. I am trying to implement this module in my Nuxt application. Everything seems to work fine till the point where the tokens are created. When I tried to use axios to send the token id and secret key, the charges are not created. I am not sure what I am missing. Pardon me if my question is too basic. Any help would be much a

[2018-12-03 01:36] jofftiquez commented on #11
@Denny143, first of all, what's a black matter gun? 😄

Before anything else, I just want to point out that the problem might not be related to this plugin, the ultimate goal of this plugin is to generate a token from stripe. Once you successfully generated a token, this plugin's job is done at that point. However, I still want to help you, so kindly do the following:

1. Use proper formatting for

[2018-12-03 15:57] Denny143 commented on #11
@jofftiquez , sorry about the " sell black matter gun" lol:).. its just a funny label ( that I forgot to edit) on the button and sorry about the formatting. Please find the my formatted sample code for "checkoutstripe.vue" component below:

[code]

[2018-12-04 01:47] jofftiquez commented on #11
@Denny143 It seems that you're using the old version. Tho the version is irrelevant to your problem.

Yes, the back-end.

Based on the error you provided.

It seems that you're providing the `STRIPE SECRET KEY` in your backend code. You should add that to the initialization stage. You can see that in their documentation.

[2018-12-04 02:57] Denny143 commented on #11
Thanks @jofftiquez, I am using firebase as the backend to host my site. I found a good document on how to setup a firebase function for stripe payment [here](https://medium.com/@gordonnl/headless-stripe-payments-with-firebase-9b12639ea118). But I am struggling how to tie up the tokens produced through your plugin to be sent via firebase and create a stripe charge

[2018-12-04 03:13] jofftiquez commented on #11
If you're using firebase function, you should use `http-trigger`, then make a POST request to the function url. Just add the token to the request body.

The link you sent, it's a good source. Follow it.

[2018-12-05 04:11] Denny143 commented on #11
Thanks again @jofftiquez , I followed the instruction on that tutorial and was able to figure out how to create a ```http-trigger``` function using firebase function and successfully deployed it. But I am still getting a POST 404 error from Stripe server. Here is my modified checkoutstripe.vue component:
[code]

[2018-12-05 04:47] jofftiquez commented on #11
Hi @Denny143 would mind sending me a hangout chat request at jofftiquez@gmail.com so we can discuss this on a chat? Thanks.

[2018-12-08 17:08] Xationch opened #38 "README.md update"
Inside the README.md you forgot a comma after opened method.

[code]

Thank you for your package. Very useful.

[2018-12-09 15:53] #38 closed

[2018-12-09 15:53] jofftiquez commented on #38
@Xationch thanks for pointing that out. And thank you for using this plugin. :)

[2018-12-11 19:53] superheri opened #39 "Feature request - Callback if canceled"
For my usecase of the plugin, I would need to know if the user closed the checkout window of the transaction to return sooner in my own steps.

As I see, the actual closed method is called whenever the modal is closed, even if it worked. Is it possible to have a way to know that the transaction has not been fullfilled?

Would be appreciated. And thanks again for your nice plugin.

[2018-12-12 01:46] jofftiquez commented on #39
Hi @superheri could give me some use cases for this feature? For instance, what do you mean by "the user closed the checkout window of the transaction to return sooner" and "transaction has not been fulfilled"? Thanks :)

[2018-12-12 12:35] superheri commented on #39
Hi, to be more precise, there is a X button on the top of the stripe checkout modal that allows the user to quit, without entering his informations. What I would need is a way to actually know if the user quits that way to show him a page with different options.

Actually we only have 3 callbacks `done`, `opened`, `closed`. Since `done` is when everything worked as expected and `closed` is called

[2018-12-12 14:36] jofftiquez commented on #39
@superheri correct me if I'm wrong so you want to have another state or event between pressing the x and before closing the dialog?

1. Press x
2. Call canceled
3. Do you want to close this modal? Y, N, Other option.
4. If Y, close the modal
5. If N, leave the state as is.
6. If Other, show other option without closing the modal?

It this correct?

[2018-12-12 17:49] jofftiquez commented on #39
@superheri I'm confused about the flow.

Here's another question, what will the cancel event's primary purpose?

[2018-12-12 18:50] superheri commented on #39
To call an action in my code that will change the view seen by the user.

[2018-12-13 02:22] jofftiquez commented on #39
@superheri why don't you use the `closed` event then?

[2018-12-13 03:59] jofftiquez commented on #39
Right. I get it now. The `closed` and `opened` events are default within stripe checkout library, adding a new one would be impossible on my end. By maybe I could modify `closed` to accommodate this feature you're requesting.

[2018-12-14 02:21] #39 closed

[2018-12-21 05:02] multidimensionalinteractive opened #42 "How to get decimal places to show up correctly on the right?"
I am attempting to get javascript to make the right number have a decimal point in it example 9999.99 however i cannot seem to get it to behave properly. Do you have any advice?

[2018-12-21 05:12] multidimensionalinteractive commented on #42
For instance if i put 3.00 in the right the left pay now button displays Pay 0.03

[2018-12-21 06:09] jofftiquez commented on #42
If you want to display `3.00` should put `300`. The value that you will put in the amount will be divided by 100.

[2018-12-21 06:10] jofftiquez commented on #42
There's an interactive `amount` input on the demo page. You should check it out.

[2018-12-21 06:10] #42 closed

[2018-12-23 12:35] pirmax opened #43 "Multiple Stripe Checkout"
Hi,

I want multiple Stripe checkout on same page.

`<button @click="checkout('hobby')" class="btn btn-primary btn-block btn-sm">Pay with Stripe</button>`

I define checkout options before open Stripe modal but this is the default checkout options who opened.

[code]
Thanks to help me please.

[2018-12-23 14:59] jofftiquez commented on #43
Kindly follow [this](https://github.com/jofftiquez/vue-stripe-checkout/issues/35)

[2018-12-23 15:09] pirmax commented on #43
It's doesnt work too... Before close an issue, thanks to verify.

Le dim. 23 déc. 2018 à 15:59, Jofferson Ramirez Tiquez <
notifications@github.com> a écrit :

[2018-12-23 17:12] jofftiquez commented on #43
That issue was tested and closed properly. It's working. Would you mind giving more information? Will re-open this for you.

[2018-12-27 12:21] Jesus82 opened #44 "Variable from vuex/nuxt store"
Hi, I would like to use this plugin with Nuxt.js, grabbing the stripe id from the store.
Is there any way to do it? So far I've tried with this based in [this question in stackoverflow](https://stackoverflow.com/questions/45644171/adding-mutations-to-vuex-store-as-part-of-vue-plugin) with no luck

    // vue-stripe-checkout.js
    import Vue from 'vue';
    import VueStripeCheckout from 'vue-strip

[2018-12-27 12:32] jofftiquez commented on #44
Hello @Jesus82, I'm not a Nuxt guy but it seems to me that you are creating a custom plugin? Also, what exactly is not working here? Thank you.

[2018-12-27 12:51] Jesus82 commented on #44
Hi, thanks for the reply.

I want to have both dev and prod stripe key in the Vuex store, so if I set store.state.production = true, it will use the key stored in store.deployment.stripe_prod, and if I set store.state.production = false, it will use the key stored in store.deployment.stripe_dev

I've updated my code, but it still says "TypeError: this.options is undefined"

[2018-12-27 13:38] jofftiquez commented on #44
Hi @Jesus82 I believe this problem has nothing to do with this plugin. Also, my knowledge in nuxt is very limited I'm not sure if I could help you. But based on your error, the `options` is not existing in the `this` context.

I'm gonna close this issue now, you can still reply for your questions tho. Thank you.

[2018-12-27 13:38] #44 closed

[2019-01-03 03:40] kristraeger commented on #14
@emkman do you mind sharing your component code using the plugin?
I am still receiving errors like property method "currency" is not defined and such (which is clearly documented as Prop) and the modal keeps opening in a new tab (even on desktop). ... I just can't get it to work properly in nuxt! :/

[2019-01-03 04:16] emkman commented on #14
@kristraeger my code is super simple so I doubt it will help. I have a button with a click handler that calls:
[code]

My guess is your issue is the plugin file, which I don't describe in my comment but rather reference a comment above: https://github.com/jofftiquez/vue-stripe-checkout/issues/14#issuecomment-386541631

[2019-01-03 04:17] emkman commented on #14
This is my plugin file, it's a bit specific to my webpack setup:

[code]

[2019-01-03 20:01] kristraeger commented on #14
thank you so much! I tried putting it to work when:

*1. re: plugin file *

the issue i am running into is that i can only initiate VueStripeCheckout via
`Vue.use(VueStripeCheckout, 'my stripe key')` i.e. passing in the key
string directly instead of an options object

const options = {
  key: 'my stripe key',
  locale: 'auto',
  currency: 'USD',
};

Vue.use(VueStripeCheckout, options);

throws a

[2019-01-03 20:51] kristraeger commented on #14
DUH! checkout works using the async await function i found in the docs :)
    async checkout () {
      // token - is the token object
      // args - is an object containing the billing and shipping address if
enabled
      const { token, args } = await this.$refs.checkoutRef.open(options);
    },

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signatu

[2019-01-04 01:41] jofftiquez commented on #14
string

@kristraeger I think you're using an old version. May I know what version are you using? Kindly check the docs. Thanks.

[2019-01-16 17:38] neoighodaro commented on #43
Also having the same issue

[2019-01-21 20:35] christopher4lis commented on #35
Values on the different checkouts don't change realtime. For instance, the amount only changes after you click on a open checkout button, close out, then re-open it on this CodePen: https://codesandbox.io/s/7j4kj488yx

Seems like something is throwing it out of sync.

[2019-01-22 01:10] jofftiquez commented on #35
Thanks for the input @christopher4lis I'm still looking into this issue.

[2019-01-22 16:38] stacybot123 opened #47 "Cannot read property 'open' of undefined"
Installed version is : 1.1.0 , getting error as :

[code]
Here is the function I have

[code]

[2019-01-23 02:13] jofftiquez commented on #47
Hi @stacybot123 you are using the old version way of using checkout. Kindly check the new one from the [official github doc](https://github.com/jofftiquez/vue-stripe-checkout#sample). Thanks :)

[2019-01-23 02:13] #47 closed

[2019-01-23 16:34] superheri opened #48 "Feature request - Add support of 3D Secure"
Since 3D Secure is needed for some cards it would be nice that this plugin implements it.

Here is an exemple I fould about supporting 3D Secure for Stripe Checkout if it can be useful : https://jsfiddle.net/ywain/5j580jxa/

[2019-01-23 17:06] jofftiquez commented on #48
Hi @superheri this is a nice feature. I will consider this. Thanks.

[2019-01-29 23:09] RyanWillDev commented on #43
I was able to get around this by adding the script that is appended to the DOM when the stripe-checkout component is mounted [here](https://github.com/jofftiquez/vue-stripe-checkout/blob/master/src/index.js#L64)

By doing that I can have multiple stripe-checkout components on the page at a time.

[2019-01-30 03:19] jofftiquez commented on #43
@ABuffSeagull as @RyanWillDev mentioned there seems to be a problem on [this line](https://github.com/jofftiquez/vue-stripe-checkout/blob/master/src/index.js#L98) which is part of your PR. Thank you. :)

[2019-01-30 05:54] ABuffSeagull commented on #43
I'm about to head to bed, so this is just a quick thought. I'll check back in tomorrow.

I don't believe that it updates when you change the props, but if you uncomment the `updated` hook ([here](https://github.com/jofftiquez/vue-stripe-checkout/blob/master/src/index.js#L76)), it should give you the correct options when you change the props. (I know I was only talking about the key in the comment,

[2019-01-30 07:17] RyanWillDev commented on #43
I played around with the code a little and created [this sandbox](https://codesandbox.io/s/llkolnkm1l) that gets multiple checkouts working without having to use the update method or swapping the checkout options.

[2019-01-30 09:18] jofftiquez commented on #43
Oh no, I'm sorry to disturb you @ABuffSeagull.

[2019-01-30 09:19] jofftiquez commented on #43
@RyanWillDev great I tested it out. Would you mind sending a PR so we can test and review it for this issue? Thanks.

[2019-01-30 20:36] ABuffSeagull opened #49 "Better testing"
As evidenced by [this file](https://github.com/jofftiquez/vue-stripe-checkout/blob/master/test/index.test.js), there needs to be better testing.
But since this requires downloading and parsing a script, and letting it make an iframe, I would imagine proper testing would only work inside a browser.
I'm not sure what the best test framework is for this, perhaps Karma? I've only ever used Jest, so I'

[2019-01-30 22:16] superheri commented on #49
The only thing from my point of view that could test well the modal, since it is opened in a iframe by default by Stripe, is Selenium.

Karma is the ancestor of Jest and can't do anything UI related.

[2019-01-30 22:20] ABuffSeagull commented on #49
Yeah, just check the modal and make sure all the info is filled in correctly.
And thanks for the info on Karma. I guess it would come down to Jest + Puppeteer or Cypress then.

[2019-01-30 22:42] superheri commented on #49
I don't think it would be really easy to test though. Since this plugin is mostly a wrapper around a big javascript library on which we have no control.

[2019-02-07 18:19] mejiamanuel57 commented on #12
I don't see any solution here and the issue is closed :(

[2019-02-08 00:40] Glenn-Domin commented on #24
Still getting this error in IE11. I'm on version 1.2.6, which appears to be the latest. It also throws `Error in mounted hook: "TypeError: Object doesn't support property or method 'append'"` when first loading the page - not sure if that's relevant.

[2019-02-08 04:09] jofftiquez commented on #24
@Glenn-Domin I haven't tested this on any IE yet. Sorry. I'm gonna add this to my todo list.

[2019-02-08 04:10] jofftiquez commented on #12
@mejiamanuel57 kindly refer to:

You can also now do the following:

Create multiple checkout components with their own configurations.

I hove that this finally solves the problem, if not, kindly reopen and we'll see what we can improve further.

[2019-02-08 04:18] jofftiquez commented on #35
@ABuffSeagull thank you for the input.

[2019-02-08 04:21] jofftiquez commented on #49
I've tried using Puppeteer to test this but I can't find a way to properly make it work. Same with @ABuffSeagull I am only using Jest lately so my knowledge in testing is very limited. Tho I would love to do this sometime, I just couldn't commit my time for this yet because of work. Thank you both for your inputs.

[2019-02-08 13:25] mejiamanuel57 commented on #12
Hi @jofftiquez , please give us an example of how to use it as a component (Local Registration), I'm trying to do this:

[code]

But it's not working, even the [README.md](https://github.com/jofftiquez/vue-stripe-checkout) is making reference to a Global Registration.

[2019-02-08 14:35] jofftiquez commented on #12
@mejiamanuel57 would mind checking [this](https://github.com/jofftiquez/vue-stripe-checkout/issues/43)?

[2019-02-08 15:02] mejiamanuel57 commented on #12
Sorry, @jofftiquez  I don't see clearly how to register vue-stripe-checkout as a single component ([Local Registration](https://vuejs.org/v2/guide/components-registration.html#Local-Registration)) on that issue.

The intention is to render vue-stripe-checkout **ONLY** in the component where I'm executing the payments because a global registration will harm the loading performance of my Single Page

[2019-02-08 15:20] jofftiquez commented on #12
@mejiamanuel57 Right. I will reopen this and will do further investigations. However, I can't promise that I will be able to do it very soon. I have to apologize :(. I am very busy right now with I hope you understand.

[2019-04-01 15:46] superheri commented on #48
Just a little reminder that in September 2019, 3D Secure 2 will be required for every payments made in Europe : https://stripe.com/guides/3d-secure-2#d-secure-2-and-strong-customer-authentication

[2019-04-02 02:41] jofftiquez commented on #48
Hi @superheri thanks for the reminder.

[2019-04-02 02:43] jofftiquez commented on #48
@superheri do you see this feature as optional or required?

[2019-04-02 09:38] mrksoftware opened #50 "How to handle Stripe errors?"
Is there a way to get notified when the transaction fails so that we can react to stripe error codes?

I only see errors in the developer console but I was not able to detect them in any callback provided by VueStripeCheckout.

Thank you in advance!

[2019-04-02 09:55] jofftiquez commented on #50
Will look into it thanks.

[2019-04-02 22:43] superheri commented on #48
It is required for every card that require 3D Secure for transactions, otherwise the transactions will be refused by the card issuer. For now it is not much a problem, but it will be in September 2019 where 3D Secure will be required for every card transaction in the Europe (and I'm not talking about only one country).

We still have 5 months before it becomes a real problem, but I was only postin

[2019-04-03 14:14] Skasi commented on #12
Turning this plugin into a component is quite simple. You just need to export the component part.

[code]

[2019-04-06 14:50] JonasJW commented on #15
Yep same error and can't get it to work. Any updates?

[2019-04-08 11:40] liboub opened #51 "TypeError: this.$refs.checkoutRef is undefined"
After an npm update i got that error when i try to checkout .
That's normal ?
How i fix that ?
[Vue warn]: Error in v-on handler: "TypeError: this.$refs.checkoutRef is undefined"

[2019-04-10 02:49] jofftiquez commented on #51
Hi @liboub If you transitioned from `1.1.x` to `1.2.x` there has been a breaking change. Kindly refer to the documentation.

[2019-04-10 02:49] #51 closed

[2019-04-10 02:50] jofftiquez commented on #51
Kindly re-open if there are more issues. Thanks.

[2019-04-10 08:00] liboub commented on #51
Ok i fix in my code thanks for all .

[2019-04-12 02:14] abhishekover9000 opened #52 "When passing in new data, component requires a second reload to load correctly"
https://codesandbox.io/s/7j4kj488yx < click on checkout 1, then click on checkout 2 and checkout 1's data is still on there. it's not until a click out and second click of checkout 2 when the data actually loads correctly.

[2019-04-12 02:33] jofftiquez commented on #52
I can confirm the bug. Thanks, I will look into it.

[2019-04-12 02:39] jofftiquez commented on #52
@abhishekover9000 I can't promise to fix this soon. However, if it's fine with you, you can do this workaround. You can set a timeout of 500ms before invoking `.open()`.  See the example below.

https://codesandbox.io/s/8n10y61n52

[2019-04-14 20:04] ABuffSeagull commented on #52
I'm not sure if there's away to do it inside the component, since the checkout needs to be opened *after* the props get updated, but probably the best fix to make sure it runs after the props get updated is to wrap it in a `Vue.$nextTick` call.
https://codesandbox.io/s/j2yzk00rv

[2019-04-15 03:06] abhishekover9000 commented on #52
Thanks all, I added the 500ms in my app for now- the nextTick is a good idea too

[2019-04-15 03:21] #52 closed

[2019-04-16 15:35] Propeller-SV commented on #24
I confirm @Glenn-Domin case.
`IE11`
`"vue-stripe-checkout": "^1.2.6"`
`[Vue warn]: Error in mounted hook: "TypeError: Object doesn't support property or method 'append'"`
Do you have any workaround?
Looks like the issue should be reopened.

[2019-04-17 02:24] jofftiquez commented on #24
@Propeller-SV can you add repro via JsFiddle or Codepen? Thanks.

[2019-04-17 14:48] Propeller-SV commented on #24
@jofftiquez this works for me in chrome but not in IE11
[https://jsbin.com/jamisif/edit?html,js,output](url)

[2019-04-20 11:24] faxal commented on #48
Any update on this issue or workarounds?

[2019-04-20 23:54] jofftiquez commented on #48
Hello all, this issue is due in September 2019. I apologize, I am very busy right now. I hope I can find time to do this soon. Please be patient. Also, a PR would be much appreciated. Thanks.

[2019-04-21 00:36] superheri commented on #48
I'm working on something, I might create a PR soon with this, so we could discuss about how to make it better because for now it's not optimal but it works.

[2019-04-21 06:08] jofftiquez commented on #48
That would be great. Please keep me updated.

On Sun, Apr 21, 2019, 08:36 superheri, <notifications@github.com> wrote:

[2019-04-21 12:38] superheri commented on #48
After research, Stripe is no more using the checkout modal. Instead, they updated their checkout window to be directly on their website. This checkout window has already the 3D Secure support and is auto updated so it will automatically support 3D Secure 2 when it will be available. This checkout window can be used in 2 ways, [Client side](https://stripe.com/docs/payments/checkout/client) or [Serv

[2019-04-24 10:22] jofftiquez commented on #48
@superheri thank you for the insight. I will also research further regarding this.

[2019-05-12 08:00] zedrdave opened #54 "Provide confirmation callback"
Since the $checkout mixin was removed, it doesn't seem possible to add any pre-confirmation code to the checkout button (e.g. displaying a confirm dialog warning about something).

Ideal solution would be to add a `:confirm` option that takes a callback function and cancels the checkout on `false`…

[2019-05-12 08:01] zedrdave opened #55 "CORS errors with Safari…"
Any idea how to deal with the CORS errors generated when loading the Stripe frame? I noticed they even happen on the demo page:

[code]

[2019-05-12 08:51] jofftiquez commented on #54
Hi @zedrdave is this "confirmation" going to happen before opening the stripe checkout?

[2019-05-12 08:52] jofftiquez commented on #55
That's weird. I don't have access to Safari right now but I'll investigate this. Thanks. If it's CORS error there's a high chance that it's a server side error. Please update me when you got something new.

[2019-05-12 08:53] zedrdave commented on #54
@jofftiquez Yes. It could be a warning about what is being purchased, for example…

[2019-05-12 08:53] jofftiquez commented on #48
I just want to let you know that will be done very soon. Thanks.

[2019-05-12 08:54] jofftiquez commented on #54
@zedrdave if so, why not just create a separate confirmation process before actually invoking `this.$refs.checkoutRef.open();`?

[2019-05-12 08:55] jofftiquez commented on #54
1. Checkout button will call the confirmation dialog
2. If clicked "Yes" open checkout
3. Otherewise close confirmation dialog.

Something like this.

[2019-05-12 09:01] zedrdave commented on #54
Yes, that would probably work. I hadn't realised the `checkout` function could cancel the checkout… Thanks!

[2019-05-12 09:01] #54 closed

[2019-05-12 09:04] zedrdave opened #56 "This version of Stripe's Checkout API is going into legacy mode"
As I'm sure you've seen, [Stripe is planning to retire this version of their Checkout API](https://news.ycombinator.com/item?id=19739630).

The new version of Checkout is actually completely incompatible with typical SPA design (requires navigating away from the site). It might be possible to adapt the Elements API to do what the current Checkout API does, but I'm not sure yet…

Any plans to tackl

[2019-05-12 09:11] jofftiquez commented on #56
Thanks for the reminder. I was bound to make a major update on the Stripe Checkout API version related to #48

[2019-05-13 03:11] raykudo commented on #15
Hello there, I still get this error ver [code]^1.2.6[/code]

[2019-06-23 09:40] pathum-kalhan commented on #15
I've got the exact same error. My problem was I use this in two different components. But I forgot to change the `ref="checkoutRef"` One place I changed this to `ref="checkoutRef2"`. Then that's it. Problem got solved for me. I think this should mention in the docs as well. Because junior developer like me might not know this `ref` thing.

[2019-06-23 11:07] jofftiquez commented on #15
@pathum-kalhan thank you. I will do that.

[2019-06-25 00:17] chiho13 opened #57 "How to make it work with stripe firebase cloud functions?"
Currently doesn't work with https://github.com/firebase/functions-samples/blob/master/stripe/functions/index.js

[2019-06-25 03:29] jofftiquez commented on #57
@chiho13 the scope of this plugin is to tokenize the user's credit card and product. This should work properly if the implementation of any api is correct.

Also, if you could show me the error it would be easier to help you.

[2019-06-25 03:29] jofftiquez commented on #57
Will close for now. Kindly reopen when more details are provided.

[2019-06-25 03:29] #57 closed

[2019-07-06 09:04] wpgeek922 commented on #48
Hi Jofferson,

Just wanted to know have you already working on the this feature?

[2019-07-06 10:13] jofftiquez commented on #48
Hello @wpgeek922 I am. It's currently on a local branch. I will continue working on this soon. I'm sorry I  am so busy right now. Thank you for reminding me.

[2019-07-17 20:53] robbylucia commented on #56
Just spent quite a while trying to figure out why this plugin wasn't playing well with the other half of the work (creating a Stripe charge on the server), turns out new Stripe docs are for V3 which is not compatible with this plugin.

[2019-07-18 09:21] jofftiquez opened #64 "Update to Stripe V3"

[2019-07-18 09:21] jofftiquez commented on #56
#64

[2019-07-19 02:06] robbylucia commented on #56
Thanks for the quick response, however I just wanted to update that I did get this plugin working with Stripe V3. I was foolishly passing the entire token when attempting to charge on my server, when all it needed was the token ID. (Slightly misleading error names on the Stripe side didn't help!)

[2019-07-20 04:50] jofftiquez commented on #56
@robbylucia great! Shall we close this issue now and continue the discussion in #64 ?

[2019-07-25 01:13] buildscientist commented on #64
Seems like using V3 will completely do away with this component loading as a modal.

An alternative would be to rebuild the same functionality using [Stripe Elements](https://stripe.com/docs/stripe-js/elements/quickstart) instead.

[2019-07-25 07:09] jofftiquez commented on #64
@buildscientist thank you for your input.

[2019-08-01 13:08] gadutime commented on #48
Hi @jofftiquez, thanks for working on this, much appreciated! Do you have any update on when can we expect this to be merged?

Thanks a million and keep up the great work!

[2019-08-12 04:16] jofftiquez commented on #64
![](https://github.trello.services/images/mini-trello-icon.png) [test](https://trello.com/c/cGW3vbbG/40-test)

[2019-08-12 04:17] jofftiquez commented on #64
Test

[2019-08-15 04:26] zeusstl commented on #64
Might be nice to put a note on the README for the time being saying that it is based on V2 which is legacy.

I'm super grateful that you created this. I wish it could have worked for me. That said, I just spent like 6 hours implementing this into my flow only to find out it is legacy and should not be used.

But in the meantime, the stripe docu page you reference for the variables has a huge LEGAC

[2019-08-15 08:55] jofftiquez commented on #64
@zeusstl I'm so sorry about that. Thank you for your feedback. I will definitely add that in the docs. The plan to migrate this to V3 is still on going. Sorry for the inconvenience.

[2019-08-15 09:14] jofftiquez commented on #56
Refer to #64

[2019-08-15 09:14] #56 closed

[2019-08-16 19:24] jofftiquez commented on #48
Kindly refer to #64

[2019-08-16 19:24] #48 closed

[2019-08-16 19:25] jofftiquez commented on #64
Dev branch for V3 now available [here](https://github.com/jofftiquez/vue-stripe-checkout/tree/refactor/v3). I just haven't pushed anything yet, I'm still experimenting on the best approach.

[2019-08-21 19:50] jofftiquez commented on #64
Hello all! If you don't mind, please try version 3 [here](https://github.com/jofftiquez/vue-stripe-checkout/tree/refactor/v3).

All kinds of feedback would be very much appreciated and it will also help me improve the plugin faster.

[2019-08-21 23:06] robbylucia opened #65 "unpkg.com link broken: Cannot find "/build/vue-stripe-checkout.js" in vue-stripe-checkout@3.0.0-beta"
I think a new update has caused an issue with unpkg.
Using the (from the docs): https://unpkg.com/vue-stripe-checkout/build/vue-stripe-checkout.js

Causes a redirect to https://unpkg.com/vue-stripe-checkout@3.0.0-beta/build/vue-stripe-checkout.js

Which results in this error page with the following text:
Cannot find "/build/vue-stripe-checkout.js" in vue-stripe-checkout@3.0.0-beta

[2019-08-22 00:45] jofftiquez commented on #65
Sorry it's not in npm yet. I will update this later.

[2019-08-22 01:58] rootext32 commented on #64
Hi the test version works but only triggers v3 checkout without feeding any data such as description, currency or amount like the previous version? It loads the data from stripe dashboard by the sku?

i think for getting back the features it will need to be based on stripe elements + payment intents

are you planning to go on this direction or how will the project proceed?

[2019-08-22 02:19] #65 closed

[2019-08-22 02:43] jofftiquez commented on #64
@rootext32 thank you for your feedback. You are right, this version only triggers the checkout version, the data for checkout should be first created in the Stripe dashboard.

To be honest I haven't check what Stripe Checkout V3 has to offer yet. This feature is by far the quickest to implement. So far it will serve it's purpose.

Regarding with the direction of this version, I want to make whatev

[2019-08-22 02:44] jofftiquez commented on #64
You are correct @rootext32 it's based [here](https://stripe.com/docs/payments/checkout/client).

[2019-08-22 02:59] rootext32 commented on #64
thanks got it. as i expected. i am working since several days on a solution to pass currency+description+amount to checkout but not an easy task. the migration guide on stripe gives some hints that passing those details without using sku from dashboard might be possible.

I'm not an expert coder so I plan to give this task to upwork. if you plan to realize a solution until the SCA deadline (sept 1

[2019-08-22 03:01] jofftiquez commented on #64
@rootext32 Just checked this https://stripe.com/docs/stripe-js/reference#stripejs-reference

I think I will eventually do every available features of Stripe.js. I just have to figure out what to prioritize. If you have anything in mind you can tell me.

[2019-08-22 03:01] jofftiquez commented on #64
I will not say to that. :smile_cat: I'll see what I can do.

[2019-08-22 03:12] rootext32 commented on #64
that's somekind of good news :-) i think main selling point of your code was that amount + description was flexible to enter. I saw a lot of "professional coders" from india using this code on websites to realize an invoice payment terminal. looking up their codes is how i got here lol.

I think biggest issue is that SCA required payment intents api. I tried to modify my existing terminal which us

[2019-08-22 03:25] jofftiquez commented on #64
@rootext32 Noted.

What exactly do SCA requires? Can you point me to an example if possible?

[2019-08-22 04:34] rootext32 commented on #64
Migration Guide. Step 3 mentions requirements: https://stripe.com/docs/strong-customer-authentication/migration
Migration from eg. Legacy...some interesting details if you press on "...follow this guide": https://stripe.com/docs/payments/payment-intents/migration#legacy-checkout

Test sample from stripe: https://stripe-payments-demo.appspot.com/
Card # triggers SCA: 4000002760003184

[2019-08-22 04:46] jofftiquez commented on #64
Thanks @rootext32 will check on these.

[2019-08-22 13:34] robbylucia commented on #65
Hey, I see you closed this but the link's still dead. Is this expected?

[2019-08-23 00:31] jofftiquez commented on #65
https://unpkg.com/vue-stripe-checkout@3.0.0-beta.1/dist/index.js

[2019-08-26 02:54] synapse709 opened #66 "normalize-component.js dependency not found"
Not able to get this working as I'm seeing this when I try to build the project with the Beta installed.

This dependency was not found:

* vue-runtime-helpers/dist/normalize-component.js in ./node_modules/vue-stripe-checkout/dist/index.js

[2019-08-26 04:06] jofftiquez commented on #66
@synapse709 what version of vue are you using?

BTW I don't recommend using the beta for production builds.

[2019-08-26 04:59] synapse709 commented on #66
Vue 3.11.0

Understood, thanks for the quick feedback.

[2019-08-27 09:00] gadutime commented on #64
Hi @jofftiquez in line with what @rootext32, I would also love to have this done before the SCA deadline, the 14th of September, and would gladly participate in that reward :)

Cheers!

[2019-08-28 03:44] jofftiquez commented on #64
@gadutime Sweet! A new house and card would be nice. Kidding. I'm planning to work on this coming weekend, I'm positive that I can delver the required features.

Just to confirm, can you guys give me a list of what you need for the SCA deadline? I will expedite the development. Thanks.

[2019-08-28 03:46] jofftiquez opened #67 "Save rollup-plugin-commonjs in package.json"
This is solved by specifying the following in package.json as a dependency, then running `npm install`:
[code]

_Originally posted by @seeARMS in https://github.com/jofftiquez/vue-stripe-checkout/issues/66#issuecomment-525568618_

[2019-08-28 10:27] gadutime commented on #64
@jofftiquez new house sounds just about right :)

As for what is needed, as far as I can see on Stripe's documentation, either by updating to their new checkout (https://stripe.com/docs/payments/checkout) or by migrating to to their Payment Intents API (https://stripe.com/docs/payments/payment-intents/migration) we should be covered since they already implement the SCA requirements.

Cheers!

[2019-08-28 10:42] jofftiquez commented on #64
Thanks @gadutime! I will try to release a full working checkout based on these information. Will keep you guys updated here. :)

[2019-08-28 16:31] ianfortier opened #68 "Done method no longer return the token object"
Weirdly, the done method doesn't return the token object anymore.
I have the same behavior from multi projects.

"vue-stripe-checkout": "^1.2.6"

Anything I need to know :O ?

[2019-08-28 16:39] jofftiquez commented on #68
Hi @ianfortier it's still there [see](https://github.com/jofftiquez/vue-stripe-checkout/blob/bd288da757dbdfc2e7b9fd2487cfe3e94e3b2637/src/index.js#L122). Would mind sharing any error logs or anything similar?

[2019-08-28 17:14] jofftiquez commented on #68
Hi @ianfortier according to your code, you are not passing the `$event` object to the checkout method in the `@done` event. You can either do the following:

`@done="checkout"` - This will implicitly pass the data to the checkout method.
`@done="checkout($event)"` - This will explicitly pass the data to the checkout method.

Kindly close the issue it this solves you problem. Thank you :)

[2019-08-28 17:19] #68 closed, assigned to nobody

[2019-08-29 01:02] seeARMS commented on #67
Ref: https://github.com/egoist/bili/issues/221

[2019-08-29 08:48] Apokly commented on #66
Hi,

I added `"rollup-plugin-commonjs": "^10.0.1"` on my `package.json` and run `yarn install`.
Error is still present :

[code]

[2019-08-29 08:54] Apokly commented on #66
Vue 3.11.0 ?!

[2019-08-29 09:51] Apokly commented on #67
https://github.com/jofftiquez/vue-stripe-checkout/pull/70

[2019-08-29 17:23] jofftiquez commented on #66
After testing out some few "fixes" related to this issue, I decided to remove bili and use rollup again. Try `3.0.0-beta.7`

[2019-08-29 17:23] #66 closed

[2019-08-29 17:23] jofftiquez commented on #67
After testing out some few "fixes" related to this issue, I decided to remove bili and use rollup again. Try `3.0.0-beta.7`

[2019-08-29 17:23] #67 closed

[2019-08-29 17:36] jofftiquez commented on #64
Hello after checking the references you sent it seems 3D secure is now enabled in this current version. You can test by using this `4000002760003184` card.

Will now move on to migrating other stuff.

[2019-08-29 18:48] jofftiquez commented on #64
Update the component, added the following:
- new options
- rollup build
- start with payment intents integration

[2019-08-29 18:54] jofftiquez commented on #64
@rootext32 @gadutime As per checking the SCA sections in Stripe docs, I already covered the 1 thing, using 3D secure. And if im not mistaken, the payment intents API adjustments should be done in the server side and is out of scope of this plugin.

[2019-08-30 02:21] seeARMS opened #71 "submit_type should not be set for subscriptions"
Using the v3 beta with subscriptions gives the following error in console:
[code]

this.submitType should not be set for subscriptions: https://stripe.com/docs/api/checkout/sessions/object#checkout_session_object-submit_type

[2019-08-30 03:12] jofftiquez commented on #71
Ack

[2019-08-30 03:46] jofftiquez commented on #71
The `submitType` prop is optional. Would mind sharing your code?

[2019-08-31 03:52] seenickcode opened #72 "Support for Nuxt or SSR Vue"
Hello,

I'm using the `refactor/v3` branch with a Nuxt application. Since Nuxt supports SSR, I get errors that 'window' and 'document' are undefined, naturally because the component gets rendered server side first.

What I did to try to get things to work is fork and create my own `refactor/v3` branch. It looks like the changes I made are working, one just has to

1. import their own `stripe.js` f

[2019-08-31 04:00] jofftiquez commented on #72
Hello @seenickcode thanks for the insight. I am considering to support Nuxt sooner  or later, but for now, since this version is just a testing version and is highly subjected to breaking changes, I am still experimenting stuff. But yeah, we'll get there (Nuxt).

Your suggestions makes sense, I will try to implement them the soonest. Thank you for your help.

[2019-08-31 16:33] rootext32 commented on #64
yes, by using checkout itself there is no way to pass the previous options such as description and amount to stripe. it's now handled by stripe SKU. due to this payment intents api is required

[2019-08-31 17:14] jofftiquez commented on #64
Hello @rootext32 @rootext32 Kindly check this new [version](https://github.com/jofftiquez/vue-stripe-checkout/tree/refactor/v3)

I added the functionality to add [these options](https://stripe.com/docs/api/charges/object) to the stripe elements.

You can now create `token` and `charge object` and send it to the server.

Demo available [here](https://vue-stripe-checkout-v3.surge.sh/vue-stripe-check

[2019-09-02 16:07] jofftiquez commented on #64
May I hear your feedback guys? Otherwise I will merge this to master soon.

@rootext32 @gadutime @zeusstl @buildscientist

[2019-09-02 23:40] rootext32 commented on #64
will look into this...any idea how to insert an amount and description field to stripe elements?

[2019-09-02 23:57] buildscientist commented on #64
@jofftiquez
Thank you for your efforts.

Looks good but I will not be using this as Checkout v2 is only being deprecated. Stripe has not published a date for when Checkout v2 will no longer be supported. I don't need SCA support either.

That said I still think the same functionality  (payment via modal popup) should be rebuilt using Stripe Elements.

[2019-09-03 12:47] jofftiquez commented on #64
You will have to create a separate field for the amount and description, after creating the token using `card-elements`, you will send the `amount`, `description`, and `token` to you server to create a charge.

Thank you @rootext32 , any feedback will be useful.

[2019-09-03 12:50] jofftiquez commented on #64
@buildscientist

Noted on this.

I don't see any reason to support this feature anymore since v2 will be deprecated anyways. But if a considerable amount of users should request for it, let's see what we can do.

Thanks for the feedback.

[2019-09-04 06:44] Jesus82 commented on #64
Hi, for me the payment via modal popup was one of the reasons I was using this module. If you need help with the styling I could lend a hand in that.

[2019-09-04 07:18] jofftiquez commented on #64
Thanks @Jesus82. Appreciated.

[2019-09-04 07:19] jofftiquez commented on #64
FYI all. I will be closing this once I added the capability to pass style props to the Stripe Elements components.

[2019-09-04 07:20] jofftiquez commented on #71
Hi may I follow up on this? Can you show me your code? Thanks.

[2019-09-04 07:20] jofftiquez commented on #43
Irrelevant to V3, will close for now. Feel free to reopen later. Thanks.

[2019-09-04 07:20] #43 closed

[2019-09-04 07:21] jofftiquez commented on #55
Any more update @zedrdave? Will close this for now. Feel free to reopen later.

[2019-09-04 07:21] #55 closed

[2019-09-04 07:24] jofftiquez commented on #50
Error events are now available in V3 beta. See [this](https://github.com/jofftiquez/vue-stripe-checkout/blob/61ca07de61cf2fac08d86d57c971d3ff7ca51a0b/src/Checkout.vue#L68) and [this](https://github.com/jofftiquez/vue-stripe-checkout/blob/61ca07de61cf2fac08d86d57c971d3ff7ca51a0b/src/Elements.vue#L41).

[2019-09-04 07:24] #50 closed

[2019-09-05 09:03] marlarius opened #73 "Failed to mount component"
Hi,

I keep getting this warning:

[code]

And the component does not show up.

This is my component file:

[code]

What could be wrong?

[2019-09-05 09:20] jofftiquez commented on #73
@marlarius this must be caused by the wrong build type. Can you try to do this:

[code]

Add `.default` in the `VueStripeCheckout`.

[2019-09-05 09:25] marlarius commented on #73
Now that gives me this error:

vue.runtime.esm.js?2b0e:5100 Uncaught TypeError: Cannot read property 'install' of undefined
    at Function.Vue.use (vue.runtime.esm.js?2b0e:5100)
    at eval (HelloWorld.vue?140d:22)
    at Module../node_modules/cache-loader/dist/cjs.js?!./node_modules/babel-loader/lib/index.js!./node_modules/cache-loader/dist/cjs.js?!./node_modules/vue-loader/lib/index.js?!./src/c

[2019-09-05 09:36] jofftiquez commented on #73
@marlarius noted. You should remove .default. I will look into this, will fix for the next update (soon). Thank you for your feedback.

[2019-09-05 10:01] marlarius commented on #73
FYI, I have attached the simple demo project, based on the standard "Hello World" vue app. Maybe that can tell you something.

Note that I have only included vue-stripe-checkout in node_modules.

[stripe.zip](https://github.com/jofftiquez/vue-stripe-checkout/files/3578645/stripe.zip)

[2019-09-05 13:12] jofftiquez commented on #73
Thank you @marlarius

[2019-09-06 23:42] seeARMS commented on #71
Hi,

Sorry, but I don't have the problematic code anymore. I fixed this by changing the default value of submitType to `null`:

https://github.com/jofftiquez/vue-stripe-checkout/blob/61ca07de61cf2fac08d86d57c971d3ff7ca51a0b/src/Checkout.vue#L28

Even if the prop is optional, it's still being passed with a default value of 'auto' to the `redirectToCheckout` method: https://github.com/jofftiquez/vue

[2019-09-07 03:41] jofftiquez commented on #71
Oh I see so that's the problem. Thanks, I will remove the default value then. Thanks.

[2019-09-13 09:43] SrPatinhas commented on #64
@jofftiquez thank you. Yes, as the website that I have this package implemented is based in Europe, I need to have the SCA. I saw this demo [Modal](https://github.com/stripe-samples/payment-form-modal) and I think it would be a nice start if you start from scratch. But this implementation uses the stripe elements. If you need any help, or if it's already possible to implement V3 for production, th

[2019-09-13 12:12] jofftiquez commented on #64
@SrPatinhas - since the deadline for SCA is already near, maybe you can just do that for now. I will do the implementation on my side as soon as possible so come the release of v3, you should be able to use it by then.

[2019-09-13 17:12] AlexGodbehere commented on #64
Thanks for the effort you're putting into this. I'm getting a `Can't resolve 'vue-runtime-helpers/dist/normalize-component.js in .../node_modules/vue-stripe-checkout/dist` error when I try to compile my js. Any ideas?

[2019-09-13 18:05] AlexGodbehere commented on #64
Ok, I fixed this by installing `vue-runtume-helpers` manually. I'm trying to get the elements checkout working but I'm now getting a `Unknown custom element: <vue-stripe-elements> - did you register the component correctly?`. I've registered the component with the following. Am I missing something?
[code]

[2019-09-14 03:17] jofftiquez commented on #64
Hello @AlexGodbehere are there any more errors other than this:

[2019-09-16 14:11] AlexGodbehere commented on #64
Unfortunately not. Do I need any other 3rd party packages?

[2019-09-16 14:16] gadutime commented on #64
Hi @jofftiquez, I was checking something when testing this solution, perhaps you might know. With your previous code (using Stripe Charges), I could return from the modal to my vue component... But now it requires the "success_url" parameter, which doesn't work really well with vue, since to load any component we should be using router.push(COMPONENT).... Any idea how to get this sorted out?

Than

[2019-09-16 14:29] AlexGodbehere commented on #64
If I try to use the `<vue-stripe-checkout>` code below, I get a `Missing required prop: "publisableKey"` error:

[code]

[2019-09-18 23:36] crawfordleeds opened #74 "Update unpkg url for v3"
I'm getting a 404 error when trying to use the unpkg cdn for >=v3 as it seems to use resources than v1.

For example, `v1.2.6` works at https://unpkg.com/vue-stripe-checkout@1.2.6/build/vue-stripe-checkout.js.

Just changing the version to 3 returns a 404 error. However, it seems to work at the following url: https://unpkg.com/vue-stripe-checkout@3.0.0-beta.11/dist/index.js.

Is this a mistake? If

[2019-09-19 03:30] #74 closed

[2019-09-19 03:30] jofftiquez commented on #74
Hi @crawfordleeds thanks for this. Merged PR.

[2019-09-19 16:46] Bubacarr commented on #14
hi @emkman  i'm trying your solution but i'm getting this error any idea why

ERROR  Failed to compile with 1 errors

This dependency was not found:

* vue-runtime-helpers/dist/normalize-component.js in ./node_modules/vue-stripe-checkout/dist/index.js

[2019-09-30 11:30] fsc7 commented on #64
I am getting the same error as above. Any news on that?

[2019-10-04 15:01] 11kashifali opened #76 "Error while Registering globally"
Cannot read property 'addEventListener' of null, when using
Vue.use(VueStripeCheckout, {
  publishableKey: app_key
})

on this line document.querySelector('#stripe-js').addEventListener

[2019-10-08 11:17] fsc7 commented on #76
I am having the same error

[2019-10-10 05:57] sergeynilov opened #77 "Can it be used for subscriptions ?"
Hello,
This plugin is entitled as vue-stripe-checkout, but can it be used for
subscriptions in Laravel 5.8 / vuejs 2.6 app ? In the description I did not find relative info...
If yes, please ref to example ...

Thanks!

[2019-10-10 06:52] sergeynilov commented on #77
I tried to install vue-stripe-checkout in my vue page, but got error :

[code]
[code]

    I tried to uncomment one of lines in components, but then error was different :
[code]

How correctly to use this component ?

[2019-10-11 09:58] izno commented on #64
...I'm getting the same "Missing prop" issue! Any suggestion on how to solve this is much appreciated.

[2019-10-11 10:10] fsc7 commented on #64
You need to set publishableKey in your component either by using props or with the register in Vue.use.
Anyhow by now I stopped using this component and just added stripe as their tutorial says. I hope this component becomes more stable for this version so I can consider using it again.

[2019-10-11 10:18] izno commented on #64
Thanks for the tip @fsc7 ...I have the Key in the Vue.use! However which tutorial are you referring to? ...could you please share the link so I can take a look at it.

[2019-10-11 10:21] fsc7 commented on #64
https://stripe.com/docs/payments/checkout/server

[2019-10-12 04:49] jofftiquez commented on #64
Hello all, I'm really sorry I am really busy right now. Please understand. I will give time on this soon. Thanks.

[2019-10-12 08:09] fsc7 commented on #64
No need to apologize, you have already done a great job putting this together and making it available. It is very hard to keep up with everything. Unfortunately, I could not take a look too and I went to the easiest path. Thanks to you.

[2019-10-14 15:35] jofftiquez commented on #73
I was able to reproduce the problem. Will fix this soon.

[2019-10-18 10:54] MrChickenBacon commented on #64
I also had that "Missing required prop: "publisableKey" error"

This is the correct code(atleast for me). It works.

[code]

[2019-10-18 10:59] MrChickenBacon commented on #64
Edit package.json file ->

add these into devDependencies

[code]

Then save it and do a npm install. This fixes it for me.

[2019-10-18 19:00] jofftiquez commented on #64
Can anyone confirm that this is working? If so, I will add this. Thanks.

[2019-10-18 19:01] jofftiquez commented on #64
@rootext32 @gadutime any updates? Did this help you with the SCA deadline? I wanna know. Thanks :).

[2019-10-22 06:24] dhaval-dignizant opened #78 "Module not found"
Module not found: Error: Can't resolve './stripeConfig.json'

[2019-10-22 06:26] #78 closed

[2019-10-30 07:30] TakuWata commented on #14
Hi, thank you for all the information provided first.

Now I am trying this in nuxt and got the same problem with @Bubacarr .
Did you fix this already?

@emkman @jofftiquez
I am following @emkman's solution by the way.
Any idea how to fix this error?
(I can't directly install the vue-runtime-helpers/ dependency.)

[2019-11-01 09:40] ckurir opened #79 "Adding meta data?"
Is it possible to add meta data to a charge? I like to have an "Order number" associated with the payment.

Is it possible and how to add this?

/Christian

[2019-11-09 21:54] JTInfinite commented on #64
I had this issue and the suggested fix (adding the devDependencies) worked for me.

[2019-11-16 21:16] insign commented on #71
Have you removed this? What is the right beta, btw?

[2019-11-16 21:33] insign commented on #77
Looks like that it is not currently possible. Read #71 . I fixed it by removing that line https://github.com/jofftiquez/vue-stripe-checkout/blob/refactor/v3/dist/index.js#L86

[2019-11-20 20:16] ivxa opened #81 "SKUs for Checkout require a `name` attribute."
Hey,

I get the following error when clicking the checkout button:
Uncaught (in promise) IntegrationError: SKUs for Checkout require a `name` attribute.
(Find the code below; I'm using "^3.0.0-beta.2")

Most likely I'm doing something definitely wrong and there is no issue with the module. Any help would be appreciated.

Thanks!

[code]

[2019-11-20 23:14] rahulrumalla commented on #72
Heya. The changes proposed by @seenickcode worked perfectly for me using it with nuxt. Would be great to this in :pray:

[2019-11-21 04:54] ivxa commented on #81
Solved. It wasn't related with the module. I just needed to add the "name" attribute to the SKU in Stripe's dashboard

[2019-11-21 04:55] ivxa commented on #81
Solved. It wasn't related with the module. I just needed to add the "name" attribute to the SKU in Stripe's dashboard

[2019-11-21 04:55] #81 closed

[2019-11-25 21:25] baristaGeek opened #82 "What's the recommended node version to run this?"

[2019-12-07 03:42] jeremyd125 commented on #73
Is there a fix for this yet?

[2019-12-07 08:28] marlarius commented on #73
I need it badly too.

[2019-12-15 14:11] jofftiquez commented on #64
Hello all, `refactor/v3` has been merged. Kindly check try and check if your issues still persist. If so, please create a new issue. Thanks.

[2019-12-15 14:11] #64 closed

[2019-12-15 14:16] jofftiquez commented on #82
Hi, you can use the latest LTS or whatever your vue cli version requires.

[2019-12-15 14:16] #82 closed

[2019-12-15 14:17] jofftiquez commented on #79
Hello as far I know you can add meta in the backend. I do that in my node.js implementation. Checkout their API. Thanks.

[2019-12-15 14:17] #79 closed

[2019-12-15 14:19] jofftiquez commented on #77
Hi, I merged the version 3 and made some fixes. Please try again and let me know. Closing this for now. Please create new issue if necessary.

As for subscription implementation, it's available in the Stripe documentation, however, I still have to implement it.

[2019-12-15 14:19] #77 closed

[2019-12-15 14:20] jofftiquez commented on #76
Hello I merged the version 3 branch. I removed the global implementation for performance purposes. You can now directly import the Checkout or Element component from your consuming components. Closing this now. Please create a new issue if there's any. Thank you.

[2019-12-15 14:20] #76 closed

[2019-12-15 14:22] jofftiquez commented on #73
Hello all, I merged the version 3 branch and made some fixes. Please upgrade and try the new version. Closing this now. Please create a new issue if there's any. Thank you.

IMPORTANT - there are breaking changes in the implementation, please read the documentation carefully.

[2019-12-15 14:22] #73 closed

[2019-12-15 14:28] jofftiquez commented on #72
Hello @seenickcode I merged the `refactor/v3` branch to master. However, I wasn't able to implement your suggestions. I removed the part where you need to load the stripe checkout right away in the `index.html` because of performance issues. For some, it's not ok to load the scripts you don't need immediately. And I totally agree with that. Kindly see the updated documentation and let me know what

[2019-12-15 14:31] #71 closed

[2019-12-15 14:34] jofftiquez commented on #71
Hello this has been fixed in `v3.1.3`. Thanks

[2019-12-15 14:34] jofftiquez commented on #12
Hello all, I merged the version 3 branch and made some fixes. Please upgrade and try the new version. Closing this now. Please create a new issue if there's any. Thank you.

IMPORTANT - there are breaking changes in the implementation, please read the documentation carefully.

[2019-12-15 14:34] #12 closed

[2019-12-15 14:35] jofftiquez commented on #49
Hello all, I merged the version 3 branch and made some fixes. Please upgrade and try the new version. Closing this now. Please create a new issue if there's any. Thank you.

IMPORTANT - there are breaking changes in the implementation, please read the documentation carefully.

[2019-12-15 14:35] #49 closed

[2019-12-16 16:03] jofftiquez opened #86 "Change build type from cjs to esm"

[2019-12-18 15:11] marlarius opened #87 "Subscription and Plans Support"
1.
I believe your links for creating SKUs are wrong. Don't you mean https://stripe.com/docs/api/skus/create?

2.
SKUs cannot be used for subscriptions and plans. Is vue-stripe-checkout only meant for products with SKUs or can it also be used for plans?

[2019-12-19 06:02] Felix-O opened #89 "Uncaught (in promise) IntegrationError: SKUs for Checkout require a `name` attribute."
After following the instructions i get the console message

``` Uncaught (in promise) IntegrationError: SKUs for Checkout require a `name` attribute. ```

[2019-12-19 07:44] jofftiquez commented on #89
@Felix-O can you send you code? Thanks.

[2019-12-19 07:59] Felix-O commented on #89
Hey, sorry about that. I will send more info next time. Also, the issue I was having was related to the stripe dashboard. I went to settings and enabled client only integration. Every product/sku I made after that works fine.

Many thanks.

[2019-12-19 07:59] #89 closed

[2019-12-19 08:53] jofftiquez commented on #89
@Felix-O cool!

[2019-12-19 08:56] jofftiquez commented on #87
Hello @marlarius

1. Thanks for the correction.

2. You are correct, SKUs cannot be used for subscriptions and plans. For now, it can only handle creating one time payment using SKU and creating charges using the stripe elements.

Will rename this issue to "Subscription and Plans Support"

[2020-01-02 06:11] tbrown1979 opened #92 "Using SessionId for checkout errors due"
**Describe the bug**

My checkout use-case is calling Stripe with a `sessionId`. When calling the `redirectToCheckout` method with a `sessionId` no other values can be present in the request; if using `sessionId` to redirect then only `sessionId` can be in the object.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up a small example where you try to use a sessionId to checkout.
2. Click

[2020-01-07 07:41] jofftiquez commented on #92
Hello @tbrown1979 thanks for the issue. It makes sense actually. I saw your PR and I have one comment. I will do further research about `sessionId` and will let you know. TBH I haven't tested this with sessions. If you find anything useful please let me know.

[2020-01-07 07:43] jofftiquez commented on #92
Let's continue the discussion on your PR. Thanks.

[2020-01-17 14:23] jofftiquez commented on #72
Hello @seenickcode any updates? Thanks.

[2020-02-16 05:45] #92 closed

[2020-02-20 11:24] benben994 commented on #14
vue-stripe-checkout version: 3.1.6

I followed the previos solution
vue-stripe-checkout.js
[code]
nuxt.config.js
`{ src: '~/plugins/vue-stripe-checkout', ssr: false }`
`transpile: [ 'vue-stripe-checkout' ]`

but there's error showing
"export 'default' (imported as 'VueStripeCheckout') was not found in 'vue-stripe-checkout'
See if someone could give some advice, thanks

[2020-02-20 12:28] williamchong007 commented on #14
@benben994 try named import instead i.e.
[code]

[2020-02-21 01:37] benben994 commented on #14
Hi @williamchong007 , thanks for your reply.
I've try the way you mentioned, but I got `Unknown custom element <vue-stripe-checkout> - did you register the component correctly?`
I've try <StripeCheckout> <VueStripeCheckout> etc in local .vue, but the error is showing anyway.

[2020-02-25 21:40] DanielRivers commented on #72
I am needing this too, I will try forking and doing a pull request

[2020-02-27 06:12] jofftiquez commented on #72
Please do @DanielRivers thanks.

[2020-03-05 21:02] onkbear commented on #14
Hi @benben994,
I think your code is for v1. Try to register the component.

[code]

[2020-03-09 13:10] jofftiquez commented on #87
Hi, kindly check the latest demo. It includes recurring payment subscription. Thanks.

[2020-03-09 13:10] #87 closed

[2020-03-10 10:30] tovil opened #94 "Product & Subscription"
Hi,
Is it possible to mix plan and sku in one checkout?
When I'm trying to do so, I get an error:
`IntegrationError: Invalid stripe.redirectToCheckout parameter: items.1.sku is not an accepted parameter.`

Thanks

[2020-03-10 17:39] jofftiquez commented on #94
Hello, @tovil I am not sure about that, I might have to review the docs first. May I see your code tho?

[2020-03-10 20:26] tovil commented on #94
@jofftiquez
The code is like in your example and the items array looks like:
`items: [ {sku: 'sku_xxxxxxx', quantity: 3}, {plan: 'plan_xxxxxx', quantity: 1} ]`

I've tested Stripe's redirectToCheckout code and I get the same error.
In their example for checkout subscription and add-on they use server side with stripe.checkout.sessions.create
Then they send the plan under **subscription_data** and

[2020-03-11 02:25] jofftiquez commented on #94
It says [here](git@github.com:mycurelabs/web-accounts.git):

Take note of the **OR**. I think it's an implicit rule to only use one plan or sku at a time. It make senses because in the checkout page for SKU and Plans have different buttons, "Buy" for SKU and "Subscribe" for Plan.

[2020-03-11 02:27] jofftiquez commented on #94
As for the `checkout.sessions.create` this is the recommended way of doing checkout. Altho it is perfectly fine to do checkout even without creating your own session from the backend.

[2020-03-27 23:06] weihao commented on #72
@DanielRivers ^ updates?

[2020-03-27 23:20] weihao commented on #14
[code]

Is anyone getting this following @williamchong007's instruction?

[2020-03-27 23:30] weihao commented on #14
I am getting this error
[code]
plugin file
[code]

nuxt
[code]

[2020-03-28 02:04] weihao opened #98 "Cannot read property 'install' of undefined"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. "vue-stripe-checkout": "^3.1.14"
2. "vue": "^2.6.11"
3.  "nuxt": "^2.12.1"

[2020-03-28 02:08] jofftiquez commented on #98
Hello thank you for posting an issue. I will reference this to the main nuxt conversation. Thanks.

[2020-03-28 02:22] jofftiquez commented on #72
Hello all, may I know how you implemented this? So I tried to tinker around nuxtjs these past few days because of this issue. As per @seenickcode's description, he is importing the scripts the "nuxt way" in the the nuxt config (?).

Anyways, I created this component with the `stripe.js` included in the component, but it will only load when needed.

In the component where I want to use the checkout

[2020-03-28 02:22] jofftiquez commented on #72
@weihao please check as well. Referencing #98

[2020-03-28 02:45] weihao commented on #72
I tried this and I got an error:
[code]
![image](https://user-images.githubusercontent.com/31719556/77813149-9a960500-707c-11ea-9a12-3d5ac7867268.png)

window is not defined due to SSR.

[2020-03-28 20:51] jofftiquez commented on #72
@weihao thank you for confirming. I will check this.

[2020-03-28 21:27] weihao commented on #72
Thanks for the support! Please keep us updated.

[2020-03-31 15:09] jofftiquez commented on #72
UPDATE: After trying a couple of things, I finally came up with something. I will make a test branch for this so we can all test it.

[2020-03-31 18:45] weihao commented on #72
Awesome, let me know and I can help out testing.

[2020-04-02 11:36] boghy933 opened #99 "Create 3DS payments with Vue Stripe Elements"
Hello,
Is it possible to trigger the 3DS PopUp if i use Vue Stripe Elements and not the Checkout version?
Thank you.

[2020-04-02 12:02] jofftiquez commented on #99
Hello @boghy933 that I'm not sure. As far as I know, the Stripe Element is used for server side payment. I think you can tell the server to eventually bring the user to a page where they can do the 3DS PopUp.

[2020-04-02 12:02] #99 closed

[2020-04-02 12:06] boghy933 commented on #99
Thank you @jofftiquez for the quick answer.

[2020-04-05 16:03] AlexanderWallner opened #100 "Invalid stripe.redirectToCheckout parameter: items.0.sku is not an accepted parameter."
Stripe does not accept items.0.sku parameter

sample

<template>
  <base-section id="checkout">
    <stripe-checkout
      ref="checkoutRef"
      :pk="publishableKey"
      :items="items"
      :successUrl="successUrl"
      :cancelUrl="cancelUrl"

      <template slot="checkout-button">
        <button @click="checkout">Checkout</button>
      </template>
    </stripe-checkout>
  </base-section>

[2020-04-06 01:03] jofftiquez commented on #100
Please the code in your issue properly. Thanks.

[2020-04-06 03:24] AlexanderWallner commented on #100
Hi there,
sorry, here is the zip with the component Checkout.vue

[Checkout.vue.zip](https://github.com/jofftiquez/vue-stripe-checkout/files/4435714/Checkout.vue.zip)

Thanks,
Alex

[2020-04-07 01:58] jofftiquez commented on #100
Hi @AlexanderWallner you don't have to send a zip file. Just use markdown code formatting. Thanks.

[2020-04-08 17:35] asefcamel commented on #100
i got this error. what's wrong ? i used the same structure in the readme for the checkout component .. (index):1 Uncaught (in promise) IntegrationError: No such sku: sku_FdQKocNoVzznpJ

[2020-04-08 17:44] asefcamel commented on #100
ok i found the issue. you have to make first an product in the dashboard. and you have to set your account details then it wil work.

[2020-04-08 19:10] AlexanderWallner commented on #100
Hi there, the product is created in my stripe account. I will check again, thanks

[2020-04-08 19:16] asefcamel commented on #100
make sure you pass the correct sku, stripe will auto generate one ..

[2020-04-08 19:20] AlexanderWallner commented on #100
`<template>
  <base-section id="checkout">
    <stripe-checkout
      ref="checkoutRef"
      :pk="publishableKey"
      :items="items"
      :successUrl="successUrl"
      :cancelUrl="cancelUrl"

      <template slot="checkout-button">
        <button @click="checkout">Checkout</button>
      </template>
    </stripe-checkout>
  </base-section>
</template>`
`<script>
  import { StripeCheckout } f

[2020-04-08 19:43] asefcamel commented on #100
ok i think i found your issue it's the name i think.. just remove the name..

[2020-04-08 20:07] AlexanderWallner commented on #100
I added the name because the stripe API answers that the name is needed

[2020-04-09 00:06] jofftiquez commented on #100
Hello, did you find a solution @AlexanderWallner? Thanks @asefcamel for assisting.

For future issues kindly use the proper mark down formatting. What you did is for single line code. Kindly refer to [this](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code-and-syntax-highlighting).

[2020-04-09 01:02] btraxinger commented on #72
Hello @jofftiquez, were you able to make a test branch? I would gladly give you a hand testing this if needed.

[2020-04-09 03:21] AlexanderWallner commented on #100
Thanks guys, yes, it works now without name in sku. Now I now how to markdown correctly)

[2020-04-09 03:21] #100 closed

[2020-04-10 18:13] #94 closed

[2020-04-11 13:39] CiaranPearse commented on #98
I am also getting this error. In addition the package does not show up in modules folder.

[2020-04-14 02:37] jofftiquez opened #102 "Create guide for session usage in docs"

[2020-04-16 00:24] platform-kit commented on #72
I ran into this issue using this component with Gridsome. Was able to get around it by creating a duplicate of vue-stripe-checkout.js, wrapping its content in `if(typeof window != 'undefined')` and importing that instead.

[2020-04-16 00:28] jofftiquez commented on #72
Thanks @platform-kit for the updates.

Everyone, I'm sorry I've been really busy lately. Please kindly try the workaround solutions requested here. I will fix this soon.

[2020-04-16 05:44] folkevil commented on #98
I got same problem, I'm using with Laravel Mix.

[2020-04-16 07:28] jofftiquez commented on #98
@CiaranPearse that might be a different problem. Kindly post a new issue with detailed summary of what you're experiencing.

- Code sample
- Errors
- Screenshots

[2020-04-18 01:49] true-zero opened #103 "Unclear as to how the token and charge are supposed to be used."
**Is your feature request related to a problem? Please describe.**
Currently I'm having to sift through the Stripe documentation try and figure out how the token and charge variables shown in the example for Stripe Elements are supposed to be used and I'm still scratching my head trying to figure it out.

**Describe the solution you'd like**
Ideally an example of how you'd also process the payment

[2020-04-18 04:50] jofftiquez commented on #103
Hello @true-zero you are right. The token usage is currently not yet documented. I apologize. For the meantime, you can refer to [this](https://github.com/jofftiquez/vue-stripe-checkout/pull/93#issuecomment-612557500).

[2020-04-18 04:52] jofftiquez commented on #103
Oh my bad. This is about the token and charge. I thought it was about sessions and checkout. Can you tell me what you have tried so far?

[2020-04-18 04:56] jofftiquez commented on #103
See my Stripe Element example [here](https://github.com/jofftiquez/vue-stripe-checkout#vue-stripe-elements), in the `tokenCreated ` method.

For the record, the charging of the customer is all done in the backend. To do that, you just have to pass this payload to your backend:

[code]
Let me know if you still have problems. I'm closing this now.

[2020-04-18 04:56] #103 closed

[2020-04-18 07:03] true-zero opened #105 "An empty button being created by the example"
**Describe the bug**
An empty submit button being created under the Stripe elements.
![image](https://user-images.githubusercontent.com/46781337/79630609-b60ba180-814a-11ea-8a71-5c3ae17ce801.png)

**To Reproduce**
[code]

**Expected behavior**
For there to be no empty submit button and for it look like this:
![image](https://user-images.githubusercontent.com/46781337/79630653-03880e80-814b-11ea-98

[2020-04-18 07:10] jofftiquez commented on #105
Hello kindly ignore it for a while. I will deploy a new version to fix this in a few hours. I just have to finish my work. Thanks @true-zero

[2020-04-22 01:15] true-zero commented on #105
@jofftiquez Any updates on this issue?

[2020-04-24 20:32] siba2893 opened #106 "Allow Locale to be passed on Stripe Elements"
**Is your feature request related to a problem? Please describe.**
Yes cause errors are coming out in English only.

**Describe the solution you'd like**
Be able to pass the locale to the vue-stripe-checkout and have it translated.

[2020-04-27 05:27] jofftiquez commented on #106
Hello @siba2893 this feature hasn't been implemented yet. I will look into it. Thanks.

[2020-04-27 05:44] jofftiquez commented on #106
Hello I uploaded a new version that includes [these new options](https://github.com/jofftiquez/vue-stripe-checkout#vue-stripe-elements). Check version `v3.3.0`

[2020-04-27 05:44] #106 closed

[2020-04-27 06:00] #105 closed

[2020-04-27 06:01] jofftiquez commented on #105
Hello @true-zero checkout `v3.3.1`

[2020-04-28 21:31] siba2893 commented on #106
Beautiful thanks for such a quick response.

[2020-04-28 22:10] siba2893 opened #107 "Enhancement: Expose elements.create('card') options"
**Is your feature request related to a problem? Please describe.**
Please expose the options of the card element listed on stripe.js documentation so we can take decisions on how the elements behave. Example: Hide the Postal Code

**Describe the solution you'd like**
Merge cardElements hash with this hash:

[code]
[code]

[2020-04-29 00:35] jofftiquez commented on #107
Thanks @siba2893 I'll look into this.

[2020-04-29 05:42] siba2893 commented on #107
Awesome :D Thanks for promptly respond!

[2020-04-29 20:04] peterhoffren commented on #72
Im trying to get NuxtJS working with the vue-stripe-checkout, Can you explain just a bit how you managed to get this working? Thanks!

[2020-04-29 20:06] platform-kit commented on #72
Duplicate the file "vue-stripe-checkout.js" from the node_modules/vue-stripe-checkout (this package). Add

`if(typeof window != 'undefined') { `

at the very beginning of that file, and `}` at the end.

Then import this file instead of the original.

[2020-04-30 16:49] leep0o commented on #107
When do you plan to add this feature to the master branch?

[2020-05-02 17:52] florinrelea opened #108 "Internet Explorer 11 - SCRIPT5005: String expected String expected index.js (439,5)"
This error occurs on IE11: SCRIPT5005: String expected - index.js (439,5)
![stripecheckout](https://user-images.githubusercontent.com/56991338/80871832-d09b5a00-8cb6-11ea-9584-1d8191ee12b1.png)

[2020-05-04 05:55] #108 closed

[2020-05-05 04:06] florinrelea opened #109 "IE11 - Error: SCRIPT5005: String expected"
**Describe the bug**
IE11 returns this error: SCRIPT5005: String expected, index.js (439,5)
Version: "^3.0.0-beta.11"
I tried to transpile 'vue-stripe-checkout' but the error is the same.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a local server
2. Open Internet Explorer
3. Open the console

**Screenshots**
![Untitle3d](https://user-images.githubusercontent.com/56991338/81034058-8

[2020-05-05 05:58] jofftiquez commented on #109
Hello @florinrelea thank you for posting this. Have you tried the latest version `v3.3.1`? For full disclosure this plugin hasn't been tested in any IE browsers yet.

[2020-05-05 06:17] florinrelea commented on #109
Hi! Just tried to run my app using "vue-stripe-checkout": "^3.3.1". Same error.

[2020-05-07 00:47] WoLpH opened #110 "Typescript definition outdated"
**Describe the bug**

The typescript definition currently defines a single interface instead of the separate `StripeCheckout` and `StripeElements` definition.

**Expected behavior**

A typescript definition somewhere along these lines:
[code]

**Desktop (please complete the following information):**
 - OS: OS X
 - Browser Chrome
 - Version 81

**Additional context**

[2020-05-07 01:38] WoLpH commented on #110
I'm far from a typescript expert, but I believe something like this might work:
[code]

[2020-05-14 15:51] cryptobench opened #111 "IntegrationError: Checkout does not support plans with the value 0 for `amount` in `items[0]`."

[2020-05-14 17:29] #111 closed

[2020-05-26 20:14] takburger-ap commented on #72
In nuxt, you can load stripe only in your component, so you won't have to load stripe on all pages.
`export default {
  head () {
    return {
      script: [
          {
          hid: 'stripe',
          src: 'https://js.stripe.com/v3' }
      ]
    }
  },`

Looking forward to seeing this module perfectly working for nuxt.

[2020-05-27 07:39] ericuldall opened #112 "Getting an error when trying to use price property"
Trying to check out with a single payment as described here: https://stripe.com/docs/payments/checkout/client

This library works fine with subscriptions using {plan} but when I try using {price} i get the following error:
[code]

I notice in the stripe checkout docs there is an option `mode = payment|subscription` and I don't see that implemented in the code here. Does this library support one ti

[2020-05-31 13:38] Ahmedie-m opened #113 "[Documentation] Examples of how to a custom form with Stripe elements"
Please document simple examples of how to a custom form with Stripe elements, I have not had any luck with adding basic text-fields for name and surnames, etc.

Thank you very much.

[2020-06-01 06:03] ajitgoel opened #114 "Collecting single stripe payment"
I am working on collecting a single payment using the documentation at https://stripe.com/docs/payments/accept-a-payment.
Based on my understanding, I should be able to use "Vue Stripe Elements" to "collect card details" and  then on click of the payment button to "submit the payment to Stripe".
When I "submit the payment to Stripe", I would pass the client secret I retrieved from the server above

[2020-06-03 12:51] Meseeksivs commented on #114
https://github.com/jofftiquez/vue-stripe-checkout/blob/master/index.html <- The source code is already there.

[2020-06-03 13:12] ajitgoel commented on #114
Thank you @Meseeksivs , I resolved the issue by integrating with stripe elements directly.

[2020-06-03 13:12] #114 closed

[2020-06-04 14:29] sdwru commented on #113
Yes, this seems to be a shortcoming of this project at the moment.  The examples posted in the readme do not give you what is show in the screenshot at the top of the page.  The examples only give you a little button.  I was scratching my head for awhile before I finally figured out that the examples are not the same thing as the screenshot.  So it's pretty confusing the way the readme is written.

[2020-06-04 16:31] Ahmedie-m commented on #113
@sdwru Have you perhaps figured it out? We can help and PR this readme and make value to other users.

[2020-06-09 19:48] ty7466 opened #115 "Unexpected token: name (d)"
Receiving this error
` ERROR in main.js from UglifyJs
    Unexpected token: name (d) [main.js:49280,1931]`

**To Reproduce**
Upgraded from legacy version to new version. Created a Stripe elements checkout process
It builds when I run a dev build but fails on npm run build for prod

Heres my babelrc

`{
  "presets": ["es2015", "stage-2"],
  "plugins": [
    "transform-runtime",
    "transform-async

[2020-06-10 12:39] caeser1996 opened #116 "How to implement stripe strong customer authentication"
How to implement stripe strong customer authentication I am unable to see any option in plugin please provide if you have any reference. Your kind consideration is required.

Regards,
Sumanta Mukhopadhyay

[2020-06-11 05:53] ryoju-ohata opened #117 "The items parameter is no longer supported"
The line parameter has been changed to the lineItems in the redirectToCheckout.
We need to rewrite it to the lineItems.

https://stripe.com/docs/payments/checkout/migration#client-products

[2020-06-11 10:52] jofftiquez commented on #117
Cool! Thanks for the heads up @ryoju-ohata I will keep this issue open. Are you planning to do a PR? Just let me know.

[2020-06-11 11:04] ryoju-ohata commented on #117
Thanks @jofftiquez
I'm not familiar with this code, so I'm not planning to do a PR.

[2020-06-11 11:08] jofftiquez commented on #117
I understand. Thanks. Will add this to my to-do list.

[2020-06-18 23:36] pilotkid commented on #112
@jofftiquez any update on this?

[2020-06-19 01:39] jofftiquez commented on #112
Hello, thanks for this. I will look into this soon. My apologies, I've been very busy with work lately. I hope you understand. A PR is always welcome.

[2020-06-20 18:27] jcalfee opened #119 "Research"
Please do your research .. Of course Black Lives Matter, but BLM is a funding by billionaire George Sores and is designed from the ground up to trick good people into violence and therefore providing governments the justification they need to bring in more tyrannical abuse of freedom.  In other words, you think the police state is bad now, it will get worse if we sell out, take money, and listen t

[2020-06-22 20:18] inverite commented on #115
Also having this same issue.  All the way back to 1.2.6 which doesn't have StripeElements.  Any fix underway @jofftiquez ?

Thank you

[2020-06-22 21:59] ty7466 commented on #115
@inverite So what I had to do is switch from using webpack uglify to a different minifier. Since Uglify does support es2015 I think

[2020-06-23 02:04] jofftiquez commented on #115
Hello all, apologies for the late reply, as you can see, I am very busy with my day job. I hope you understand. :( I'm more than happy to fix this issue. I just need the following information:

1. Version of vue cli that you guys are using
2. Babel config

Thank you.

@ty7466 @inverite

[2020-06-23 02:34] jofftiquez commented on #115
If you guys are using vue-cli 3, it seems babel-loader is already ignoring all deps from node_modules upon transpilation. Will still wait for your feedback tho.

https://cli.vuejs.org/config/#transpiledependencies

[2020-06-23 03:33] rajsinghUSA opened #120 "How can the Style Object be used?"
Hi @jofftiquez , thank you for creating this useful Vue component.

I am wondering how `vue-stripe-elements` can be styled with the [Style Object](https://stripe.com/docs/js/appendix/style). Looking through the `/src` code, it didn't appear to accept any `style` prop, but some discussions in this repo's Issues section lead me to believe it is still possible.

Can you (or anyone) please clarify?

[2020-06-24 19:25] rajsinghUSA opened #121 "How to create discrete inputs for credit card information (like in screenshot)"
This screenshot displays a credit card input form with individual inputs for the card information (CC#, expiration, CVV) and also the name, country, and email:

![image](https://user-images.githubusercontent.com/17286177/85618173-65269680-b62e-11ea-96c5-99b7cf6bcbd8.png)

Based on the [Vue Stripe Elements example][3] shown in the GitHub README.md, my *single-file Vue component* currently creates a

[2020-06-26 06:53] vivek-kachhadiya13 opened #122 "Cannot read property 'install' of undefined"
**Uncaught TypeError: Cannot read property 'install' of undefined**
  To Reproduce Steps to reproduce the behavior:

import VueStripeCheckout from 'vue-stripe-checkout'
console.log(VueStripeCheckout) --> VueStripeCheckout is undefined
Vue.use(VueStripeCheckout, options);

"vue-stripe-checkout": "^3.3.1"
"vue": "^2.6.11"

[2020-06-26 17:19] thedelk commented on #100
@AlexanderWallner Would you mind mentioning what you did to resolve your issue, in case others have the same problem?

[2020-07-04 23:37] MohawkMan commented on #116
I'm not in production yet but I have this is working in test:

`
    confirmCardPayment (clientSecret) {
      const stripe = this.$refs.elementsRef.stripe
      const card = this.$refs.elementsRef.card
      if (clientSecret && stripe && card) {
        stripe.confirmCardPayment(clientSecret, {
          payment_method: {
            card: card
          }
        })
          .then(r => {

[2020-07-05 16:12] watsuyo commented on #112
I'm facing the same problem.

[2020-07-06 01:29] ivgtr commented on #112
Hey @watsuyo
This issue should be resolved in #118.
Or clone this repository and add the lineItems and items properties.

[2020-07-08 00:15] jofftiquez commented on #115
Hello all, I gave time to check this lately. You can ignore `vue-stripe-checkout` in your webpack config under UglifyJsPlugin configuration using `exclude` property.

[2020-07-08 00:15] #115 closed

[2020-07-08 00:16] jofftiquez commented on #122
Thanks for sending an issue, see duplicate #98.

[2020-07-08 00:16] #122 closed

[2020-07-12 18:22] MohawkMan opened #123 "It looks like Stripe.js was loaded more than one time. Please only load it once per page."
When using in a SPA every time you navigate to the page with the component it loads stripe.js

![image](https://user-images.githubusercontent.com/9752771/87253610-75fa4900-c431-11ea-816b-8fa071fbf85d.png)

Can you simply put an id on the script tag and look for the script before appending it?

[2020-07-12 18:23] MohawkMan commented on #123
P.S. if I can get to it today I will try to submit a PR

[2020-07-13 23:48] jofftiquez commented on #123
Hello @MohawkMan let me know if you come up with a solution. Otherwise I'll add this to my to do list. Thank you!

[2020-07-13 23:49] #117 closed

[2020-07-13 23:58] #123 closed

[2020-07-14 01:07] jofftiquez commented on #113
@sdwru

The screenshot shown on the documentation is a screenshot of the `Checkout` component, not the `Elements` component.

If you guys want to mount a custom field, the `Elements` component actually has a `slot` for this. It's called `card-element`. See [here](https://github.com/jofftiquez/vue-stripe-checkout/blob/11da3650e1758974809b9cb186007106523bbd73/src/Elements.vue#L4).

@sdwru

The readm

[2020-07-14 01:23] #102 closed

[2020-07-14 01:38] jofftiquez commented on #121
Hello @rajsinghUSA thanks for this. You're probably looking for something [like this](https://jsfiddle.net/ywain/o2n3js2r/) right? The stripe element instance has a method called `.create(name?, options?)` that lets you create an element and mount it using the `.mount(id)` method. Creating dynamic elements  is not yet supported in this project. I can do this but I can't promise anything, as I am s

[2020-07-14 01:43] #120 closed

[2020-07-14 01:43] jofftiquez commented on #120
Hello @ragesh-kannan I added a new `prop` called `styleObject` in `v3.5.5`. This will override the default style provided by this plugin.

[2020-07-14 01:47] #119 closed

[2020-07-14 01:52] jofftiquez commented on #116
Hello thanks for this issue. Could you be more elaborate? Are you referring to Stripe Checkout, or the Stripe Elements? For checkout, I believe this is working out of the box already if your card requires 2FA? Correct me if I'm wrong.

For Stripe Elements, I haven't done my research about this yet. I saw @MohawkMan's example, would kindly send me the documentation link of this? I'll be glad to inc

[2020-07-14 01:53] jofftiquez commented on #110
Hello @WoLpH my apologies, I am not a typescript expert myself. If could help me verify your code suggestion, I'd be happy to accept a PR from you so we can update this. Thank you so much.

[2020-07-14 01:54] jofftiquez commented on #112
Hello please check the latest version. There's a significant improvements to the properties.

Thanks @ivgtr

[2020-07-14 01:54] #112 closed

[2020-07-14 01:56] jofftiquez opened #124 "Expose .create and .mount methods in Stripe Elements"
Expose .create and .mount methods in Stripe Elements to be able to create dynamic form fields.

Related issues: #121 #107

[2020-07-14 01:56] #107 closed

[2020-07-14 01:56] #121 closed

[2020-07-14 01:57] jofftiquez commented on #121
See #124

[2020-07-14 01:57] jofftiquez commented on #107
See #124

[2020-07-14 01:58] jofftiquez commented on #98
Since there's no more responses, I'll be closing this for now. Please create a new issue with more details as mentioned in the last comment. Thanks.

[2020-07-14 01:58] #98 closed

[2020-07-14 02:12] MohawkMan commented on #116
@jofftiquez it works for both. If you are using elements you have to set up a payment intent (usually server side) which will return a client secret and then call confirmCardPayment with the secret and the card element. So if you just had a method that you can pass the client secret and a callback that would call confirmCardPayment then it would just be slightly cleaner than using the $refs to get

[2020-07-14 02:41] jofftiquez commented on #116
@MohawkMan I see, thank you for this. I will find time to implement it. Thank you so much!

[2020-07-14 08:23] WoLpH commented on #110
I can't say I really know how to add automatic tests to a javascript library with typescript definitions... When importing the library from a typescript project the typescript converter automatically gives you warnings if anything is broken.

Within this project however... I wouldn't know where to start. With a few hints from `tsd` I got to this diff:
[code]

Which results in this output:
[code]

[2020-07-14 08:55] jofftiquez commented on #110
Alright, thanks for the information @WoLpH I'll try to give time to look this up. :)

[2020-07-14 23:50] jcalfee commented on #119
Sorry, was not trying to spam you .. I saw a BLM reference somewhere and was concerned I should have put that reference above.  Trying to get some food for thought out there, maybe tip the odds a bit.

[2020-07-15 00:17] jofftiquez commented on #119
Thank you @jcalfee I'll do my part of the research. For the record, I don't think all cops are bad, or all black people are good. Both have their fair share of goodness or badness in them. I just hope that you understand that the campaign BLM does not only apply to that specific case with George Floyd. I get you, the man was a criminal, however what the cop did was clearly unconstitutional. Thank

[2020-07-15 00:19] waqas61 opened #125 "Not redirecting to checkout page"
**On click checkout button not redirecting to stripe checkout page**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Using Vue Stripe Checkout.
error TypeError: Cannot read property 'length' of null

**Desktop (please complete the following information):**
 - OS: [Window]
 - Browser [chrome]
 - Version [83]

[2020-07-15 00:21] jofftiquez commented on #125
Hello @waqas61 can you provide a screenshot.

[2020-07-15 00:23] waqas61 commented on #125
Thanks for your time !

Screen Shot URL

https://prnt.sc/thwex9

[2020-07-15 00:28] #125 closed

[2020-07-15 00:29] jofftiquez commented on #125
Hello @waqas61 version `v3.5.6` is being uploaded now via CI/CD. You can upgrade your vue-stripe-checkout to the latest version in a few minutes. Please let me know if the fix works, thank you.

[2020-07-15 00:43] waqas61 commented on #125
Hello @jofftiquez now there is an other error am facing
`IntegrationError: Invalid value for stripe.redirectToCheckout: clientReferenceId should be a string. You specified: null.`

[2020-07-15 00:45] jofftiquez commented on #125
May I see you configuration?

[2020-07-15 00:46] waqas61 commented on #125
Yes

`<template>
  <stripe-checkout
    ref="checkoutRef"
    :pk="publishableKey"
    :items="items"
    :successUrl="successUrl"
    :cancelUrl="cancelUrl"

    <template slot="checkout-button">
      <button @click="checkout">Shut up and take my money!</button>
    </template>
  </stripe-checkout>
</template>

<script>
import { StripeCheckout } from 'vue-stripe-checkout';

export default {
  co

[2020-07-15 00:49] waqas61 commented on #125
`
<template>
  <stripe-checkout
    ref="checkoutRef"
    :pk="publishableKey"
    :items="items"
    :successUrl="successUrl"
    :cancelUrl="cancelUrl"

    <template slot="checkout-button">
      <button @click="checkout">Shut up and take my money!</button>
    </template>
  </stripe-checkout>
</template>

<script>
import { StripeCheckout } from 'vue-stripe-checkout';

export default {
  compon

[2020-07-15 00:52] waqas61 commented on #125
`
<template>
  <stripe-checkout  ref="checkoutRef"  :pk="publishableKey" :items="items" :successUrl="successUrl"  :cancelUrl="cancelUrl" >
    <template slot="checkout-button">
      <button @click="checkout">Shut up and take my money!</button>
    </template>
  </stripe-checkout>
</template>
`

export default {
  components: {  StripeCheckout  },

  data: () => ({
    loading: false,
    publisha

[2020-07-15 00:56] jofftiquez commented on #125
Hello I pushed another fix, would you mind trying again? Thanks.

[2020-07-15 00:57] waqas61 commented on #125
Sure. Let me try it with

[2020-07-15 01:04] waqas61 commented on #125
@jofftiquez Thanks its working now

[2020-07-15 01:20] jofftiquez commented on #125
Cool!

[2020-07-19 08:05] boutetnico opened #127 "Remove package-lock-only npm dependency"
**Describe the bug**
It seems the package `package-lock-only` is installed as a dependency in `package.json` which could be a mistake.

**To Reproduce**
Steps to reproduce the behavior:
1. Read `package.json`
2. Find `package-lock-only`

**Expected behavior**
`package-lock-only` is not listed as a dependency.

**Additional context**
Link to the package: https://www.npmjs.com/package/package-lock-o

[2020-07-21 00:29] #127 closed

[2020-07-23 16:12] miguelurbina opened #128 "Invalid value for Stripe(): apiKey should be a string. You specified: undefined."
After creating in the backend, the product, the price and the sku, to pass it to the checkout component, I get the following error that I cannot solve:

_Invalid value for Stripe (): apiKey should be a string. You specified: undefined._

In my data I have:

`publishableKey: process.env.PUBLISHABLE_KEY,`

Also try putting the string of my key directly ( publishableKey: 'my key' ) and it still won't

[2020-07-24 01:52] miguelurbina commented on #128
Error mine, please close it.

[2020-07-24 06:26] #128 closed

[2020-07-24 11:25] alzmob commented on #72
Stripe is working well locally, but I cannot see "card input" on server.
What is the reason?

[2020-07-24 18:48] miguelurbina opened #129 "Unknown custom element: <vue-stripe-checkout> - did you register the component correctly?"
Hello, I get the following error when using the vue-stripe-checkout component to make use of sessions:

[Vue warn]: Unknown custom element: <vue-stripe-checkout> - did you register the component correctly? For recursive components, make sure to provide the "name" option.

I already tried everything, install it globally and in the component itself individually:

[code]

[2020-07-30 15:46] Jesus82 commented on #72
@jofftiquez is this still in the roadmap? I want to upgrade my stripe version to support 2-way-authentication and I would like to know if I can make this work with Nuxt :)

[2020-07-30 16:26] jofftiquez commented on #72
Hello @Jesus82 as a matter of fact, yes, this is still in the roadmap. Lemme see if I can raise the priority on my schedule. I'll let you guys know. Thanks.

[2020-08-12 16:34] JaLe29 opened #130 "v3:1 Uncaught (in promise) IntegrationError: SKUs for Checkout require a `name` attribute."
**Describe the bug**
I am getting an error for demo code

`v3:1 Uncaught (in promise) IntegrationError: SKUs for Checkout require a `name` attribute.`

**To Reproduce**
Use this demo code with your publishableKey and sku and with some demo urls.
[code]

**Expected behavior**
Should redirect to payment page

[2020-08-15 20:01] aligajani opened #131 "Not allowing me to do client-only integration with product or price IDs"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-08-15 20:06] aligajani commented on #87
@jofftiquez  How can I use the product I created on Stripe to make it work with the plugin you;ve developed please.

[2020-08-19 18:08] Deph0 commented on #130
Hi, had the exact same problem, the product needs to have the attributes used in the SKU, but without values.

using Stripe Product API, you create a product with name attribute by using `&attributes[]=name`
and then you can use the SKU api to set that attribute, using `&attributes[name]=<your name here>`

[2020-08-19 19:48] Deph0 commented on #110
Bump on this, would be nice to have as it's a big requirement for using typescripted Vue components (projects can be created using vue cli).
I used the typedefs WoLpH provided (kudos), but of course would rather not have to make my own.

For those as confused as i was, create a folder called types, and inside a file named index.d.ts, copypaste WoLpH's type definitions, update tsconfig.json, add th

[2020-08-20 16:08] jamols09 opened #132 "Vuejs Stripe not working correctly"
![image](https://user-images.githubusercontent.com/20100579/90796686-341ec580-e342-11ea-87c1-683a7b92c122.png)

I have installed Stripe on my Vue  and tried to implement the code based on this documentation and created an account and filled up the publishable key.  Looks simple and easy but upon trying to view it I only see an old button without any functionality. Have I missed something on my ste

[2020-08-21 00:51] jofftiquez commented on #132
Hello @jamols09 what happens when you click the button? Are there any errors? Thanks.

[2020-08-21 00:53] jofftiquez commented on #130
Hello thank you for submitting this. I will look into it. Sorry I can't do it ASAP but I will try my best. Maybe sometime this weekend (PHT).

[2020-08-21 02:50] jamols09 commented on #132
Hello @jofftiquez  apologies for not including the error. Here it is:
```v3:1 Uncaught (in promise) IntegrationError: No such sku: 'sku_FdQKocNoVzznpJ'```

[2020-08-21 04:22] jofftiquez commented on #132
Hello @jamols09 it seems you supplied a non existing `sku`. You can create a new one in your dashboard and use it.

[2020-08-21 05:10] jamols09 commented on #132
Good day, @jofftiquez  I asked from the stripe support how to recover the SKU's but they said the product SKU's are no longer supported. So how can I create a Checkout module from Stripe?
![image](https://user-images.githubusercontent.com/20100579/90854483-a083de00-e3af-11ea-9974-fa088783faa1.png)

[2020-08-21 05:25] jamols09 commented on #132
@jofftiquez although they have provided me a solution but its different. Whenever I create a product, I can generate a code *but* after enabling this *[Checkout client-only integration](https://dashboard.stripe.com/settings/checkout)*.  but the problem is that this one does not use Vuejs.

[2020-08-21 08:36] Deph0 commented on #130
It's a problem with Stripe / Stripes API, not the component.

[2020-08-24 14:14] kdaniel21 commented on #129
I've had the same issue, what helped me was to import and register the **StripeCheckou**t component instead of the **VueStripeCheckout** and to use `<stripe-checkout></stripe-checkout>` in my template.

[2020-08-24 16:48] jofftiquez commented on #129
This was a mistake on my end. I am very sorry. In the docs it should be:

[code]

[2020-08-24 16:48] #129 closed

[2020-08-25 01:25] oldirty91 opened #134 "Support additional fields"
It appears that Stripe allows for additional fields that arent exposed through the package:

- client_reference_id
- customer
- subscription_data (coupons)

Seems like adding the props to the componet and passing them on to the stripe.redirectToCheckout() call would be pretty straightforward.

[2020-08-25 01:35] jofftiquez commented on #134
Hello thanks, I will add these if needed. Let me just double check as soon as I become vacant. Thanks.

[2020-08-25 01:38] jofftiquez commented on #134
I just checked some of the props you listed are already available in the package:

- [clientReferenceId](https://github.com/jofftiquez/vue-stripe-checkout/blob/620bccd5e46231193d386003243cfaf908616b2a/src/Checkout.vue#L49)
- [customerEmail](https://github.com/jofftiquez/vue-stripe-checkout/blob/620bccd5e46231193d386003243cfaf908616b2a/src/Checkout.vue#L52) <- IDK if this would suffice?
- subscript

[2020-08-25 02:33] jofftiquez commented on #134
I just want to remind you that all of the props in this package are based in this checkout options available on their docs https://stripe.com/docs/js/checkout/redirect_to_checkout#stripe_checkout_redirect_to_checkout-options I don't see anything about `subription_data`. Maybe you wanna check the lineItems, and the mode property.

[2020-08-30 17:12] thesolyd commented on #132
I changed the sku to price like this.
[code]

But that gives error:

[2020-08-30 19:28] thesolyd commented on #132
Instead of items, you have to pass lineItems and replace price with sku. It works.

[2020-09-01 04:00] AZhiKai commented on #134
Hi @jofftiquez, thanks for creating this library.

I was wondering if you could also look into allowing users to disable certain fields like zip code (I encountered this for my business use case).

In `Elements.vue`,

[code]

Zip code can be disabled by passing `hidePostalCode: true,` as such

[code]

[2020-09-01 08:15] jofftiquez commented on #134
Hello @AZhiKai thank you for submitting this. May I request to you to create a separate issue for this? Thanks. I will be closing this thread due to inactivity of the poster.

[2020-09-01 08:15] #134 closed

[2020-09-01 08:18] jofftiquez commented on #131
Hello @aligajani I created the issue template for a reason, to help you and me in resolving issues like these. Please fill-out the template, and give more precise description of the issue, examples of what you've done, and error message/screenshots if there are any.

[2020-09-01 08:18] #131 closed

[2020-09-04 13:59] raselkarim7 commented on #14
Really helped this.
And my sprite-checkout.js file looks like this.
[code]

[2020-09-07 16:53] ielvisd commented on #132
Thanks @thesolyd! I ran into this as well and got it to work after reading your comment. No sku required.

[code]

[2020-09-07 18:09] Rouzy777 commented on #72
Hello guys! I'm solved "window is not defined" problem by modifying vue-stripe-checkout files directly in node_modules. But when I'm deploying my nuxt project to netlify - it doesn't see my edited and fixed file. How can I solve this?

[2020-09-07 19:12] platform-kit commented on #72
@Rouzy777 see my comment above. You'll need to save the modified file in a directory other than node_modules and import from there, since the node_modules directory is rebuilt upon deployment.

[2020-09-07 19:17] Rouzy777 commented on #72
@platform-kit Many thanks!

[2020-09-16 08:32] dekts opened #137 "How to use price key with it's value"
In the latest stripe API they are providing the option to create the product.

https://stripe.com/docs/api/plans/create

when we have created the product at that time we have the price key and value for product.

So can we use it like

[code]

[2020-09-16 12:00] sk-t3ch opened #138 "[DEMO] I have integrated vue-stripe-checkout into a AWS Quickstart for creating a SaaS with Stripe"
(I don't know where to put this)
Firstly, thanks to the contributors!
Secondly, I have created a live demo of using this project in a SaaS https://saas-app.t3chflicks.org/ and the code can be found here https://github.com/sk-t3ch/AWS_Stripe-SaaS-quickstart. I also wrote a couple of blog posts about it [pt. 1](https://medium.com/@t3chflicks/users-only-quickstart-for-creating-a-saas-pt-1-user-manage

[2020-09-16 23:59] jofftiquez commented on #138
Hello @sk-t3ch Sure, thanks for using my work. :)

I totally get this, this is the reason why I started https://randomcodetips.com I wish I had these kinds of easy to understand guide when I was just starting.

Imma try to find a spot for these kinds of example in the docs or in my blog. For more of stuff like this, you can reach me thru email, or on twitter [@jrtiquez](https://twitter.com/jrtique

[2020-09-17 00:49] #138 closed

[2020-09-17 00:54] jofftiquez commented on #137
I'm not sure if there's a `price` field for the items/lineItems. Check the options [here](https://stripe.com/docs/js#stripe_checkout_redirect_to_checkout-options-items-sku,%20plan) :)

[2020-09-17 00:54] #137 closed

[2020-09-17 00:57] jofftiquez commented on #132
Hello all, reading your comments I'm not yet sure if there are some changes in the stripe sdk that not yet integrated in this plugin. I will review the documentations and will do necessary adjustments if needed. Thanks for working together to solve this.

[2020-09-17 00:57] #132 closed

[2020-09-17 00:59] jofftiquez commented on #130
Is there any updates on this @JaLe29

Try using `lineItems` instead of `items`. Closing for now, kindly reopen or create a new issue if the problem still persist. Thanks.

[2020-09-17 00:59] #130 closed

[2020-09-17 01:01] jofftiquez commented on #72
Hello all, I've been working with nuxt a lot recently, while I can't really get back to this yet, I think I already have some solutions in mind that I can test in the next days. I apologize for having this issue open for so long. I will do my best to find time to fix this. Thanks and stay safe y'all.

[2020-09-17 23:35] fguespe opened #139 "Allow promotion codes / coupons"
Hi! I cant send this to allow coupons in subscriptions

allow_promotion_codes:true

[2020-09-18 00:32] jofftiquez commented on #139
Hello @fguespe can you send me here the link to the documentation about `allow_promotion_codes`? Thanks :)

[2020-09-18 02:08] jofftiquez commented on #72
Hello all, I hope you'll find time to [read this](https://randomcodetips.com/vue-stripe-checkout-whats-next/). This is just to summarize the current state of the project, and its future.

[2020-09-21 02:43] haivp3010 commented on #137
@dekts I got price working by using `lineItems` instead of `items`. You would also need `mode="subscription"` and enable **Checkout client-only integration** on Stripe dashboard.
The docs doesn't seem to be updated with the new API yet, but it does work.

[2020-09-21 03:41] jofftiquez commented on #137
Thank you @dekts I didn't realize that wasn't in my docs. I will add this to the upcoming docs update. Kindly [check this out](https://randomcodetips.com/vue-stripe-checkout-whats-next/).

[2020-09-22 10:20] Jesus82 commented on #14
I'm getting a  `render function or template not defined in component: anonymous `. This is my setup:

nuxt: 2.14.6
vue-stripe-checkout: 3.5.10

_nuxt.config.js:_
[code]

_plugins/vue-stripe-checkout.js_:
[code]

Any clue about this? Thanks in advance!

[2020-09-22 13:13] jofftiquez commented on #14
@Jesus82 The only time I am encountering this is when my component doesn't have a `<template>` section. But the checkout [component has it](https://github.com/jofftiquez/vue-stripe-checkout/blob/c4f4d17e8b0a1c150b1446c46f32b4e7873d690b/src/Checkout.vue#L1).

This line here `import { VueStripeCheckout } from 'vue-stripe-checkout';`, you are already importing `VueStripeCheckout` as a vue component.

[2020-09-22 14:07] HugoWith commented on #14
Hey guys,

I've just posted an error on StackOverFlow referring to this discussion.
Here is the link: https://stackoverflow.com/questions/64008295/implementing-stripe-on-nuxt-app-stripecheckout-not-found-in-vue-stripe-checko

I failed to use this package/plugin all day. If someone has a solution :).
Thanks a lot

[2020-09-22 17:10] Jesus82 commented on #14
I've tried several ways:
When declaring like this in plugins/
[code]

It fails right after I declare in the component:
[code]

If I import it directly to the component, it fails after I declare the import (not even the component). The error is always the same ( render function or template not defined in component: anonymous)

[2020-09-22 17:38] jofftiquez commented on #14
@Jesus82 I'll try to reproduce this error.

[2020-09-22 22:42] napter opened #140 "Is it currently possible to do a subscription charge with stripe elements"
Here is Stripe documentation on creating a subscription using stripe elements https://stripe.com/docs/billing/subscriptions/fixed-price#set-up-stripe-elements

Is it possible to do this now with vue-stripe-checkout?

[2020-09-23 01:43] jofftiquez commented on #140
Hello @napter, yes this is possible using the Checkout component. Follow these steps:

1. In your stripe dashboard, go to "Products" and create a new one
2. Create a Pricing tier for your product. You can do this in the "Pricing" section when you select your product. Here's the important part, make the pricing "recurring", there are also other options like interval.
3. Using your backend fetch tho

[2020-09-23 01:43] #140 closed

[2020-09-23 04:27] napter commented on #140
Hi @jofftiquez. Thank you. I know I can do it with Checkout. My question is whether I can use Elements for a subscription instead of checkout. The link in my post shows an example of this. Instead of creating a token and creating a charge, it calls createPaymentMethod. Here is [another example](https://stripe.com/docs/billing/subscriptions/per-seat).

[2020-09-23 06:34] napter commented on #140
Hey @jofftiquez I've been looking at this a little more and as a proof of concept, this change (removing first two lines, adding the others) will make the submit method return a "payment method" instead of a charge token. Based on the docs, this is the first thing you need from elements if you are using it for a subscription instead of a direct charge.  I ran this and was able to get a paymentmeth

[2020-09-23 14:18] jofftiquez commented on #72
Hello all! Here's a big update for y'all! The good news is, there are NO changes in `vue-stripe-checkout` at all to support nuxt implementation. Like I said, I am working a lot with nuxt recently, so I incorporated all of my learning to this solution I created.

Please check this new repository I created https://github.com/jofftiquez/vue-stripe-checkout-nuxt-demo

This demo repo also has the compl

[2020-09-24 20:23] Jesus82 opened #141 "lineItems format?"
Hi, my aim is to create one-time payments as described [here](https://stripe.com/docs/payments/accept-a-payment?integration=elements) and [here](https://stripe.com/docs/api/checkout/sessions/create#create_checkout_session-line_items) (I do not want to create each product in Stripe as I have lots of references that are constantly changing)

My StripeCheckout component setup is:
[code]

and in my da

[2020-09-24 23:51] jofftiquez commented on #141
Hello @Jesus82 the `lineItems` payload that you are using is the one meant for sessions which is done in the backend. You should check [this one](https://stripe.com/docs/js/checkout/redirect_to_checkout#stripe_checkout_redirect_to_checkout-options-lineItems), notice that it only has 2 properties, `price` and `quantity`. The one you're using, [this one](https://stripe.com/docs/api/checkout/sessions

[2020-09-24 23:51] #141 closed

[2020-09-28 22:13] Jesus82 commented on #141
Hi @jofftiquez, thanks for your reply. My problem is that with that I would like to pass a price to checkout, not a priceID (as described [here](https://stripe.com/docs/js/checkout/redirect_to_checkout#stripe_checkout_redirect_to_checkout-options-lineItems). The reason is that I don't want to create products in checkout as I sell craft beer and my references are constantly changing.

Is there any

[2020-09-29 01:09] jofftiquez commented on #141
If you intend to charge arbitrary amount to your customer you are probably looking for the [Charge](https://stripe.com/docs/api/charges/create) API. I haven't implemented this in the past but for my understanding this is how it should be:

1. Capture the "source" (the credit card of the customer) using payment intent.
2. Pass the amount and the source to your backend to create a new Charge object.

[2020-09-29 18:45] jofftiquez commented on #72
Hello guys, may I have your feedback on this? I will be closing this issue in few days if don't get anymore issues regarding Nuxt.js thank you.

[2020-09-29 18:57] platform-kit commented on #72
@jofftiquez I don't use nuxt, but I am curious about whether the changes you make will affect vue-stripe-checkout's use in Gridsome? Is the fix Nuxt-specfic?

[2020-09-29 19:06] jofftiquez commented on #72
No @platform-kit, there are actually no actual changes made to the codebase. I just created a guide on how to properly use it with nuxt.js. There should be no changes to the way the plugin works in any way. :)

[2020-09-29 19:08] platform-kit commented on #72
@jofftiquez Then it would seem that a fix is still required to make it useable in Gridsome. Shall I open a new issue?

[2020-09-29 19:14] jofftiquez commented on #72
Hmm gridsome. I'm not quite familiar with it yet. Yes please that would be awesome. So that we could also have a separate thread for it. Thanks!

[2020-09-30 00:03] jofftiquez commented on #139
Here's the documentation [Coupon](https://stripe.com/docs/api/coupons). If you want to use it on checkout, you can use is via [Sessions](https://stripe.com/docs/api/checkout/sessions/create#create_checkout_session-subscription_data-coupon).

[2020-09-30 00:03] #139 closed

[2020-09-30 18:00] hkdb opened #142 "Get Stripe Checkout SessionId for Subscription before redirect?"
Thanks for making vue-stripe-checkout which made my life so much easier! Do you have any advice on what might be the best way to record the sessionId before the redirect when using Stripe Checkout? I am looking to record the session id so I can automatically upgrade/downgrade the subscription price when the customer chooses to upgrade/downgrade. I am also looking to run a cronjob that will check s

[2020-09-30 18:21] hkdb commented on #142
Or to be clear, my end goal is that after successful payment, I will record the subscription id and work off of that.... Thanks!

[2020-09-30 21:13] jhull commented on #72
I would love to give feedback (and am excited about your new direction with this) - but I'm having issues with managing subscriptions - just don't know how to set it up properly. Any guidance?

[2020-10-01 00:17] jofftiquez commented on #142
Hello @hkdb few points:

- Sessions are for one-time use only. Once the session has been used for, say, creating a subscription you cannot re-use it anymore.
- You can actually create a subscription without using sessions, you can just create Products with recurring Plans in your stripe dashboard
- To upgrade or downgrade your customers subscription, you need to use the Subscriptions/Plans API (I

[2020-10-01 00:17] jofftiquez commented on #142
That's it :)

[2020-10-01 00:17] #142 closed

[2020-10-01 17:58] #86 closed

[2020-10-01 18:00] jofftiquez commented on #72
Hello all! Thank you all for participating in this issue, and for being patient. All help is so much appreciated. I will be closing this issue now. Happy coding everyone! <3

[2020-10-01 21:19] hkdb commented on #142
Thanks for the feedback! I was sort of looking for a secure/safe/simple way to do client only integration which I guess didn't really make sense. It made even less sense after I built the webhooks and found how easy it was.... ;) Thanks again!

[2020-10-02 02:15] jofftiquez commented on #142
Happy to help @hkdb if you need help again with stripe just create an issue here just label it with "question". :)

[2020-10-09 19:40] lucasctd opened #143 "Have any plans on allowing us to pass metadata"
Do you guys have any plans to add a metadata property to the checkout component so we can pass metadata through the payment cycle?

For reference:
https://stripe.com/docs/api/checkout/sessions/create#create_checkout_session-metadata

Thanks in advance.

[2020-10-10 07:37] jofftiquez commented on #143
Hello @lucasctd I can add this.

[2020-10-11 15:14] Rouzy777 opened #144 "Can I create stripe-elements and autofill card?"
I'm building auto filling system in my checkout page and want to add feature when card number is autofilling in stripe-elements input.

What's the best way to do this?

[2020-10-11 17:39] jofftiquez commented on #144
Hello @Rouzy777 I am currently re-checking the elements documentation. A major update is on the way, I don't yet if there's a way to do that autofilling that you mentioned, but I will keep you updated here. Thanks.

[2020-10-12 17:02] lucasctd commented on #143
Thank you!

[2020-10-12 18:41] jofftiquez commented on #143
Hello @lucasctd apologies, I won't be able to do this until Oct 17. 2020, PHT. I am still busy with my work.

[2020-10-13 04:07] lucasctd commented on #143
Okay, no problem.

[2020-10-21 07:10] jofftiquez commented on #113
Hello. A new documentation including the new vue stripe elements is on the way.

[2020-10-23 15:49] robov opened #145 "SKU depricated by stripe ?"
When I follow your example I need to specify the sku, But there is no way that I see a sku in my product or price.

Stripe Docs:
A: Plans and SKUs were old ways to model recurring and one-off prices. We created the Prices API to unify the two concepts and make it easier to reason about your pricing catalog. You can still pass old Plan and SKU IDs to Checkout -- to learn more read our docs but know

[2020-10-23 16:03] robov opened #146 "Upgrade plan / Cancel plan"
When I have subscribed to plan A
it is possible to change my subscribed plan to a new prorated plan  ?
How can I cancel my plan ?

[2020-10-23 16:09] #146 closed

[2020-10-23 17:16] robov opened #147 "Processing a order"
how can I process the order in my laravel backend ?
Is there a return or a callback from stripe somewhere that I am missing

[2020-10-23 17:18] robov commented on #147
Ok, after reading the closed issues I think I have to add a webhook.
Maybe an idea to add a little section to the docs explaining that one needs to create a webhook in order to postprocess the order

[2020-10-25 02:59] jofftiquez commented on #147
Hello @robov yes, webhook is the answer. Thanks for the suggestion, I will also add that to the upcoming docs. Thanks.

[2020-10-25 02:59] #147 closed

[2020-10-28 10:10] mits87 commented on #145
The same for me 👀

[2020-10-28 10:18] mits87 opened #148 "Vue 3 Support [Discussion]"
Hi,

Right now looks like the plugin doesn't work with Vue3.
When I'm trying to use it I've got an error:

<img width="514" alt="Screenshot 2020-10-28 at 11 17 04" src="https://user-images.githubusercontent.com/605186/97423302-50754a80-190f-11eb-95a3-a56b3315fe68.png">

Can you add Vue3 support ?

[2020-10-28 11:31] jofftiquez commented on #148
Hello @mits87 yes, support for Vue3 is something that I am considering in the near future. However there are no solid plans yet. I will pin this issue to serve as a discussion section. Thank you!

[2020-10-28 11:34] jofftiquez commented on #145
Hello @robov the current documentation is outdated, a new one is on the way tho. May I ask what exactly is your use case? How do you plan to make the payment checkout flow work on client side? Thanks.

[2020-10-28 11:51] jofftiquez commented on #143
Hello @lucasctd looking back at this, I didn't realize you were referring the `metadata` for `Sessions`. There are no metadata property for the checkout options [see](https://stripe.com/docs/js/checkout/redirect_to_checkout#stripe_checkout_redirect_to_checkout-options).

For your specific use case, what you can do is to create a new `Session` object with metadata property included in your backend.

[2020-10-28 11:51] #143 closed

[2020-10-30 06:27] joergd opened #150 "Changelog"
Please can you add a changelog. I get nervous upgrading versions when I don't know what has changed and in what way it may impact my application. Other than that - good work!

[2020-10-31 05:46] jofftiquez commented on #150
Hello @joergd thanks for the reminder. This will be added to the upcoming new documentation.

[2020-10-31 05:57] joergd commented on #150
Awesome, thank you.

[2020-11-16 20:14] marctaule commented on #145
same for me. I can't find sku in stripe dashboard :(

[2020-11-19 03:15] #150 closed

[2020-11-22 10:18] saifamp commented on #145
are skus and products the same thing?

[2020-12-01 13:30] JeffJassky commented on #145
Solution:

Here's how you can use a Price ID instead of a SKU: https://github.com/jofftiquez/vue-stripe-checkout/issues/132#issuecomment-688435860

[2020-12-08 19:34] dodanex commented on #148
hello @jofftiquez , any updates on Vue 3 support with composition api? thanks

[2020-12-09 00:13] jofftiquez commented on #148
Hello @dodanex the status is the same. I am currently focusing on some major update. After that (end of the year) I will be able to create a timeline for this. Thanks.

[2020-12-17 09:17] krebbi commented on #103
@true-zero You need to install https://github.com/stripe/stripe-php

in the "sendTokenToServer" method in your vue you have to send the token to your backend. Example with axios:

`tokenCreated (token) {
      this.token = token
      // for additional charge objects go to https://stripe.com/docs/api/charges/object

      this.sendTokenToServer(this.token, this.registered.id, this.workshop.price *

[2020-12-23 01:26] cmedinadeveloper opened #154 "TypeError: this.$refs.checkoutRef.redirectToCheckout is not a function"
Hi! I am trying to implement this library on a Quasar + Typescript project, everything is fine until I press the button to go to the Checkout page because within the $ref's object there is no method called "redirectToCheckout".

![image](https://user-images.githubusercontent.com/33674559/102948328-2322c400-449c-11eb-8014-0f89e2275f05.png)

Hope you can help! Thanks!

[2020-12-23 04:56] jofftiquez commented on #154
Hello @cmedinadeveloper would mind sending the snippet of your code as well? Thanks.

[2020-12-23 07:36] zmaglica opened #155 "Unknown custom element: <stripe-elements> - did you register the component correctly?"
**Describe the bug**
I am getting the following error:

` Unknown custom element: <stripe-elements> - did you register the component correctly? For recursive components, make sure to provide the "name" option.`

**To Reproduce**
Used following code that is similar like on in the documentation to create a payment form

[code]

**Expected behavior**
It shouldn't throw an error in the console.

[2020-12-23 13:24] cmedinadeveloper commented on #154
[code]
@jofftiquez Let me know if you need anything else! Thanks!

[2020-12-23 15:12] jofftiquez commented on #154
@cmedinadeveloper can you try to import the component this way? `import { StripeCheckout } from 'vue-stripe-checkout';`?

[2020-12-23 15:29] cmedinadeveloper commented on #154
With that change, the $ref object contains the method, but the button disappears, any clues? @jofftiquez
![Screen Shot 2020-12-23 at 11 27 55 AM](https://user-images.githubusercontent.com/33674559/103012410-f3ae9e80-4511-11eb-8b88-748eb778ebf1.png)

[2020-12-23 16:14] jofftiquez commented on #154
Can you use `template` instead of `div` as the `slot` container?

[2020-12-23 16:26] cmedinadeveloper commented on #154
@jofftiquez Tried that, did not work :(

[2020-12-23 17:23] jofftiquez commented on #154
This has something to do with how slot works in quasar? I'm not really sure. Anyhow, you can also place the button outside of the `StripeCheckout` component. Just put a blank div inside the `checkout-button` slot. Like so:

[code]

[2020-12-23 18:15] cmedinadeveloper commented on #154
@jofftiquez Tried that solution also, no luck :(

I think it's related to the Stripe script is not being loaded, I will keep looking for solutions and post my findings

[2020-12-23 18:23] jofftiquez commented on #154
That's weird. Yes please let me know if you find anything. It will help me to improve this plugin for the upcoming update. Thanks.

[2020-12-24 18:34] jeremyd125 commented on #155
I'm getting the same!

[2020-12-25 06:59] jofftiquez commented on #155
Hello, @zmaglica thanks for this. Based on how it was exported [here](https://github.com/jofftiquez/vue-stripe-checkout/blob/4bfe865b555020c862f22a600c581ab1a74814ee/src/index.js#L4), it should work as intended. I double-checked my own implementation on my application and there seems to be no problem. Here's what you can do for now:

1. Look for other potential external errors that might block the

[2020-12-25 23:50] WilderDev commented on #128
What is the solution?

[2020-12-29 00:43] LilPidgey commented on #155
Are you using Vue 3? I was getting this error earlier until I had realized this package does not support Vue 3.

[2020-12-29 06:45] jofftiquez commented on #155
Hello @LilPidgey no, not yet. Supporting v3 is in my plans tho. Just don't have a date yet, but probably first quarter of 2021. Thank you.

[2021-01-04 01:01] franciscoramoso commented on #155
Same here :(

[2021-01-04 09:21] jofftiquez commented on #155
Guys if you're using this for vue 3 I apologize but this doesn't support it yet. Please bear with me, I will make this happen soon. I'm just a little busy but this is something that I am also looking forward to. Thank you for your patience.

[2021-01-08 19:43] kvaes commented on #155
Same, version 2.6.12

[2021-01-09 17:27] mlb5000 opened #156 "Pages using VueStripeCheckout will not load in IE11"
Any pages that import the `vue-stripe-checkout` component will not load in Internet Explorer 11. Sentry reports something rather nebulous about a "Syntax Error", but it definitely originates inside this library.

Example page: https://app.inventorybot.io/app
Version: v3.5.13

![image](https://user-images.githubusercontent.com/207508/104104386-c08c3f00-5275-11eb-8285-d6b350ef8719.png)

[2021-01-09 18:26] jofftiquez commented on #156
Hello, thanks for this. May I ask for your help with these few things?

1. What testing tool did you use?
2. Would mind trying the upcoming new version: `@vue-stripe/vue-stripe@4.0.0-beta.3`?

When I got the tool for testing I can try to replicate it using unminified version locally.

Thanks!

[2021-01-09 18:44] mlb5000 commented on #156
@jofftiquez I only just learned about the issue this morning and posted this before I dug in. Looks like the solution is (I think) twofold

1. I added `ie >= 11` to my `.browserslistrc`

2. In `vue.config.js` I added a transpile option for `vue-stripe-checkout` (alongside vuetify, which was already in there)

[code]

It is also possible that upgrading from core-js 3.6.4 to 3.8.2 did something, but

[2021-01-10 00:16] victorcorbat commented on #155
Hi, I'm using version 2.6.12 aswell and it gives me the same error: "Unknown custom element: <StripeElements> - did you register the component correctly?"

Does anyone know how to fix it? Thanks in advance!!

[2021-01-10 03:57] jofftiquez commented on #155
Hello @kvaes and @victorcorbat, may I see how you implemented it? Thanks.

[2021-01-10 03:59] jofftiquez commented on #156
Hmm interesting. Thanks for the information, I can add a note/guide about this in the docs as a reference for similar cases. I'm gonna try to update relevant packages, and test accordingly to see if that's really the case. Thank you again @mlb5000.

[2021-01-10 11:37] victorcorbat commented on #155
Thank you jofftiquez! I was importing vue-stripe-checkout globally at the main.js. Now i'm importing it directly at the component like in the following code, and i'm getting the following error: "You are using the runtime-only build of Vue where the template compiler is not available." I tried to modify the config files (vue config and webpack.config) but it still doesn't work. Any help will be ve

[2021-01-10 12:16] jofftiquez commented on #155
Hello @victorcorbat I will look into this. Thanks.

[2021-01-11 11:51] dappiu commented on #155
@jofftiquez I am experiencing the same issue of @victorcorbat with Nuxt.
The last version that works for me is 3.5.13. Using 3.5.14-beta.0 or 4.0.2 produces this error when the component is shown on page:

```[Vue warn]: You are using the runtime-only build of Vue where the template compiler is not available. Either pre-compile the templates into render functions, or use the compiler-included buil

[2021-01-11 12:41] jofftiquez commented on #155
@dappiu I was able to reproduce this. I will look into it asap. Thank you for reporting.

[2021-01-12 09:05] jofftiquez commented on #156
Hello would mind trying this version? `@vue-stripe/vue-stripe@4.0.3`. Thanks.

[2021-01-12 09:05] jofftiquez commented on #155
Hello would mind trying this version? `@vue-stripe/vue-stripe@4.0.3`. Thanks.

[2021-01-12 09:06] jofftiquez commented on #154
Hello @cmedinadeveloper did you find anything? Thanks.

[2021-01-12 09:07] jofftiquez commented on #145
Hello the new docs now shows `lineItems` on the examples. Closing this now. Thank you.

[2021-01-12 09:07] #145 closed

[2021-01-12 09:08] jofftiquez commented on #124
This can now be achieve using `StripeElementsPlugin`. See https://vuestripe.com/stripe-elements/plugin

[2021-01-12 09:08] #124 closed

[2021-01-12 09:18] jofftiquez commented on #116
Hello @caeser1996 @MohawkMan in the latest version, if you are using the `StripeElementCard` component you will be able to access the `stripe` instance, `elements` instance, and the `element` object via `$ref`. I assigned them to local state data [see here](https://github.com/vue-stripe/vue-stripe/blob/6f1ab0b935590aec24fa388378caa0fc9829f336/src/elements/Card.vue#L89-L91). Thus, you can call the

[2021-01-12 09:18] #116 closed

[2021-01-12 09:20] jofftiquez commented on #113
Hello kindly refer to the following fresh docs 😄

- [Getting started with Elements](https://vuestripe.com/stripe-elements/getting-started)
- [Using the Card component](https://vuestripe.com/stripe-elements/card)
- [Get full access to Stripe SDK through Elements Plugin](https://vuestripe.com/stripe-elements/plugin)

[2021-01-12 09:20] #113 closed

[2021-01-12 17:30] dappiu commented on #155
@jofftiquez I'm afraid that something's not right, but I will look further tomorrow.
For now I just had a quick test changing the import in the plugin file (I'm using Nuxt) but the component didn't render anything where the old version correctly renders the button inside the slot. I will do a quick test tomorrow using your repo with Nuxt example and will see.
Thank you.

[2021-01-13 00:20] jofftiquez commented on #155
Thanks @dappiu please let me know if anything comes up. I'm kind of in a slump right now. I can't reproduce some reported behavior. I really wanna solve this so I can continue with creating more sample docs. Thank you again.

[2021-01-15 19:44] AllanOricil opened #159 "TypeError: this.$refs.elementsRef.submit is not a function"
**Describe the bug**
![image](https://user-images.githubusercontent.com/55927613/104771269-ef208300-5769-11eb-9cb8-d8f652fc5820.png)

**To Reproduce**
[code]

**Expected behavior**
As in shown in the example in the README, the component should have the submit() method accessible.

[2021-01-15 20:27] jofftiquez commented on #159
Hello please use the latest version. Thank you.

[2021-01-16 16:26] #159 closed

[2021-01-16 16:27] AllanOricil commented on #159
Just update the NPM readme. I copied the example from there.

[2021-01-16 16:42] jofftiquez commented on #159
Hello @AllanOricil you are right. Thank you.

[2021-01-17 23:29] nelsw commented on #155
I was able to solve this issue by aliasing the component.

Try naming the component `VueStripeCheckout` and use the following import statement `import {StripeCheckout as VueStripeCheckout} from "@vue-stripe/vue-stripe"`

[2021-01-17 23:56] jofftiquez commented on #155
@nelsw really? Hmm that's weird. Thanks for the info.

[2021-01-24 14:07] hkmsadek opened #160 "How to generate token when using vue stripe element card?"
**Describe the bug**
In the documentation, it has generate token button but in code the button code is missing. If hit enter after adding card cvc zip, it gives me a token, but how can I add a button and based on button click how can I get the token>

Here is the code I am trying to use
[code]

If you hit enter, it generate a token in the method, but I want to generate from a button click.

[2021-01-24 14:10] hkmsadek commented on #159
How did you solve it? facing similar issue.

[2021-01-24 14:23] jofftiquez commented on #160
May I see how you implemented the button? Thanks.

[2021-01-24 23:26] AllanOricil commented on #159
@hkmsadek I opened his lib inside .node modules and checked the exported components haha. The exported one is different than what is in the docs. If you can't figure out, tomorrow I post the name of the exported component.

[2021-01-25 00:17] jofftiquez commented on #159
This is what's in the documentation:
![image](https://user-images.githubusercontent.com/8638243/105648263-8c578600-5ee5-11eb-83e6-d3213806c6ef.png)

And this is what's being exported:
![image](https://user-images.githubusercontent.com/8638243/105648277-9bd6cf00-5ee5-11eb-98a5-f5ca69bb5f4d.png)

Perhaps you're using the wrong version based on your code you are importing it from the old package: `im

[2021-01-25 14:39] jofftiquez commented on #159
I understand, thank you. That was my bad. I apologise.

[2021-01-25 19:07] hkmsadek commented on #160
Ok never mind and thanks, I have solved like this

I took a button and called a method
[code]
this will trigger

`tokenCreated` method
and we can send that to server for the charge.

[code]

By the way, to to add stripe connect payment front end things as well please. not much code very simple code but yet vue plugin would be cool for people out there.

[2021-01-25 19:09] #160 closed

[2021-01-25 19:09] hkmsadek commented on #159
Ok never mind and thanks, I have solved like this

I took a button and called a method
[code]
this will trigger

tokenCreated method
and we can send that to server for the charge.
[code]
By the way, to to add stripe connect payment front end things as well please. not much code very simple code but yet vue plugin would be cool for people out there.

[2021-01-26 01:00] jofftiquez commented on #159
Thanks

Thanks @AllanOricil I'll keep you posted.

[2021-01-26 01:01] jofftiquez commented on #159
I'm glad you made it work. I will look into the Stripe connect usage, and see if there's anything that I can add from there.

[2021-01-26 01:01] jofftiquez opened #161 "Stripe connect?"
Check stripe connect docs and see if there's something we can add from there.

[2021-01-27 02:20] jofftiquez commented on #160
https://github.com/vue-stripe/vue-stripe/issues/159#issuecomment-767211450

[2021-02-01 07:12] stefanb opened #162 "Unsupported locale breaks payment flow"
**Describe the bug**
User normally expects to make the payment in the same language as he is using the site with, so developers tend to pass the same locale to stripe. When user is using the website in a language not supported by stripe the checkout just BREAKS with NO visible clue, except in the javascript console.

A workaround in our project was to use `auto` locale specifically for such unsupp

[2021-02-01 07:30] jofftiquez commented on #162
Hello @stefanb thank you for this. I understand the problem, I will update the local list of locales in vue-stripe and add a fallback to `auto` in case the user specifies a non-supported locale. Can you confirm if this will work for you?

[2021-02-01 07:40] stefanb commented on #162
Yes, that would be fine. 👍
It would require some occasional whitelist maintenance in this project. Alternative way would be to call Stripe and if it fails try with `auto`? I'm not sure if this is doable, nor do i know how stripe handles invalid locales (where this error message originates from?), maybe they already fallback to auto?

[2021-02-01 07:44] jofftiquez commented on #162
@stefanb

Awesome!

I think having an occasional update for the supported locales would be more efficient than doing a call every attempt to checkout to Stripe, this will add an overhead to the process. In any case I'm always available for improvements like this. I will try to release the fixed version today after my work. I'll reference this issue. Thanks again.

[2021-02-01 07:56] stefanb commented on #162
No rush, the workaround is working so we can find the best solution.
Alternatively there could be a new `preferredLocale` option (heavily "advertised" in the docs next to `locale` option) with such fallback and let the users of current `locale` option handle `error` events?

[2021-02-01 08:00] jofftiquez commented on #162
Hmm I'm that's also another way to put it. I'll check it as well. Thanks.

[2021-02-02 03:35] #162 closed

[2021-02-02 03:42] jofftiquez commented on #162
Hello @stefanb in the end I decided to do the fallback solution. Kindly check the [diff here](https://github.com/vue-stripe/vue-stripe/pull/163/files). New version is `v4.1.1`. Let me know if there's any more I can do to help you.

[2021-02-02 19:35] stefanb commented on #162
Thanks!

I have prepared a PR with the new v4.1.1 at https://github.com/sledilnik/website/pull/822
to be tested thoroughly at https://pr-822.preview.sledilnik.org/hr/donate and other languages.

[2021-02-03 05:54] napter commented on #155
@jofftiquez  I just started getting this error and the stripe elements won't render anymore on version 3.5.15. Version 3.1.13 did not throw the error. Vue is vue@2.6.11.

"You are using the runtime-only build of Vue where the template compiler is not available. Either pre-compile the templates into render functions, or use the compiler-included build"

[2021-02-03 06:17] jofftiquez commented on #155
@napter have you tried the latest version yet? The old `vue-stripe-checkout` is now deprecated. Please see https://vuestripe.com

[2021-02-03 06:20] napter commented on #155
Yes. I tried @vue-stripe/vue-stripe - same error - but the issue does not occur after downgrading to 3.5.13 .

[2021-02-03 06:20] napter commented on #155
@jofftiquez  Yes. I tried @vue-stripe/vue-stripe, but the error still occurs. The issue does not occur after downgrading to 3.5.13 .

[2021-02-03 06:22] jofftiquez commented on #155
May I see your implementation? Or a reproduction link perhaps? Thanks.

@napter

[2021-02-03 07:30] napter commented on #155
@jofftiquez  here is the code of the vue file: https://pastebin.pl/view/9398834e

Relevant bits:

`import { StripeCheckout } from "vue-stripe-checkout";
`
`                <stripe-checkout ref="sessionRef" :pk="publishableKey" :session-id="sessionId">
                  <template slot="checkout-button">

                  </template>
                </stripe-checkout>
`
`  components: {
    StripeC

[2021-02-03 08:56] dappiu commented on #155
I can confirm versions above 3.5.13 do not render anything when the component is used as instructed.

[2021-02-03 10:21] jofftiquez commented on #155
Hello @napter @dappiu I tried to recreate the reported errors but I really can't find anything. If you guys can send me a reproduction link using the latest version that would be the fastest way for me to work on this. Thanks.

[2021-02-04 13:59] dappiu commented on #155
Well, as I said in a previous comment, you could see that very easily using your [vue-stripe-checkout-nuxt-demo](https://github.com/vue-stripe/vue-stripe-checkout-nuxt-demo) repository by just replacing the old package with the new, and replacing the import in the plugin file.

I moved forward and I did that for you right here: https://github.com/dappiu/vue-stripe-checkout-nuxt-demo so you just ha

[2021-02-04 15:55] jofftiquez commented on #155
@dappiu thanks for the instructions. I got confused my bad. I will check this as soon as I get back to the project. Thanks.

The current docs website is also made with Nuxt and it's working. Maybe you can also check it, it might help. Thanks.

[2021-02-04 16:27] dappiu commented on #155
Looking at the `vuestripe.com` repo, the problem starts getting clear:

Up until version 3.5.13, you could use the default slot of your components to render things, as in:
[code]

But now it seems that the content inside the component's slot gets discarded, and in fact you place the buttons as siblings of <stripe-checkout> component and not inside its default slot, as in:
[code]

[2021-02-04 17:28] jofftiquez commented on #155
I understand. I decided to remove the slot for the button to make it more dynamic in terms of the checkout component placing. This is my fault for the lack of changelogs. It would be best to use the latest version moving forward. I will update the necessary docs. Perhaps I could write some FAQs, caveats, or the likes.

Thank you for this @dappiu very helpful input.

[2021-02-05 16:21] chrisgrim opened #164 "Can StripeElementCard create a PaymentMethod instead of a token?"
Hi,
I would love to use the Stripe Element Card to create a payment method instead of a token. This way when the user enters their credit card info I can push it to laravel cashier and charge them.
Is this possible?

[2021-02-05 17:48] jofftiquez commented on #164
Hello @chrisgrim thanks for this. To be honest I am not yet aware if such feature exists. If yes then it can definitely be done. Let me explore the docs regarding this. Or if you have a pointer for me please send it here. I'll be more than happy to help you.

[2021-02-05 19:27] chrisgrim commented on #164
Hmm All I know is what Laravel cashier recommends. They say to create a basic form
[code]
Then attach the stripe elements
[code]
Then you can get the createpaymentmethod using
[code]
If there was a way your plugin could do these steps and return the payment method that would be amazing.

[2021-02-05 23:00] jofftiquez commented on #164
I understand, in that case I think you can do it with VueStripe, I made the Stripe instance as well as the Element instance accessible via `this.$refs`. Just do the something like this:

[code]

Can you try this? Thanks.

[2021-02-06 00:54] chrisgrim commented on #164
Hi @jofftiquez
Thanks so much for helping with this!!
When I tried to add your code to my vue component like so
[code]
I get
[code]
Did I add it in the wrong location?

[2021-02-06 02:53] jofftiquez commented on #164
Hello @chrisgrim the way you use the `await stripe.createPaymentMethod('card', card, options);`, you cannot use `await` on a top-level without wrapping it with a async method. You can put these lines inside `mounted` hook, like so:

[code]

[2021-02-07 21:34] MCYouks commented on #148
Hi @jofftiquez 👋 Any update on the timeline ? Thanks

[2021-02-08 00:24] chrisgrim commented on #164
Hi @jofftiquez
Sorry if I ask a lot of questions but I am new to this :).
When I tried your code I get
[code]
I tried
[code]
and I got null but when I tried
[code]
I get
[code]
So stripe and all its functions are there. So when the function @token= tokenCreated runs after the person adds their card number and date I have
[code]
this returns
[code]
In the laravel code it asks for
[code]
cardElement

[2021-02-09 02:21] jofftiquez commented on #164
Hello sorry to reply this late, are you still having the same problem?

[2021-02-09 02:23] jofftiquez commented on #148
Hello @MCYouks thank you for asking. So far there's no significant progress yet, I've been busy finalizing the documentations these past few weeks. Hopefully I can continue working on it soon. Will keep you guys posted.

[2021-02-09 04:55] l1990790120 commented on #164
hello @chrisgrim , so you can ignore the `@token` as you don't need to token (token is created when `this.$ref.cardRef.submit()` is called. instead of calling that, you can create a separate button.

this is what i have:

in template, create a card element and btn

[code]

in script, methods, define the pay method (or anything you'd like to call it)

[code]

[2021-02-09 08:09] jofftiquez commented on #164
Hello @l1990790120, thanks for the very clear example.

[2021-02-10 01:14] chrisgrim commented on #164
@jofftiquez
You are so amazing. This is exactly what I was looking for!!
Thank you so much for helping me understand.

[2021-02-10 01:26] jofftiquez commented on #164
Hello @chrisgrim, @l1990790120 actually gave the example. 😁

[2021-02-10 01:26] jofftiquez commented on #164
I will be closing this now. Please create a new issue if you encounter a new problem. Thanks.

[2021-02-10 01:26] #164 closed

[2021-02-10 10:53] jofftiquez commented on #144
Hello @Rouzy777 using the latest version you can follow [this guide](https://vuestripe.com/stripe-elements/plugin), then you can prefill the field using the element id. Closing this for now. Thanks.

[2021-02-10 10:53] #144 closed

[2021-02-10 11:54] 9AZX commented on #110
Hey, i have the same problem and i don't know how to deal with it. The @Deph0's solution doesn't work for me.

[2021-02-10 17:50] freakypie opened #165 "iframe is not removed when component is destroyed"
An iframe appears to be created when stripe is initialized, but it is not removed when the component is destroyed. Each time the component is mounted another iframe is added to the document.

[2021-02-10 18:33] jlbousing opened #166 "stripe checkout component doesn't display"
Hi, I open this issues because stripe-checkout component doens't display like the examples...I don't know what I did wrong.

`<transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">

                        <div class="modal-header">
                            <slot name="header">

[2021-02-11 00:03] jofftiquez commented on #165
Hello @freakypie, thank you for submitting an issue. Would you mind sending a screenshot? Please also include the version, and how you are implementing it. Thanks!

For destroying tho, there's a method available for that, you can access it via ref like so:

[code]

[2021-02-11 00:14] jofftiquez commented on #166
Hello may I know if there are errors? Please follow the latest documentation in the website https://vuestripe.com

I noticed that you are using the old way of rendering the checkout button. The slot `checkout-button` is no longer available. You can just simply add the button on the same level as the checkout button.

[2021-02-11 01:10] jlbousing commented on #166
Yeah, I tried too. But is not rendering. I don't know why and there not errors in browser console

like this:

`
   <stripe-checkout
                                ref="checkoutRef"
                                mode="payment"
                                :pk="pk"
                                :line-items="lineItems"
                                :success-url="successUrl"

[2021-02-11 02:19] jofftiquez commented on #166
Hi, what version are you using? Please provide the whole component code. What happens when you click the "Pay now!"? Kindly provide the errors.

[2021-02-11 02:27] jlbousing commented on #166
Hi again.  "@vue-stripe/vue-stripe": "^4.1.1"  is the lastest right ?

when I click just execute this.$refs.checkoutRef.redirectToCheckout and then give me a 400 error...because I need create a plan in stripe, something like that...I just testing...but I think the code that I show you it must show me the form where the user enter the card number, CVC, etc...but nothing happend :( and no errors too

[2021-02-11 02:44] jofftiquez commented on #166
In this documentation https://vuestripe.com/stripe-checkout/one-time-payment/ did you follow steps 1 and 2? Enable Checkout, and Create products and prices?

Also make sure you're passing the proper `lineItems`. Please show me your code.

[2021-02-11 03:14] jlbousing commented on #166
Well...in my dashboard, checkout is enabled and I created the product:

lineItems is like this:

` data(){

            return{
                pk: process.env.STRIPE_PK,
                successUrl: `${process.env.APP_URL}/pay-success`,
                cancelUrl: `${process.env.APP_URL}/pay-cancel`,
                lineItems: [
                    {
                        price: 'prod_IvBuLQU0JD5

[2021-02-11 03:23] jlbousing commented on #166
HEY MAN I FUCKING DID IT!!!!! YEAHH

in the price I was enter the prodID not the Price ID...I tried and I did it!!!!

Thank you so much brother, I love you...greetings from Venezuela

[2021-02-11 03:23] #166 closed

[2021-02-11 03:26] jofftiquez commented on #166
Nice @jlbousing I'm glad you did it!

[2021-02-11 12:52] tommerrett opened #167 "Ability to disable advanced fraud detection"
**Is your feature request related to a problem? Please describe.**
I would like to remove the stripe fraud tracking which is an option in the stripe documentation as I do not want stripe collecting this information from users of my application. Currently with advanced fraud detection enabled stripe pings it servers at regular intervals even once the card component is unmounted.

**Describe the sol

[2021-02-11 13:46] jofftiquez opened #168 "Use stripe-js instead of the CDN url"
**Is your feature request related to a problem? Please describe.**
Maybe it will be more efficient to use the `@stripe/stripe-js` than the url version of the JS SDK. Install it as a peer-dependency.

**Describe the solution you'd like**
Replace the logic in `loadStripeSdk` utility function

[2021-02-11 13:52] #167 closed

[2021-02-11 13:54] jofftiquez commented on #167
Hello check `v4.1.3` I added a new prop for both `StripeCheckout`, and `StripeElementCard` components.

| name | type | description |
| ------- | ------ | --------------- |
| disableAdvancedFraudDetection | Boolean | Disable the advanced fraud protection, default value is `false`. |

[2021-02-11 13:58] tommerrett commented on #167
Thanks @jofftiquez for the super fast response and release, it's much appreciated.

[2021-02-15 04:41] tommerrett opened #170 "Ability to create a payment method instead of token for elements"
**Is your feature request related to a problem? Please describe.**
Creating stripe tokens has been deprecated by stripe and the new architecture uses payment methods and payment intents. Add ability in stripe elements card to create payment intents instead of payment methods.

**Describe the solution you'd like**
Ability to create a payment method using the elements card as per stripe-js documenta

[2021-02-15 04:47] jofftiquez commented on #170
Hello, this is possible in the current setup, it's just not documented yet. But please follow [this thread](https://github.com/vue-stripe/vue-stripe/issues/164).

The documentation task is currently on my pipeline and if there's a better way than the current please describe it here so we can collab and the work won't be doubled. Thanks.

[2021-02-15 04:54] tommerrett commented on #170
Thanks - this will do for now. Probably a good pattern to just interact directly with the stripe-js api as you suggest.

[2021-02-15 04:54] #170 closed

[2021-02-15 05:22] jofftiquez commented on #170
Yeah. If you think of anything that might help this project, don't hesitate to throw around your thoughts. Thanks man!

[2021-02-16 23:25] DominicFinn opened #171 "Rendering Error when rendering stripe-checkout (e is not a function)"
**Describe the bug**
Use the [recurring payment example on the vue stripe website](https://vuestripe.com/stripe-checkout/recurring-payment) in a clean Vue project. I have used Vue3 but stuck to the Vue2 style options layout in the example (an exact copy and paste).

I visit the view containing the component and get a console error that `e is not a function()` in the render function. Looking at the

[2021-02-17 01:32] jofftiquez commented on #171
Hello @DominicFinn thank you for this detailed issue. It will help me a lot in solving this.

It could be that you're using vue3 but I can't be sure until I dig deeper.

I changed the template to render because it is the more proper way of creating a non .vue component. Also, if I remember it correctly there's some issue with the vue linter so I had to change it to render. I can't really remember

[2021-02-17 10:39] DominicFinn commented on #171
"I changed the template to render because it is the more proper way of creating a non .vue component"

Thanks for this, I am relatively new to Vue and it's ways of doing things!

Interestingly, I noticed above, that in render, it's actually the element that get's passed into it. So when I just return the element, everything works as expected.

[code]

[2021-02-18 19:12] dominikager commented on #156
No Version works, because there are arrow functions in the dist file.
Can you please polyfill them?
Thanks!

[2021-02-19 00:35] jofftiquez commented on #156
Thanks for the input @dominikager. Will do. Thanks.

[2021-02-19 06:04] dominikager commented on #156
@jofftiquez Thanks a lot

But great plugin!

[2021-02-21 06:14] equinoxmatt commented on #110
Can confirm, I also cannot get @Deph0 solution to work. This is a big issue.

[2021-02-22 22:15] saniales opened #174 "Add an npmignore file to avoif this module to be too big"
IMHO just typings and dist folders should be included

What do you think?

I can do the PR

[2021-02-22 22:21] saniales commented on #110
I opened a PR, can you please double check? thank you <3

[2021-02-23 02:20] jofftiquez commented on #110
Hello @saniales thanks, on it.

Everyone, I apologize for this issue, I am not really that familiar with typescript typings yet, and I was really busy at work. I really appreciate your comments, I am also learning in the process. Thanks for the help.

[2021-02-23 02:21] #110 closed

[2021-02-23 02:24] jofftiquez commented on #174
Hello, @saniales I agree. The `src` is in github anyway, so it's logical to just upload the `dist`, `typings`, and other essentials to the registry. If you have time to do a PR that would be much appreciated.

[2021-02-23 02:25] jofftiquez commented on #110
Hello all kindly check `v4.1.5`

[2021-02-24 14:37] N3R00 opened #175 "How do I load the card when the customer is registered in the setup?"
How do I load the card when the customer is registered in the setup?

[2021-02-24 14:39] N3R00 commented on #175
I generate a setup session for the customer to save their card for future use, however, I need to pay a payment or subscription to the customer's card to be loaded, and this is not happening.

[2021-02-24 23:43] jofftiquez commented on #175
Hi, with this setup I believe you have to do most of the work in the backend. Create a Session with the subscription details, fetch the Customer you saved from stripe and attach it in the Session, then use the Session#id in the checkout in frontend. I'm not entirely sure if this the right way but you can always check the Sessions docs.

[2021-02-26 16:23] N3R00 commented on #175
that's exactly what I do, but it still doesn't work.
When creating the Session I put the customer id

[2021-03-02 10:35] matiasfanger opened #177 "How can i use a function to test stripe checkout?"
Currently im using `this.$refs.checkoutRef.redirectToCheckout();` but its give me this error:

`Uncaught (in promise) IntegrationError: The Checkout client-only integration is not enabled. Enable it in the Dashboard at https://dashboard.stripe.com/account/checkout/settings.`

There is a function to just see if everything is working fine? Thanks.

![imagen](https://user-images.githubusercontent.com

[2021-03-03 02:30] jofftiquez commented on #177
Based on the error, you need to enable checkout first in your Stripe dashboard

[2021-03-03 06:33] #177 closed

[2021-03-11 22:20] equinoxmatt commented on #110
@saniales - really appreciate the PR and @jofftiquez for getting this merged in so quickly.  I got the workaround working, but this is so much nicer!

[2021-03-11 23:59] saniales commented on #110
Thank you people, happy to help more in the future <3

[2021-03-17 16:10] toshkoevo commented on #148
Trying to use the library with Ionic Vue and unfortunately I get:
[code]

Ionic uses Vue3

[2021-03-19 07:56] LolkeAB opened #181 "Allow stripe sdk to be loaded with crossorigin"
**Is your feature request related to a problem? Please describe.**
Currently, when you're adding the `Cross-Origin-Opener-Policy: same-origin` header to your website (which is required for certain WASM features (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/SharedArrayBuffer#security_requirements), loading of the stripe SDK will be blocked by the browser. This ca

[2021-03-19 08:32] LolkeAB commented on #181
Hmm nevermind, the proposed fix will make the SDK load correctly, however any further steps (actually loading the Stripe html/js) still fails because of CORP.

[2021-03-19 08:32] #181 closed

[2021-03-20 09:10] jofftiquez commented on #181
@LolkeAB am not really sure, but, typically the fix to CORS error are done in the backend.

[2021-03-20 09:37] Faks commented on #175
the funny part is that that there is a bug inside stripe-checkout component so to fix this you have to pass
` :lineItems="[]"
`
also were checking typescript code and there is a bug a for the line
` lineItems: Array<any> | null
`;
**but should be**
`   lineItems: Array<any> = [];
`

[2021-03-24 12:40] jofftiquez opened #183 "Check integration of coupons & add to docs if available"
https://github.com/vue-stripe/vuestripe.com/issues/5

[2021-03-24 12:42] #171 closed

[2021-03-24 12:57] jofftiquez commented on #175
Hello @Faks thank you for pointing those out. I am not really familiar with TypeScript typings, a PR would be a big help. Thank you.

[2021-03-24 13:01] jofftiquez commented on #175
For the bug that you are talking about @Faks, would you mind pointing out the specific problematic part?

In the prop `lineItems: { type: Array, default: [], },` will not work as vue requires the default value to be a function for Objects and Arrays.

[2021-03-24 13:12] jofftiquez commented on #175
@N3R00 hello, were you able to make it work?

Upon checking the documentation for Sessions, you can try [`customer`](https://stripe.com/docs/api/checkout/sessions/object#checkout_session_object-customer) field.

If I understand your process correctly, this is how I would do it.

1. Get the user's email and other details, then use [Customers](https://stripe.com/docs/api/customers) API to save the u

[2021-03-24 13:14] Faks commented on #175
@jofftiquez Hey, sorry little busy later on evening will give more details, but now I create session on laravel api then, use session id on package that in my vue spa/pwa and then in component add :lineItems="[]" and it will work since by default it expects to have lineItems but empty array is enough to make it work since session is all ready started and do the redirect.

[2021-03-24 13:26] #174 closed

[2021-03-24 13:32] jofftiquez commented on #175
@Faks I guess I understand now. Altho it might not be exactly a "bug", but I understand how it can cause confusion. The `lineItems` should be rejected if the `sessionId` already has a value.

In reality the `lineItems` was never used when the user is using the `sessionId` as you can see in [this line](https://github.com/vue-stripe/vue-stripe/blob/556df74410b6a8887ef8c6c3777505dcf21efe3a/src/checko

[2021-03-25 07:01] #168 closed

[2021-03-25 22:52] coreymunn3 commented on #128
Solution described here

https://stackoverflow.com/questions/63059353/invalid-value-for-stripe-apikey-should-be-a-string-you-specified-undefined