[2021-03-31 08:44] EnterpriseWide opened #186 "v4.1.8 and nuxt@2.15.3"
**Describe the bug**
Installation of vue-stripe@4.1.8 as per the doco on a new nuxt@2.15.3 app fails to run as soon as you visit a page with the vue-stripe being used on it

**To Reproduce**
Steps to reproduce the behavior:
1. install new nuxt app using 'npm init nuxt-app stripe1'
2. npm install --save @vue-stripe/vue-stripe
3. StripeCheckout to the index page as described here - https://vuestripe

[2021-03-31 10:37] jofftiquez commented on #186
Hello @EnterpriseWide have you checked this? https://vuestripe.com/nuxt. Thanks.

[2021-03-31 20:58] EnterpriseWide commented on #186
Yeah, I saw that, thank you for putting that together. I was concerned that it did not use @vue-stripe/vue-stripe@4.1.8 but instead used vue-stripe-checkout@3.5.14-beta.0
So I ruled out trying to understand it because it was an older Major version and it is using a beta.
I'll try updating it to use @vue-stripe/vue-stripe

[2021-04-01 07:10] jofftiquez commented on #186
@EnterpriseWide I understand, it was an outdated one. If you want to look at the setup for the new one, I am always updating the version for @vue-stripe/vuestripe.com.

[2021-04-01 17:51] abstraktion-io commented on #183
Will it be possible?

[2021-04-03 03:44] jofftiquez commented on #183
@abstraktion-io I haven't really checked the docs related to this yet, apologies, I am currently on a leave. This is noted tho.

[2021-04-03 03:44] jofftiquez commented on #186
Hi, @EnterpriseWide closing this for now. Just let me know if you need any more help. Thanks.

[2021-04-03 03:44] #186 closed

[2021-04-05 13:06] jofftiquez opened #187 "Replace rollup with esbuild"
https://github.com/egoist/esbuild-plugin-vue
https://esbuild.github.io/

[2021-04-08 00:42] jofftiquez commented on #148
Update:

I am currently (slowly) getting started with familiarizing Vue 3 now. I still don't know that the side effects would be so I still can't create a checklist of todos. Just want to let you know guys that this is slowly but surely moving. Stay safe everyone! ❤️

[2021-04-08 00:46] jofftiquez commented on #154
I'm currently cleaning up the issues. Support for Quasar + Typescript is not really my priority right now. Still you can check if you properly registered the vue stripe plugin in the `boot` folder and quasar config file, otherwise there are cases when importing the component directly to the consuming component won't work. Closing this for now due to "no reply" reason. You can re-open this again if

[2021-04-08 00:46] #154 closed

[2021-04-08 00:47] jofftiquez commented on #155
This should be not a problem anymore in the latest version. Kindly check. Closing this for now, please open a new issue if you find anything odd again. Thank you! Stay safe everyone.

[2021-04-08 00:47] #155 closed

[2021-04-08 00:53] jofftiquez commented on #165
Hello, any feedback on this? Closing this for now, kindly re-open or create a new issue if you find anything odd again. Thank you. Stay safe.

[2021-04-08 00:53] #165 closed

[2021-04-08 00:54] jofftiquez commented on #175
Closing this due to lack of feedback. Please open a new issue if you find anything odd again. Thank you. Stay safe everyone!

[2021-04-08 00:54] #175 closed

[2021-04-08 01:00] jofftiquez commented on #183
Hello @abstraktion-io apparently `Coupons` may only be applied to `Invoices`, or `Orders`, and these are done in the backend. You can however [use `Session#discounts.coupon` to accept a discount coupon](https://stripe.com/docs/api/checkout/sessions/create#create_checkout_session-discounts-coupon) and use the [session id to checkout](https://vuestripe.com/stripe-checkout/sessions-generator). I hope

[2021-04-08 01:00] #183 closed

[2021-04-08 01:04] sillvva opened #188 "Server-Side Rendering Bug"
**Describe the bug**
Just importing the component into my Nuxt page is causing an error when loaded via server-side rendering.

The issue is in `@vue-stripe/vue-stripe/dist/index.js`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a nuxt app with server-side rendering
2. Add the component to a page.
3. Use `npm run dev` to run the page in developer mode
4. See error

**Expected behavi

[2021-04-08 01:08] jofftiquez commented on #188
Hi @sillvva what a timing, I'm working on this project right now. Have you checked [this](https://vuestripe.com/nuxt)?

[2021-04-08 01:12] sillvva commented on #188
I haven't seen it. Does this mean I just need to wait for an update, and then update the module?

[2021-04-08 01:25] jofftiquez commented on #188
@sillvva you just have to do a specific setup for it to work with nuxt smoothly. If you want I can check your project again and give you some pointers.

[2021-04-08 01:27] sillvva commented on #188
That would help a lot. You rock!

https://github.com/sillvva/mattdekok.dev/tree/master/frontend

[2021-04-08 01:33] jofftiquez commented on #188
I'll check it out.

[2021-04-08 01:42] sillvva commented on #188
Actually, I figured it out following your Github instructions!

https://github.com/vue-stripe/vue-stripe-checkout-nuxt-demo

Thanks! Sorry if I wasted your time.

[2021-04-08 01:42] #188 closed

[2021-04-08 01:53] jofftiquez commented on #188
Hi @sillvva I saw this late, I created a PR https://github.com/sillvva/mattdekok.dev/pull/69 haha. Anyway, I'm glad you figured it out.  Thanks.

[2021-04-08 22:10] devictoribero opened #189 "As developer I want SSR support for vue-stripe card element"
**Is your feature request related to a problem? Please describe.**
When using `vue-stripe` in NuxtJS SSR it throws the following error 👇:
[code]

My code is the following 👇
[code]

**Describe the solution you'd like**
I would expect that the library is only executed on the client-side, so this error is not thrown

**Describe alternatives you've considered**
I've tried to lazy load the component, b

[2021-04-08 22:16] devictoribero commented on #189
I've seen that a year ago approx, an [issue was opened in order to give support to SSR for the stripe checkout](https://github.com/vue-stripe/vue-stripe/issues/72), but I find nothing related to the `CardElement`.

_PS: I've checked the [StripeCardElement codebase](https://github.com/vue-stripe/vue-stripe/blob/master/src/elements/Card.vue) and I don't understand why this error is prompted. The `mo

[2021-04-09 03:47] jofftiquez commented on #189
Please see the Working With Nuxt section in the documentation. Thanks.

[2021-04-09 14:20] devictoribero commented on #189
@jofftiquez thank you for the hin 🙏t! I've coded myself the same, but even it's a different, I still get one error. As you can see in [my last commit](https://github.com/CrystallizeAPI/crystallize-nuxtjs-boilerplate/commit/df956cb162c82c839f163a9f3d90de4967aac027) I added the plugin:

[code]

I also added the`nuxt.config.js` needed configuration
[code]

and I'm using the component:
[code]

⚠️ I do

[2021-04-09 14:25] jofftiquez commented on #189
Hmm that's odd. I still need look at it. I will fork your current repository that has the problem so I can reproduce and debug it. Just give some time to figure it out. I'm currently on a weekend vacation I don't have access to my machine. Please keep me posted here. Thank you.

[2021-04-09 14:29] devictoribero commented on #189
Sure thing. Have fun 🌞 ! Meanwhile, I'll investigate it because it's a blocking issue for me.

It might be related to the auto-import feature of who-knows-what.

[2021-04-12 03:29] weihao commented on #189
Following from
https://github.com/vue-stripe/vue-stripe/issues/72

[2021-04-12 03:41] jofftiquez commented on #189
Hello, @devictoribero I just got back. I'll schedule this today or tomorrow. PHT. Thanks. Let me know if you found anything. Cheers!

[2021-04-12 12:10] devictoribero commented on #189
@jofftiquez I haven't been able to make it work. :(

[2021-04-12 14:58] devictoribero commented on #189
⚠️ **UPDATE @jofftiquez : Totally my bad**. I was doing `import {StripeElementCard} from '...'` instead of `import {StripeCardElement} from '...'`. This was why the plugin was not working and the framework was throwing an error of component not registered.

I've seen also that instead of creating a plugin and registering the component, a better workaround and more intuitive is to wrap the instance

[2021-04-12 16:15] jofftiquez commented on #189
@devictoribero I'm glad you figured it out man. 🤘

[2021-04-18 06:33] jofftiquez commented on #189
Closing this for now. Kindly re-open if the issue persists. Thanks.

[2021-04-18 06:33] #189 closed

[2021-04-23 14:44] muarachmann opened #191 "stripe-element-card won't render [No internet]"
**Describe the bug**
Stripe element card doesn't mount when not connected to the internet and doesn't seem to trigger the error callback

**To Reproduce**
Steps to reproduce the behavior:
Insert a stripe card element

[code]
..

**Expected behavior**

Throw error with a callback to handle appropriately.

**Screenshots**
As you can see the card renders properly when connected to the internet but do

[2021-04-23 18:47] jofftiquez commented on #191
Hello @muarachmann this is expected behavior. The script that loads the stripe elements is being fetched from Stripe's CDN link. It's only natural to fail when there's no internet.

Maybe you should handle the connection error on the application level and not on the component level. This way you could show a message to the user before the loading of any other components.

If I'm not mistaken, the

[2021-04-23 18:50] muarachmann commented on #191
@jofftiquez you are right the `@error` and thanks for your response triggers when the form is submitted. Feel free to close this and thanks for this amazing package can't wait to see future updates :D

[2021-04-23 18:55] jofftiquez commented on #191
Thank you for using it! There will be more cool stuff in the future. 💪👌

[2021-04-23 18:55] #191 closed

[2021-05-03 17:51] fyllepo opened #192 "Support stripe checkout "metadata""
Hello! thanks for your work on this package, do you have plans to include metadata for stripe checkout? I realised you've not provided the prop for it.

[2021-05-03 18:00] fyllepo commented on #192
Ah, apologies, looking a big closer at the API it's required to create a session with metadata and then attach a session id

[2021-05-03 18:00] #192 closed

[2021-05-04 00:24] jofftiquez commented on #192
No problem @fyllepo, thank you for using vue-stripe 😄

[2021-05-04 22:36] Megachill opened #193 "Please provide a nuxt + vuetify example using stripe-element-card"
**Is your feature request related to a problem? Please describe.**
As per summary, please provide a vuetify example for stripe-element-card that would render properly with vuetify. Current stripe-element-card is not scaling proper and styles seem to be broken

**Describe the solution you'd like**
Please provide an example, like in this [thread](https://github.com/vue-stripe/vue-stripe/issues/164#i

[2021-05-04 23:59] jofftiquez commented on #193
It is not possible to use vuetify component directly in the elements because Stripe sdk is mounting native input. What you can do is make use of the `elementStyle` property to make it look like vuetify component. What you see in the docs is not broken, it's intentionally bare.

If you have any more questions please let me know, thanks.

[2021-05-04 23:59] #193 closed

[2021-05-05 06:28] Megachill commented on #193
Thank you @jofftiquez - i understand what you're saying. I am not a UI designer or CSS pro by any means, if anybody has done the styling bit, i'd be super interested in how you achieved this.

[2021-05-05 07:23] jofftiquez commented on #193
Totally understand @Megachill we have the same struggle with CSS 🤣🤦‍♂️

[2021-05-05 20:56] Megachill commented on #193
So I ended up using the Stripe Plugin you provide and build my own. Somewhat looks ok now. Only thing off putting is that sometimes I am getting

`this.$stripe is undefined`  in my console and the page crashing. Ans so this seems to be when the computed piece is still doing its thing but I am attempting to mount `cardNumber` and the other fields to `stripeElements`

[2021-05-11 07:52] jmodanwal opened #197 "redirectToCheckout function is not working"
Hi,
I am trying to implement stripe plugin in my nuxt js project and followed these steps https://github.com/vue-stripe/vue-stripe-checkout-nuxt-demo#setup
When I try to call method to redirect checkout page then it's giving error : this.$refs.checkoutRef.redirectToCheckout is not a function

Can you please tell me what am I doing wrong?

![stripe-elements](https://user-images.githubusercontent.co

[2021-05-11 08:20] jofftiquez commented on #197
Hi, can I see how you implemented steps 3, and 4 in [this guide](https://github.com/vue-stripe/vue-stripe-checkout-nuxt-demo#setup)?

And a screenshot of your dev console perhaps? Thanks.

[2021-05-11 10:14] jmodanwal commented on #197
Step 3 :
![vue-stripedotjs](https://user-images.githubusercontent.com/54843020/117798486-d4b96a80-b26e-11eb-94b1-98729639b66f.png)

Step 4:
![nuxt-config](https://user-images.githubusercontent.com/54843020/117798558-e26ef000-b26e-11eb-84fb-c84937572308.png)

Console error on click:
![console-error](https://user-images.githubusercontent.com/54843020/117799441-bb64ee00-b26f-11eb-9089-ad52d4971e94.pn

[2021-05-11 13:46] jofftiquez commented on #197
Hi, thanks. I'm gonna check it out.

[2021-05-11 14:34] #197 closed

[2021-05-11 16:09] jmodanwal commented on #197
Thanks :)

[2021-05-12 01:25] jofftiquez opened #198 "Error message for non-https non-localhost implementation of vue-stripe"
Add a clear error message to tell the user that the forms/buttons/checkout is being served in a non-https server.

See: https://stripe.com/docs/building-plugins#https

[2021-05-24 08:43] jofftiquez opened #201 "Verify card feature"
Method within stripe prototype plugin to verify a card number.

[2021-05-27 16:37] drummerroma commented on #116
@MohawkMan
For who needs a working sample this should now work like this:

[code]

[2021-05-31 16:43] richdunajewski opened #203 "Question: How to prevent Stripe from creating a new customer for every client-side checkout?"
I'm using the client-only integration to allow people to subscribe to either a monthly or annual subscription plan. Every time a checkout is performed, Stripe will create a new customer even though I'm passing the same customerEmail address in, as well as the same clientReferenceId which in my case is my own ID for the user, so I can match up the webhook event to the user by ID when the event come

[2021-05-31 17:29] jofftiquez commented on #203
Hello @richdunajewski, I don't know if such a thing exists yet in the client-only integration. What I can suggest is to use Sessions. You can attach existing customers in a Session (I think). Let me check this as well so I can help you. Thanks for posting an issue.

[2021-06-01 22:32] richdunajewski commented on #203
I went ahead and created a session on the server side, which let me attach metadata to the customer and session so I could more easily process the webhook and associate the subscription with the right user in my database.

We can close this, as I think this is the right solution. Without passing in a customer ID to Stripe, they're going to always create a new customer record.

[2021-06-01 22:32] #203 closed

[2021-06-07 09:57] warrence opened #204 "Success URL return with empty data"
When im using one time payment, everything works well, but in the return to the success url after stripe payment, it didn't return anything to the success url, is that normal? I may need the payment details for logging.

[2021-06-07 13:40] jofftiquez commented on #204
Hello, @warrence that's totally normal. If you want to handle the after hook of the checkout, you can either use Sessions to predetermine the user data like customerId, email, etc., or webhooks to watch for events like Subscriptions, Billings, etc. I will be closing this for now. Thanks for posting an issue. Let me know if you need more help.

[2021-06-07 13:40] #204 closed

[2021-06-13 04:11] ramsrib commented on #161
It would be awesome to have stripe connect support here.

[2021-06-14 00:29] jofftiquez commented on #161
I agree @ramsrib hopefully there's something we can implement in vue-stripe. So far I have no significant progress yet but I am working on it.

[2021-06-14 01:20] #198 closed

[2021-06-15 20:34] 2Clutch opened #206 "Documentation for Recurring Stripe Checkout is OOD"
I'm trying to implement Stripe Checkout for a subscription for my Vue 2 app. I've used the following links as references:
1. https://vuestripe.com/stripe-checkout/recurring-payment
2. https://randomcodetips.com/recurring-stripe-checkout-payment-in-vue-js/

Using the content found in the 2 links above, I came up with the following:
[code]

When I visit the relevant route, I see a blank page. Per my

[2021-06-16 03:06] jofftiquez commented on #206
Hello @2Clutch, you are using the "deprecated" way of implementing the checkout component in the template from what I see in your snippet. The slot `checkout-button` no longer exists. If you followed the example exactly from https://vuestripe.com/stripe-checkout/recurring-payment/, it should work.

Regarding the `3 "Subscribe" buttons`, it doesn't work that way. You should still implement 1 checko

[2021-06-24 08:42] #206 closed

[2021-06-27 20:35] thinknirmal commented on #148
Hi @jofftiquez, any update on this Vue 3 support? Considering this project is now a Stripe-funded Verified Partner, people would be trusting it too much. Thanks!

[2021-06-28 00:51] jofftiquez commented on #148
@thinknirmal thank you for checking in again. You are right, I'll see what I can do to prioritize this. No promises tho. Regardless I will continue what I have already started. I will keep you guys posted here. Thanks.

[2021-06-30 01:53] trdonnisedavid opened #208 "How to handle change event in Card elements?"
Hi there, I am currently using [Stripe Elements Card](https://vuestripe.com/stripe-elements/card/), do you have any example on how to use the elements methods?

I tried to use the `@change` but it is not working.

`<stripe-element-card ref="elementRef" :pk="pulishableKey" @token="tokenCreated" @change="onCardChange" />`

Methods:
`onCardChange(event) {
          console.log(event);
}`

[2021-06-30 03:54] #208 closed

[2021-07-02 05:35] weihao opened #209 "Content Security Policy of your site blocks the use of 'eval' in JavaScript`"
Error Log:
[code]

Source:
https://github.com/vue-stripe/vue-stripe-checkout-nuxt-demo

Reproduce:
https://vue-stripe-checkout-nuxt-demo.web.app/

[2021-07-08 09:19] Lord-Y commented on #148
Can't wait to try the Vue 3 versions

[2021-07-08 09:22] ETSVSCode opened #210 "Insecure host"
**Getting this error in local**
Vue Stripe will not work on an insecure host. Make sure that your site is using TCP/SSL.

Also, I am using testing keys.

![image](https://user-images.githubusercontent.com/86507717/124897629-1c087100-dffc-11eb-80a6-edcaf03e82f1.png)

Code :

[code]

[2021-07-08 13:03] jofftiquez commented on #210
Hi, may see how your URL in localhost looks like? Thanks.

[2021-07-11 14:30] jesephan opened #211 "Error 'window is not defined' when refreshing the page"
**Describe the bug**
When stripe-checkout component is rendered inside a wizard form and user reload the page it will show **Window is not defined** you can check the attach image for more details. Fyi i already set { src: '~/plugins/vue-stripe.ts', ssr: false }

**To Reproduce**
Steps to reproduce the behavior:
Im using Nuxt @ v2.14.12 and I integrate this page/component inside a wizard form.

**

[2021-07-11 17:07] jofftiquez commented on #211
Hello, may I know what version of `vue-stripe` are you using? And perhaps a snippet of your implementation. Thanks.

[2021-07-12 09:17] jesephan commented on #211
@jofftiquez my package version is set to `"@vue-stripe/vue-stripe": "^4.2.5"` here is the [link](https://pastebin.com/QehmG1zA) of my implementation

[2021-07-13 11:31] AKurka opened #212 "Unknown the.$refs.checkoutRef on vue3 Component with TypeScript"
**Describe the bug**
I imported the StripeCheckout component in my Vue3 App but I have an error with my submit method.

**To Reproduce**
Steps to reproduce the behavior:
1. I imported the StripeCheckout Component.
2. I added the <stripe-checkout> part
3. I added all the data and the submit method.
4. I have this error : Object is of type 'unknown' on my this.$refs.checkoutRef.redirectToCheckout()

[2021-07-13 13:40] jofftiquez commented on #212
Hi, I'm sorry, there's no support for Vue 3 yet. See #148

[2021-07-13 13:40] jofftiquez commented on #212
Closing this for now, I'll keep you posted in #148

[2021-07-13 13:40] #212 closed

[2021-07-13 14:44] AKurka opened #213 "publishableKey doesn't exist on Type ... & redirectoToCheckout doesn't exist on type ..."
**Describe the bug**
I added Vue Stripe on my vue2 Project and I have 2 similar errors on my code :
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/44458979/125472482-7169a9d9-1955-4fef-a5e7-fa4862fb6c76.png)

**Additional context**
Here is my code if you want to check

[code]

Do I need to import something else or ?

[2021-07-14 00:39] jofftiquez commented on #213
Hi, I don't see anything wrong with your implementation. These errors are not from `vue-stripe`, somehow your typescript is invalidating the code. I'm not an expert in typescript so I can't tell really, sorry. But I am definitely sure there's nothing wrong with your implementation.

For you reference, `vue-stipe`'s typings has the method `redirectToCheckout()` declared -> https://github.com/vue-st

[2021-07-14 03:49] mrdigitalau commented on #210
I second this issue. I set it up originally and it worked without https on test mode but now it doesn't.

I am using laragon and my project is using a domain generated by hosts file http://myproject.test

Is there any way around this?

[2021-07-19 03:11] caobaloc12 opened #214 "Stripe Element Card: Missing value for createPaymentMethod: card should be an object or element"
Missing value for `createPaymentMethod`: card should be an object or element when using StripePlugin and StripeElementCard in nuxt app

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Input card number: 4242 4242 4242 4242, expiry date: 02/25, cvv: 314
2. Click 'submit'

**Desktop (please complete the following information):**
 - OS: MacOS
 - Browser: chrome

[2021-07-19 18:18] SloS13 commented on #210
I'm having this issue as well.  Was working on local a few days ago.

[2021-07-19 19:43] hansemannn commented on #211
It seems to be an issue with SSR / server-side-rendering that is not handled in the Stripe integration, is that possible?

[2021-07-20 00:19] jofftiquez commented on #211
@hansemannn you are right, although the importing of Stripe.js should solve this issue, that's why I'm a bit confused. Anyway, I will check @jesephan's implementation to see what's up.

[2021-07-20 00:23] jofftiquez commented on #211
@jesephan you can omit this part in your implementation.

`import { StripeCheckout } from '@vue-stripe/vue-stripe';`

Did you do [this part](https://github.com/vue-stripe/vue-stripe-checkout-nuxt-demo/blob/master/README.md#step-3)?

As you can see, importing the component directly to the consuming component is not present in [this sample](https://github.com/vue-stripe/vue-stripe-checkout-nuxt-demo

[2021-07-20 00:27] jofftiquez commented on #214
Hi what does `this.$refs.elementRef.element` return? Would you mind sending a screenshot of the actual error? Thank you.

[2021-07-20 00:29] jofftiquez commented on #210
Hi all, I understand the problem now. I will add a check to the logic to check if the project is on test mode.

[2021-07-20 07:57] jesephan commented on #211
@jofftiquez @hansemannn seems to be removing the import and instead rely on the auto import solves my problem.
so to anyone having this issue, removing `import { StripeCheckout } from '@vue-stripe/vue-stripe';` from your component will solve it.

Thank you so much guys.

[2021-07-20 07:57] #211 closed

[2021-08-01 17:23] silveltman opened #216 "Release dates for other payment methods?"
I live in the Netherlands where everyone uses the payment method 'iDeal bank'. The websites says a component for this is coming soon, but is there any indication of when this is exactly?
Thanks!

[2021-08-04 03:27] mukeshprajapati-kombee opened #218 "Error event not working"
Error event not emitting anything, I mean setStripeErrors not getting called

**To Reproduce**
Steps to reproduce the behavior:
`<stripe-element-card class="company-card" ref="elementRef" :pk="pulishableKey" :elementStyle="elementStyle" @error="setStripeErrors" >`

**Expected behavior**
It should emit error events with error objects

**Screenshots**
If applicable, add screenshots to help explain y

[2021-08-04 11:22] Brigat0 commented on #210
Same problem here ...

[2021-08-11 09:45] benedict-w commented on #210
Any resolution for this?

[2021-08-14 05:42] kabaluyot commented on #79
In the case of a checkout, adding metadata is good feature just like in stripe-js

[2021-08-16 08:34] tfnick opened #220 "stripe checkout: process is not defined"
## NOTE: Moving forward, issues that does not conform with this format will be closed automatically. (You can delete this part)

**Describe the bug**
I use 'stripe checkout' in my quasar web app, when I access the checkout page in browser, I found some error in console and error info is 'process is not defined'.

I read the vue-stripe code and found content of constant.js as bellow:

export const

[2021-08-16 08:38] tfnick commented on #220
[vue stripe checkout example](https://vuestripe.com/stripe-checkout/recurring-payment)

[2021-08-19 00:15] OneLoneFox commented on #210
Same issue as of today

[2021-08-19 07:35] pidong commented on #210
Same issue, any fix on this?

[2021-08-19 07:48] benedict-w commented on #210
My **hack** so that I could test on an insecure local environment was to find and replace the instances of 'localhost' with my own hostname in the dist files (in the src it's here https://github.com/vue-stripe/vue-stripe/blob/master/src/utils.js#L2). A better solution would probably be to install an SSL locally!

[2021-08-19 08:48] Brigat0 commented on #210
Well, thanks for the tips ;)

[2021-08-19 18:43] OneLoneFox commented on #210
Thanks!

Just to elaborate on the issue, I'm using wsl2 to serve my project with `php artisan serve --host=0.0.0.0` for it to be accessible on my host machine I'm then generating a test url with hosts `wsl.test` (not really relevant) so the fix to this issue might need more than checking host names since wsl uses a class b ip and some people use host file URLs. I'd suggest adding a configuration f

[2021-08-30 01:14] Flo2315 opened #222 "Shipping rates Vue Stripe Checkout"
**Is your feature request related to a problem? Please describe.**
Unable to add shipping charges in Vue Stripe Checkout

**Describe the solution you'd like**
As for the other props, a new one should be added that allows you to pass the shipping costs id
exemple `shipping-rates="shr_123456789"`

What do you think ?
Thank you 🙏

[2021-08-31 04:55] Sirius-al commented on #148
Is this Fixed Yet for Vue 3.

[2021-08-31 14:12] semanticmx commented on #148
@Sirius-al
You can checkout PR #221 branch and help us test Vue 3 support there. This fix has not been merged yet so the main master branch still has not support for Vue 3.

[2021-09-01 18:01] ark007 opened #224 "Allow promotion codes in Checkout"
Please allow promotion codes in Stripe Checkout.

The parameter should be :"allow_promotion_codes"="true"

Thank you

[2021-09-01 18:06] ark007 commented on #224
Found duplicate.

[2021-09-01 18:06] #224 closed

[2021-09-03 01:42] jdbeaver opened #225 "LineItems and using a price Id"
**Describe the bug**
I'm following the docs for Vue Stripe Checkout (Subscription). When hitting the subscribe button I am getting the following error:

IntegrationError: No such plan: 'price_xxxxxxxxxxxxxxx'

Obviously looking for a planId here instead of a priceId as shown in the docs. I've enabled client-only mode on the Stripe side of things. Am I overlooking something here?

The code:

[code]

[2021-09-08 07:14] rendom commented on #210
Any update on this?

[2021-09-09 12:23] Lord-Y commented on #148
@jofftiquez Any updates on the refactoring to support Vue 3?

[2021-09-10 20:25] jdbeaver commented on #225
Turns out something obvious with Stripe settings. Specifically the publishableKey being incorrect after adding company info. Thanks.

[2021-09-10 20:25] #225 closed

[2021-09-12 18:54] samstaron commented on #161
Stripe connect documentation instructs to pass the connected account ID when initialising Stripe. How can I implement with Vue-Stripe? I have a component as per the [Vue-Stripe documentation](https://vuestripe.com/stripe-elements/card) and am already passing the 'pk' prop, but cannot add the connected stripeAccount.

[code]

[2021-10-04 13:48] jofftiquez commented on #222
Hello, this is noted. Thank you for submitting an issue. Apologies for the hiatus.

[2021-10-04 13:51] jofftiquez commented on #220
Hello, first of all, apologies for the hiatus. Thank you for submitting an issue. I will look into it immediately.

The code should not affect your code directly if you exclude vue-stripe for your build process. Anyhow, I will see what I can do.

[2021-10-04 13:54] jofftiquez commented on #218
Hello, first of all, apologies for the hiatus. Thank you for submitting an issue, I will look into it. Thanks.

[2021-10-04 13:56] jofftiquez commented on #216
Hello, first of all, apologies for the hiatus, it has been a few busy months for me lately. Thank you for submitting an issue. Payment methods are something that is already on the way. I will look into the timeline again, but this is definitely the next one.

[2021-10-04 13:58] jofftiquez commented on #213
Hello, I will be closing this for now to reduce stale issues. Please reopen if needed. Thanks.

[2021-10-04 13:58] #213 closed

[2021-10-04 14:11] jofftiquez commented on #210
Hello, first of all, apologies for the hiatus. It has been a busy few months for me. I will fix this immediately. The solution I have in mind is to have a `test-mode` boolean props for the component so I can add it as an additional check to bypass the check. Altho it would defeat the purpose of the thing. I'll update you guys. Apologies again.

[2021-10-04 14:14] jofftiquez commented on #148
Hello everyone, first of all, I would like to sincerely apologize to all of you for the delays to the vue 3 version. It has been a tough few months for me, and I am having a hard time balancing my projects. But, I don't want this to be an excuse not to honor my commitments to this project. Please have a little more patients with me as I will surely deliver this as soon as I can. Stay safe everyone

[2021-10-05 23:37] seand88 commented on #148
thanks for the update, looking forward to the vue3 version

[2021-10-13 18:21] hcphoon01 opened #230 "Stripe Client Reference ID "ignored""
**Describe the bug**
I am setting the `clientReferenceId` field in the stripe checkout component to a valid customer id, but each time I hit the subscribe button on stripe's website after filling in payment details, it creates a new customer and doesn't use the customer id.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the stripe dashboard
2. Create Customer
3. Copy Customer ID and p

[2021-10-28 22:33] deidyomega opened #232 "Allow users to pass in extra data to createToken"
## NOTE: Moving forward, issues that does not conform with this format will be closed automatically. (You can delete this part)

**Is your feature request related to a problem? Please describe.**
We use stripe radar, and are required to pass in name, and address information to the createToken

**Describe the solution you'd like**
Allow the element to take in extra information as needed.  As shown

[2021-10-31 13:36] jofftiquez opened #234 "Event not working"
https://github.com/vue-stripe/vuestripe.com/issues/27#issue-958996444

[2021-10-31 14:15] jofftiquez commented on #232
Merged #231

[2021-10-31 14:15] #232 closed

[2021-10-31 14:16] jofftiquez commented on #234
Duplicate of #218

[2021-10-31 14:16] #234 closed

[2021-11-17 07:24] gusly opened #241 "Support for automatic_tax parameter"
I started using vue-stripe, but noticed that it's not possible to set "automatic_tax parameter" (https://stripe.com/docs/tax/checkout) through the props. Enabling that will add tax when paying, if the product prices are set to have the exclusive tax behavior (and depending on other account settings).

Would it be possible to add support for it?

[2021-11-21 12:11] #220 closed

[2021-11-25 13:08] johnykes opened #246 "Support Subscription Metered billing"
**Is your feature request related to a problem? Please describe.**
I want to be able to create metered subscriptions using vue-stripe.

**Describe the solution you'd like**
Support metered billing...

**Describe alternatives you've considered**
None yet...

**Additional context**
[code]

[2021-11-25 13:44] #246 closed

[2021-11-25 15:36] tomparle opened #247 "Warning message for "partner_id" parameter"
**Describe the bug**
After upgraded vue-stripe to 4.2.5, when opening my vue app, the following warning is displayed in the developer console :
`Failed to register your library: Invalid value for WrapperLibrary: partner_id should be a string starting with pp_partner_. You specified: .`

**To Reproduce**
1. Create a vue project
2. Add @vue-stripe/vue-stripe 4.2.5
3. Launch the app
4. Display dev co

[2021-11-25 15:40] tomparle commented on #148
All the best @jofftiquez for your work on Vue 3 support, I know it may be tough to make some progress on several projects at the same time.
Thanks again for your work, don't hesitate to call for help for testing, docs or anything we could do.

[2021-11-28 01:32] YosefOberlander commented on #148
Hello,

Any update in support for vue3?

[2021-11-29 13:11] Meas commented on #247
Same thing happening to me. I suppose it is the "stripeAccount" variable that needs to be passed as options, but I'm unsure of what that is suppose to be.

[2021-12-06 13:45] MCYouks commented on #148
Hello @jofftiquez , thanks for your work. Looking forward to seeing Vue 3 support for this project 😄

[2021-12-11 08:29] GijsGoudzwaard commented on #148
@jofftiquez Is there anything we can do to help in getting vue-stripe ready for vue 3? As I understand https://github.com/vue-stripe/vue-stripe/pull/221 is a semi working version for vue 3. Maybe it's an idea to put that in a separate branch so that people can start implementing vue stripe with vue 3?

[2021-12-12 16:42] sebaqe commented on #216
Hi Jofftiquez! thanks for creating this library and congrats on being an official stripe partner.
I am trying to figure out if I could use stripe Payment Element (the one that automatically offers multiple payment options based on what the stripe account enables in their dashboard). Is this already available or is it in the plans? I feel like it should probably take precedence over other payment m

[2021-12-12 16:43] sebaqe commented on #161
I am also looking at Using this with Stripe Connect for a marketplace. is this being worked on? if not, can I help somehow?
thanks,
Sebastian

[2021-12-22 20:48] Mihailoff opened #249 "redirectToCheckout doesn't return promise from SDK"
**Describe the bug**
https://stripe.com/docs/js/checkout/redirect_to_checkout

**To Reproduce**
https://vuestripe.com/stripe-checkout/sessions

**Expected behavior**
Return promise or handle error https://github.com/vue-stripe/vue-stripe/blob/v4.2.9/src/checkout/index.js#L33

**Screenshots**
N/A

**Desktop (please complete the following information):**
 - OS: Any
 - Browser: Any
 - vue-stripe v4.2

[2021-12-23 00:18] santoshag commented on #139
+1 to support `allow_promotion_codes` in Checkout

[2022-01-06 02:40] shidcordero opened #250 "Stripe donation support?"
**Is your feature request related to a problem? Please describe.**
How to use this library for a Stripe donation feature?

**Describe the solution you'd like**
-

**Describe alternatives you've considered**
-

**Additional context**
-

[2022-01-10 00:54] jofftiquez opened #251 "Familiarize typescript"

[2022-01-10 00:56] jofftiquez opened #252 "Create new Elements demo (maybe use vue 3 as well)"

[2022-01-10 00:57] jofftiquez opened #253 "Create Checkout demo (maybe use vue 3 as well)"

[2022-01-10 00:57] jofftiquez opened #254 "Create new Elements docs"

[2022-01-10 00:57] jofftiquez opened #255 "Create new Elements"

[2022-01-10 00:57] jofftiquez opened #256 "Create Checkout docs page"

[2022-01-10 00:57] jofftiquez opened #257 "Create Checkout"

[2022-01-10 00:57] jofftiquez opened #258 "Move main docs to gitbook"

[2022-01-10 00:57] jofftiquez opened #259 "Setup project with typescript in another branch"

[2022-01-10 01:04] jofftiquez commented on #148
Hello everyone, apologies for the long wait. 2021 has been really hard for me and I really appreciate your understanding and being patient. I couldn't wish for a better community than I have with you guys. With regards to this, I am officially starting the upgrade for Vue 3 this year. A lot is in store for Vue Stripe in 2022. I am also talking to some incoming major contributors from the organizat

[2022-01-10 16:22] tomparle commented on #148
Thank you for the news @jofftiquez !
I hope you to stay safe and well too.

For information, the url you provided to check your project (https://github.com/orgs/vue-stripe/projects/1/views/1) seems broken (at least for me), would you have another one ?

[2022-01-11 00:30] jofftiquez commented on #148
@tomparle thank you!

Hmm it seems the "projects [beta]" is not public. But here it is:

![Screenshot_20220111_082917](https://user-images.githubusercontent.com/8638243/148860513-351d7dd0-ae3b-4b37-a981-0c321ab2d5cc.png)

It's just the major summary of all of the things for vue 3. This will come after some major updates for Elements for the current version.

[2022-01-11 15:49] tomparle commented on #148
That sounds great, thanks !
Note that TypeScript is not mandatory to use Vue 3, although it's of course a good thing to familiarize with it and benefit of this language's features for writing Vue code !

[2022-01-11 17:15] jofftiquez commented on #148
Note that TypeScript is not mandatory to use Vue 3, although it's of course a good thing to familiarize with it and benefit of this language's features for writing Vue code !

Certainly, @tomparle. This is just for personal benefits, it will help the onboarding to the project a lot easier and safer. Also, Stripe uses TypeScript internally, it would be a nice touch to align with them. But, point ta

[2022-01-12 09:00] maximemoreillon commented on #210
Sorry to hear about your busy schedule, but are there any news about the test-mode prop?

[2022-01-12 21:55] opuu commented on #247
I am also getting the same warning.

[2022-01-13 10:50] jofftiquez commented on #247
Hi all, I am almost done migrating the docs to GitBook. After that there's just a new feature that I need to implement, then I can go back to the issues. Thank you.

[2022-01-13 14:19] craigh411 commented on #247
Looks to me like this is coming from here: https://github.com/vue-stripe/vue-stripe/blob/f9151239cd864e2b033a94cbe7cf64775591f54b/src/stripe/index.js#L16

constants.js contains

[code]

I would guess that these were local environment variables, which would mean it would work in a development environment where these are set.

I think that the partner id could just be hardcoded into constants as thi

[2022-01-13 14:53] jofftiquez commented on #247
Hello @craigh411 you are correct.

[2022-01-14 10:58] tomparle commented on #148
I agree with what you said and would have done the same if I were you !

[2022-01-14 15:57] sl1der commented on #222
Could definitely use a `shipping-rates: type: Array` prop for the project I'm working on.

[2022-01-19 03:42] davidlapham commented on #161
Any updates on this? It appears the docs say it's supported, however, I can see that the connect_account id is not being passed in the query.

[2022-01-19 05:16] escully27 opened #264 "Type in Payment Elements Demo Example"
missing an 's' in elementOptions (line 6) and then line 22.

sorry if nit-picky but I think it'll help at least one person in future!

![Screen Shot 2022-01-18 at 10 13 42 PM](https://user-images.githubusercontent.com/11113163/150068488-ea858456-56c8-43fc-96ee-1ab1f2945dcf.png)

[2022-01-19 07:09] totherush opened #265 "Vue 2 problem with StripePaymentElement: "Unknown custom element: <stripe-payment-element>""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
- Using Vue 2.6.14
- Trying to implement a poc with StripePaymentElement according [the docs](https://docs.vuestripe.com/vue-stripe/stripe-elements/payment)
- With custom implementation of `generatePaymentIntent()` setup_intent object fetching works with our backend

**Expect

[2022-01-23 13:56] SecureSnowball commented on #264
Oh man, I can't believe I have wasted an hour trying to figure out what is wrong

[2022-01-23 17:13] jofftiquez commented on #264
This has been fixed. Apologies for the mistake.

https://docs.vuestripe.com/vue-stripe/stripe-elements/payment

[2022-01-23 17:13] #264 closed

[2022-01-23 17:15] jofftiquez commented on #265
Hi, in the docs it says `StripeElementPayment` not `StripePaymentElement`. Thank you.

[2022-01-23 17:15] #265 closed

[2022-01-25 00:42] rpkhatri80s commented on #247
Any Update on this?

[2022-01-25 17:04] jofftiquez commented on #250
There's a prop to the checkout component called `submitType`.

Stripe docs: https://stripe.com/docs/js/checkout/redirect_to_checkout#stripe_checkout_redirect_to_checkout-options-submitType
VueStripe docs: https://docs.vuestripe.com/vue-stripe/stripe-checkout/getting-started

[2022-01-25 17:04] #250 closed

[2022-01-25 17:07] jofftiquez commented on #249
Thanks for this, the next version will include this. I kinda missed this one, thank you for pointing out.

[2022-01-25 17:08] #249 closed

[2022-01-25 17:18] jofftiquez commented on #216
Hello @silveltman @sebaqe do you think the new Payment Element feature covers your use-case? Let me know. Thanks.

https://docs.vuestripe.com/vue-stripe/stripe-elements/payment

[2022-01-25 17:23] #241 closed

[2022-01-25 17:25] jofftiquez commented on #247
I will temporarily remove this for now as I cannot remember how to get the value for the stripe partner id, this will just be temporary and I will return this as it is important for Vue Stripe. The next release should fix this.

[2022-01-25 17:42] jofftiquez commented on #247
`v4.3.3` should fix this. Thank you. Closing for now. Kindly re-open if still persisting.

[2022-01-25 17:42] #247 closed

[2022-01-25 17:55] jofftiquez commented on #210
Hello all, apologies for the late action. I added a new prop called `testMode` use this if you want to intentionally bypass the insecure host check. Kindly check the updated docs. Thank you.

[2022-01-25 17:55] #210 closed

[2022-01-25 17:58] jofftiquez commented on #218
Hi I've tested this and I am getting the events. Would you mind adding more info like screenshot of console errors? Apologies I can't really proceed with the current information. Thanks.

[2022-01-25 18:03] jofftiquez commented on #222
@Flo2315 @sl1der upon checking there is no such option as `shipping-rates` in the `redirectToCheckout` method. Instead, you can [create a Session](https://stripe.com/docs/api/checkout/sessions/object#checkout_session_object-shipping_options-shipping_rate) with the shipping rate option just like you want and [use that session to checkout using Vue Stripe](https://docs.vuestripe.com/vue-stripe/strip

[2022-01-25 18:03] #222 closed

[2022-01-25 18:08] jofftiquez commented on #230
Hello upon checking the `clientReferenceId` prop is being used just fine by Vue Stripe. You may check here:

Prop:
https://github.com/vue-stripe/vue-stripe/blob/ab6afa7da3529b7d4bc3bb86d849e91a02a0d184/src/checkout/props.js#L41

Options setup:
https://github.com/vue-stripe/vue-stripe/blob/master/src/checkout/index.js#L47

Options usage:
https://github.com/vue-stripe/vue-stripe/blob/master/src/chec

[2022-01-25 18:08] #230 closed

[2022-01-25 18:10] jofftiquez commented on #209
Hello, this may not be relevant to vue-stripe itself as the error/warning is in the demo code. Will close this for now. Thanks.

[2022-01-25 18:10] #209 closed

[2022-01-25 18:23] jofftiquez commented on #161
Hi everyone. I am contemplating about this and I can't really think of a way to utilize VueStripe for Strip Connect given the nature of the integration of Stripe Connect to the frontend. I might be wrong but I really can't see anything for now.

As for @samstaron's concern, those options have always been available to the Card elements props. As you can see here:

https://github.com/vue-stripe/vue-

[2022-01-26 17:22] ravikiranr26 commented on #259
Hello @jofftiquez Can i get to know more about this task ? Would like to setup and contribute to this task

[2022-01-26 17:23] Aybee5 commented on #253
Hello, is anyone working on this?

[2022-01-27 06:45] jofftiquez commented on #253
@Aybee5 so far no one is working on this. It's not possible at the moment as well as the vue3 version does not exist yet. I will let you know ASAP. Thanks for your interest.

[2022-01-27 06:46] jofftiquez commented on #259
@ravikiranr26 I will deploy the branch for vue3 version soon. I'll let you know here when it's available so you can check it and mess around with it. Thanks!

[2022-01-27 09:55] silveltman commented on #216
Looks like it would, yeah!
However, I haven't worked with Vue much lately, so will give it a try when I get into another Vue project.

Thanks!

[2022-01-27 10:17] jofftiquez commented on #216
Thanks @silveltman I'll be closing this for now. Feel free to open a new issue if you encountered any. Have a great one!

[2022-01-27 10:17] #216 closed

[2022-01-27 13:03] ravikiranr26 commented on #259
@jofftiquez Thanks. I started to convert the current vue2 version to typescript and its in progress. on my frok with branch rknmit/with-typescript

[2022-01-29 00:57] juloxrox commented on #230
@hcphoon01 You can solve this by generating a session ID first with the your customer stripe ID as "customer" parameter and then pass the session ID to vue stripe checkout component.

I got the subscription attached correctly to my logged in customer

[2022-01-29 11:53] #109 closed

[2022-01-29 13:26] jofftiquez commented on #109
Hello @florinrelea `vue-stripe-checkout` was the old version. Could you use `@vue-stripe/vue-stripe`? Thanks.

[2022-01-31 08:12] tomaszukovskij commented on #148
Hi @jofftiquez Thank you for creating stripe for vue. I am using latest version 4.4.1, importing `stripe-checkout` but on page leave I am receiving weird error
My stripe config:
`<stripe-checkout
        ref="checkoutRef"
        mode="payment"
        :pk="pk"
        :line-items="lineItems"
        :success-url="successURL"
        :cancel-url="cancelURL"
        :billingAddressCollection="'requ

[2022-02-17 11:40] AbrahamBrookes opened #269 "Don't redirect after successful payment using <stripe-element-payment>"
**Is your feature request related to a problem? Please describe.**
I am using the `<stripe-element-payment>` component in order to set up a payment intent and allow future payments without having to re-ask for credit card details. I can pass in `confirmParams.return_url` in order to redirect the page on a successful payment, however I don't want to redirect - I want to process the successful payme

[2022-02-18 08:57] YednapNibas opened #270 "New customer created in each subscription."
**Describe the bug**
Even though we provide client reference id it's creating a new customer.

**To Reproduce**
Steps to reproduce the behavior:
1. Add :client-reference-id="customerID" to the vue-stripe component with mode="subscription"
2. Provide valid customerID
3. Subscribe to any product
4. It'll create a new customer.

**Expected behavior**
No new customer should be created but should be ad

[2022-02-19 17:07] waymorphood opened #272 "StripeElementPayment with subscription?"
Hi there,

I have a product in stripe that has a monthly recurring price.
I can get the checkout working fine with vue stripe. I would prefer to use the payment element.
All of the examples show calling back end to create a payment intent like this:
![image](https://user-images.githubusercontent.com/59782695/154811014-55bdcd8c-b3c2-4290-8407-e7c215006d81.png)

 stripe support says:
"You don't have

[2022-03-02 12:56] jofftiquez commented on #269
@AbrahamBrookes I understand, let's see what we can do.

@yizhuang-chew Are you referring to [this](https://stripe.com/docs/js/payment_intents/confirm_payment#confirm_payment_intent-options-redirect)? If so I believe a `confirmParams` property already exists in the `StripeElementPayment` component.

Refer to:
https://github.com/vue-stripe/vue-stripe/blob/d7c86ad0fec644dd6383aa8fda9f5c5109175ae5/sr

[2022-03-02 13:02] jofftiquez commented on #270
This is similar to #230 you can read it and the discussion might help you.

[2022-03-02 13:03] jofftiquez commented on #270
Closing in favor of #230

[2022-03-02 13:03] #270 closed

[2022-03-02 13:04] jofftiquez commented on #258
New docs here -> https://docs.vuestripe.com/

[2022-03-02 13:04] #258 closed

[2022-03-02 13:33] jofftiquez commented on #148
Hi all, I am currently playing with vue 3 and I made a couple of re-iteration on how I will approach the transition. Upon a few times of trying to make vue 2 and 3 co-exist in one setup, I decided to just override everything and re-write (which will probably be the case anyway) the whole thing in typescript. I am still unsure how to maintain the current version after this so I am still doing addit

[2022-03-03 12:29] nilsm commented on #148
In the meantime it would be good to have a clear message on the homepage to say that it's not Vue 3 compatible yet. Having the 'Vue 2 Version' link on there made me think that the current version is aimed at Vue 3.

As a workaround, if you're using Stripe Checkout with server-side integration, it's very easy to code by using the `@stripe/stripe-js` npm package instead of vue-stripe. Here is a snip

[2022-03-05 22:35] AbrahamBrookes commented on #269
As I understand it, the `redirect: 'if_required'` param falls _outside_ of the confirmParams block:

![image](https://user-images.githubusercontent.com/8340776/156901958-ad0e2661-d633-446a-9c61-97f3fe64389b.png)

Which we don't have access to set via the `Elements` component. So, I guess, another prop on the component?

[2022-03-05 22:47] AbrahamBrookes commented on #269
simple PR: https://github.com/vue-stripe/vue-stripe/pull/274

[2022-03-07 00:37] jofftiquez commented on #269
@AbrahamBrookes I understand now, my bad. This is great I will merge your PR soon.

[2022-03-07 00:37] jofftiquez commented on #269
Closing for #274

[2022-03-07 00:37] #269 closed

[2022-03-07 00:44] jofftiquez commented on #269
@AbrahamBrookes @yizhuang-chew kindly check `v4.4.2` Thanks.

[2022-03-09 02:50] jofftiquez commented on #148
Good day everyone, sorry to say that I will be cancelling the typescript version. It is taking me a lot of time to implement. I will now use JS for vue 3, also to provide better backwards compatibility with vue 2 version. Apologies for the extra delays. 😥

[2022-03-11 13:38] lespinosa commented on #259
any news about vue3 support.

[2022-03-12 13:50] brunokunace commented on #148
@jofftiquez have a public repo for us help you? or a private =)

[2022-03-17 06:16] tsukhani opened #275 "Return_url query string prepended"
**Describe the bug**
Upon returning from payment, the return_url displays correctly. However, the query string is not appended to the end of the url, but before it.

http://localhost:8080/?payment_intent=xxx&.../#payment-return

**To Reproduce**
Steps to reproduce the behavior:
1. Submit payment to Stripe using Payment element (https://docs.vuestripe.com/vue-stripe/stripe-elements/payment)
2. See

[2022-03-29 22:08] javimendezona commented on #139
Is there any chance we can get this option added to the component? It would be nice and I think a lot of people would benefit from having promo codes for subscriptions.

[2022-04-02 12:43] fbmfbm commented on #148
Hi, any news about this ?
Need to use it in vue 3 prod.

Thank's a lot for your work !

[2022-04-03 08:35] tomparle commented on #148
@fbmfbm , as much as I support this plugin and the author, I may suggest you to use directly Stripe.js instead. You will have one less dependency, no problem with vue 3, and the migration is very easy.

[2022-04-03 09:10] fbmfbm commented on #148
@tomparle
Yes,thank...that's the way for now in prod !

[2022-04-06 13:36] ChrisClsg commented on #210
Hello @jofftiquez, is there any reason why the `testMode` prop was not also added to the `StripeCheckout` component?
Using `StripeCheckout` results also in the `Vue Stripe will not work on an insecure host. Make sure that your site is using TCP/SSL.` error as it uses the same `isSecureHost` check that needs to be bypassed.

[2022-04-11 06:47] jofftiquez commented on #148
Thank you for this @tomparle. I agree with Tom, if you really absolutely need the integration as soon as possible, I'd suggest go with this route.

@everyone, The development for the vue 3 version is now ongoing but I am still in the tooling part, this may slow me down a bit more (almost done) because I want to be critical with how everything is set up specially, given the amount of time that I am

[2022-04-16 06:48] deepshar78 commented on #139
I am wondering who will use vue-stripe if coupon codes are not supported. This is a very basic and mandatory feature. Can the vue-stripe team help?

[2022-04-16 09:55] jofftiquez commented on #139
This is the whole list of options for the `.redirectToCheckout` method for the checkout functionality. There are no option here to add promo code. As I have mention on my comment above, you need to use the [Coupons](https://stripe.com/docs/api/coupons), [Promo Codes](https://stripe.com/docs/api/promotion_codes), or [Discounts](https://stripe.com/docs/api/discounts) APIs to create the coupon and cr

[2022-04-19 17:17] ikramooe commented on #128
having the same issue

[2022-04-30 11:20] arturosanz commented on #259
Vue 3 ???

[2022-05-01 12:12] BigBlueHat opened #278 "Partner page link is broken"
**Describe the bug**
The "visit partner" link at https://stripe.com/partners/directory/vue-stripe goes to `vustripe.com` rather than `vuestripe.com`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://stripe.com/partners/directory/vue-stripe
2. Click on "visit partner"
4. See error

**Expected behavior**
To end up at vuestripe.com

**Desktop (please complete the following informat

[2022-05-01 12:13] BigBlueHat commented on #278
Also the top two links at vuestripe.com 404.

[2022-05-01 17:19] jofftiquez commented on #278
Thanks @BigBlueHat I messed this one up I will update it immediately thanks.

[2022-05-01 17:19] #278 closed

[2022-05-05 01:09] ken-scarf opened #279 "Inconsistent zip/postal code collection"
**Describe the bug**
Stripe card element is inconsistent with collecting zip/postal code.

**To Reproduce**
Steps to reproduce the behavior:
1. with default attributes or configure the vue stripe element with
[code]
2. Fill in the card number with the test card `4242424242424242`
3. An input for zip code will show up.
4. Clear card number input. Maybe even refresh your browser.
5. Fill in the card

[2022-05-09 05:48] jon1010hill opened #280 "Consent Collection Promotiions"
I would like to be able to pass 'consent_collection[promotions]=auto' as part of the request that is sent to /checkout/sessions.

[2022-05-10 18:17] danigomez opened #281 "Stripe Elements update to allow "loader" option"
**Is your feature request related to a problem? Please describe.**
Stripe added a new attribute called "loader" in order to use a skeleton loader in the Stripe Elements, is this already implemented in this lib?

**Describe the solution you'd like**
Add "loader" attribute to opt-in or opt-out to use the loader.

**Describe alternatives you've considered**

**Additional context**
![image](https://us

[2022-05-10 18:23] danigomez commented on #281
It seems that it may not be needed to update the code, because it pass the whole `elementOptions` when it creates the element.
https://github.com/vue-stripe/vue-stripe/blob/master/src/elements/index.js#L16

Can you confirm??
Thanks!

[2022-05-20 07:33] AliN11 opened #282 "Using async attribute on stripe script gives window.Stripe is not a function"
## The bug
As [Stripe.com](https://stripe.com/docs/js/including) recommends, asynchronous loading the script, can improve the user experience of your site by not blocking DOM rendering during script loading. So I added the Stripe script like the below code:
[code]

When I load the page for the first time (or with cache disabled), an error  in the `console` says:
[code]

My first question is: Is th

[2022-05-23 17:15] UpsylonDev opened #283 "How enable the client-only integration settings 2022-05 ?"
How enable the client-only integration settings  2022-05 ?
does this feature still exist?

[2022-05-28 10:56] KrystalandBarry opened #284 "Vue Stripe will not work on an insecure host. Make sure that your site is using TCP/SSL."
At present, we use Vue stripe. Currently, we deploy it to Alibaba cloud servers. When we pull up payment, an error will be reported，“Vue Stripe will not work on an insecure host. Make sure that your site is using TCP/SSL.”Is there any domain name certificate or third-party certificate required?

[2022-06-15 04:38] romain130492 commented on #79
no news about this?

[2022-06-19 15:45] james090500 commented on #284
Is your site using SSL aka https?

[2022-07-06 00:46] dzcpy opened #287 "Payment Element's submit event will be triggered when user hit enter in Stripe form"
## NOTE: Moving forward, issues that does not conform with this format will be closed automatically. (You can delete this part)

**Describe the bug**
I'm using Payment Elememt to handle custerm's payment in an ecommerce project. I've created a "Place order" button, when clicked it will create an order in the backend taking note of the payment intent and then trigger `StripeElementPayment`'s `submi

[2022-07-09 04:53] Arturexe commented on #210
@jofftiquez I'm also trying to use the checkout component, which throws the error in a local dev environment. `testMode` would be really useful.

[2022-07-10 05:55] AbrahamBrookes commented on #269
I have finally come back to this, according to https://stripe.com/docs/js/payment_intents/confirm_payment?type=pii#confirm_payment_intent-options-redirect a non-redirected call to `stripe.confirmPayment()` will resolve with a paymentIntent object. My PR emits that back to the caller:

https://github.com/vue-stripe/vue-stripe/pull/288

[2022-07-10 06:31] AbrahamBrookes commented on #269
I just dumped a local version and tested the changes, "works on my machine"

[2022-07-12 15:15] JJordan0C opened #289 "Stripe Element Card not working on Vue 3"
**Describe the bug**
The bug appears from the moment I go to implement vue-stripe within my project, I don't know how many bugs I have found, but every time I tried to add the plugin an error would pop up and yet the documentation seems to be very clear, but when I do .use (Plugin, options), the first errors pop up (I also added the stripe.js link).
After that I tried to use the elements without a

[2022-07-13 01:58] jofftiquez commented on #284
Hello I temporarily disabled this warning in [v4.4.4](https://github.com/vue-stripe/vue-stripe/releases/tag/v4.4.4)

[2022-07-14 01:12] takahamarn opened #292 "stripe-element-payment can't submit setupIntent"
using Vue 2 Version on nuxt.js.

I want to setup payment information before create subscription.

I implemented like this.
https://docs.vuestripe.com/vue-stripe/stripe-elements/payment

I got client_secret by "PaymentIntent" and move fine.

but when I got client_secret by "SetupIntent",
"No such payment_intent: 'seti_xxxxxxxxxxxxxxxxxxxxxxxxx'" was displayed.

It seems that the client_secret is in

[2022-07-23 17:27] michaeljakob opened #294 "Enable custom payment_methods"
**Is your feature request related to a problem? Please describe.**
We want to offer PayPal and IBAN/SEPA payment methods. Both are enabled in Stripe Dashboard. But not shown on Stripe Customer Portal.

**Describe the solution you'd like**
A parameter to pass all payment methods that are shown in Stripe Customer Portal.

**Describe alternatives you've considered**
Switching to a different Plugin. U

[2022-07-23 17:27] michaeljakob commented on #294
IBAN/SEPA: https://stripe.com/docs/payments/sepa-debit

[2022-07-25 13:03] Matx99 opened #295 "Uncaught (in promise) TypeError: node is null"
Hello, I received a "Uncaught (in promise) TypeError: node is null" error when I click in my router-links where I have my stripe-checkout.

To reproduce, I simply click in my nav links and then I get this error:

I notice that my url changes, according to the nav link I click, but it doesn't redirect.

![image](https://user-images.githubusercontent.com/44765946/180783405-e5403dd7-85fc-4f66-af12-9e

[2022-07-26 18:17] Matx99 commented on #295
Can anyone help me on this please?

[2022-08-04 12:31] quackerjeff opened #296 "StripePluginObject is not assignable to Parameter type Plugin_2"
I'm getting a warning, but I want to treat it like an error that Argument type StripePluginObject is not assignable to parameter type Plugin_2.  Any idea if this will be an issue?  I followed the example from **gonzalojpv** here: https://github.com/vue-stripe/vue-stripe/pull/221

`import { StripePlugin } from "@vue-stripe/vue-stripe";

const stripeOptions = {
    pk: process.env.STRIPE_PUBLISHABLE

[2022-08-06 10:31] AdamMoroff75 commented on #289
Im getting the same error.  Vue 3 using Quasar framework.

[code]

[2022-08-07 17:08] tad0xe commented on #289
i'm getting Uncaught (in promise) TypeError: Cannot read properties of undefined (reading '_c') in vue 3

[2022-08-16 15:51] kas84 commented on #292
I am facing the same issue, have you found a solution?

[2022-08-17 13:26] takahamarn commented on #292
Hi, kas84.
Thank you for comment.

I gave up on using vue-stripe,
I decided to use the official "elements" and "nuxt-stripe-module".

This worked correctly and solved my issue, but
I think vue-stripe can be implemented smarter by supporting SetupIntent.

I hope this issue will continue to be discussed.

`<template>
  <div>
    <v-form ref="elementRef" @submit.prevent="submit">
      <div class="mx

[2022-08-22 13:04] adbci commented on #289
Same here

[2022-08-24 09:40] LiuJQ commented on #289
Same exception

[2022-09-12 19:13] 9mm commented on #289
I get this, and underneath that the `_c` errors above

runtime-core.esm-bundler.js?d2dd:38 [Vue warn]: Property "$createElement" was accessed during render but is not defined on instance.
  at <Anonymous ref="cardInputStripe" pk="xxxxx" onToken=fn<bound onTokenCreate> >
  at <WrapperCheckout step-options= (2) [{…}, {…}] step-selected="review" >
  at <ViewCheckout onVnodeUnmounted=fn<onVnodeUnmount

[2022-09-12 19:15] 9mm commented on #289
Also, if this is officially under Stripe's umbrella, how are they not concerned more that this issue was created 2+ months ago and still doesn't work under vue 3?

https://stripe.com/partners/directory/vue-stripe

[2022-09-13 17:40] codegeek1001 commented on #289
From the documentation, it doesn't seem like it is ready for Vue 3 yet.

[2022-09-13 17:44] codegeek1001 commented on #148
Hi jofftiquez, Thank you for your hard work so far. Have you made more progress on this ? I am looking to use this awesome library with Vue 3 soon. If there is no ETA yet, no worries and I will use Stripe.js directly but wanted to double check.

[2022-09-13 17:49] 9mm commented on #289
<img width="555" alt="image" src="https://user-images.githubusercontent.com/1386207/189974273-6b9a7742-82b6-4147-b3e6-afba9a3350b2.png">

[2022-09-13 17:52] 9mm commented on #289
I'm wrong then, I can't find it. My bad. Maybe it was a previous vue card plugin I tried that I am confusing with this one, but I no longer see vue 3 listed out wherever I saw it.

[2022-09-20 09:56] iampankaj0 commented on #128
having the same issue

[2022-09-22 05:50] naeemscott commented on #279
When using the second card number in their playground
The zip field does not populate

Tested on []( https://codesandbox.io/s/react-stripe-js-card-detailed-omfb3?file=/src/App.js)

![react-stripe-js-card-detailed-CodeSandbox](https://user-images.githubusercontent.com/6086790/191668211-8bd09036-ba97-46a8-93e8-35e70cead09e.jpg)

[2022-09-30 13:16] hassamsaeed-qbatch commented on #289
i'm getting Uncaught (in promise) TypeError: Cannot read properties of undefined (reading '_c') in vue 3

[2022-10-06 09:39] peterkracik commented on #230
@juloxrox could you please provide an example of how you create this session id?

[2022-10-26 14:47] FPRM opened #301 "stripe-checkout shippingAddressCollection doesn't work"
## NOTE: Moving forward, issues that does not conform with this format will be closed automatically. (You can delete this part)

**Describe the bug**
trying the shippingAddressCollection extra props to the stripe-checkout component  won't work

**To Reproduce**
set the stripe checkout component with props
[code]
the shippingCollection data object looks like

[code]

when starting the checkout with

[2022-11-01 10:26] SyedSohail9t5 opened #302 "stripe-checkout functionality doesn't support custom-fields for stripe"
I'm working vue project and implementing stripe payment, I need to send custom field to checkout redirect so when I get redirect back to my url I can verify them and send data to backend server but currently It's not supporting custom fields or I'm doing it wrong?

[2022-11-03 09:17] bdkachadev commented on #154
Hi @jofftiquez

Have any solution for this.
I have same problem.

[2022-11-06 19:05] andrewrynhard commented on #295
I am facing the same issue.

[2022-11-10 07:17] walmartwarlord commented on #289
man just use the composable based package for this

https://github.com/frandiox/vue-use-stripe

ez af

[2022-11-10 15:34] walmartwarlord commented on #289
Here are better alternatives that works with Vue 3:

- https://github.com/ectoflow/vue-stripe-js
- https://github.com/frandiox/vue-use-stripe

Deprecate this package already

[2022-11-10 15:34] walmartwarlord commented on #287
Here are better alternatives that works with Vue 3:

- https://github.com/ectoflow/vue-stripe-js
- https://github.com/frandiox/vue-use-stripe

Deprecate this package already

[2022-11-25 15:17] vmontoya19 commented on #255
I have a question, I am implementing in version two of vue and nuxt but it generates an error

[2022-11-29 13:29] vmontoya19 commented on #159
hi guys, my problem is same. It´s work everthing, but  in my console I see that ,
this.$refs.elementRef.submit() Property 'submit' does not exist on type 'Vue'.
![asi](https://user-images.githubusercontent.com/115263572/204541476-9e25f7b0-43bd-4427-8114-6a9e924d6a61.PNG)

[2022-11-29 14:12] vmontoya19 opened #303 "Property 'submit' does not exist on type 'Vue'. Card element"
Good day, I have a bug with the library: https://vuestripe.com/stripe-elements/card/
I am implementing it with "nuxt": "^2.15.7", I load the component and the token responds but I get this warning or error in the console that has not allowed me to deploy. this is the message in console:

![asi](https://user-images.githubusercontent.com/115263572/204551783-158ab2d9-780b-441f-a7ab-87b952ef307f.PNG)